<div class="container p-2">
  <div class="justify-content-center mt-4">
    {{!-- Progress bar --}}
    <div class="progress" style="height: 3rem;">
      <div id="progressBar" class="progress-bar bg-danger" role="progressbar" style="width:25%;">
        <b id="progressText" class="lead">Pasul 1</b>
      </div>
    </div>
    {{!-- Progress bar END --}}

    {{!-- Inițiere FORM --}}
    <form id="form01adres" class="" method="post" enctype="multipart/form-data">
      <input type="hidden" name="_csrf" value="{{this.csrfToken}}">
      {{!-- ÎNCEPUT FORM --}}
      <div id="accordionFrm" class="p-4 rounded">

        {{!-- SECȚIUNEA - #1. TITLU ȘI RESPONSABILITATE (vezi modelul de date resursa-red.js) --}}
        <div id="unu">         
          {{!-- Acționarea grupului de controale pentru #1 --}}
          <div id="heading01">
            <h5 class="text-light text-center rounded bg-danger p-2">Titlu și responsabilitate</h5>
          </div>
          {{!-- Acționarea grupului de controale pentru #1 END--}}

          {{!-- Grupul controale - Titlu și responsabilitate [form-group] --}}
          <div id="sec01" class="form-group" aria-labelledby="heading01" data-parent="#accordionFrm">
            <fieldset>
              <legend>Titlul resursei</legend>
              {{!-- Câmpul titlului --}}
              <div id="titluRes" class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="titlu-label">Titlul resursei în limba română</span>
                </div>

                {{!-- INPUT - TITLU --}}
                <input id="titlu-res" class="form-control" type="text" name="titlu" aria-label="Titlul resursei" aria-describedby="titlu-label" placeholder="ex: Bătălia de la Călugăreni" required>
                {{!-- Validare -Helper afisare text direct / Am ales să folosesc toastmessage [plugin]--}}
                <strong id="titluErr" class="form-text text-danger"></strong>

                {{!-- Specifică limba titlului --}}
                <div class="input-group-prepend">
                  <span class="input-group-text" id="langselect-label">Indică limba</span>
                </div>
                {{!-- Opțiunile de selecție pentru limbă --}}
                <select id="langRED" class="custom-select col-6 col-lg-4" aria-describedby="langselect-label">
                  <option value="rum" selected>română</option>
                  <option value="ger">germană</option>
                  <option value="hun">maghiară</option>
                  <option value="srp">sârbă</option>
                  <option value="rom">rromani</option>
                  <option value="slo">slovenă</option>
                  <option value="cze">cehă</option>
                  <option value="ukr">ucraineană</option>
                  <option value="bul">bulgară</option>
                  <option value="hrv">croată</option> 
                  <option value="ita">italiană</option> 
                  <option value="gre">greacă</option>
                  <option value="rus">rusă</option>
                  <option value="tur">turcă</option>
                </select>
              </div>
              {{!-- HELP Titlul --}}
              <small class="form-text text-muted">
                Titlul trebuie să cuprindă un maxim de 150 de caractere, să fie clar și să evidențieze conținutul resursei.
              </small>
              {{!-- HELP Titlul End--}}

              {{!-- Buton de adăugare câmpuri noi pentru variantele în alte limbi ale titlurilor [vezi form01adres.js] --}}
              <button id="titluLangAdd" class="btn btn-outline-secondary m-2" type="button" onclick="creeazaTitluAlternativ()">+ în altă limbă</button>
              <div id="langAlternative">
                {{!-- AICI SUNT INRODUSE TITLURILE ALTERNATIVE (dynamic) --}}
              </div>
            </fieldset>
            {{!-- MENȚIUNEA DE RESPONSABILITATE --}}
            <fieldset>
              <legend>Responsabilitate: {{user.googleProfile.name}}</legend>
              {{!-- Adăugarea userului care propune resursa --}}
              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Autori</span>                  </div>
                  
                  {{!-- INPUT Persoana responsabilă --}}
                  <input id="autor" type="text" aria-label="Nume și prenume" class="form-control" value="{{user.googleProfile.name}}" required>
                  {{!-- Câmpuri ascunse --}}
                  <input id="idUser"       name="idUser"       type="hidden" value="{{user._id}}">
                  <input id="emailContrib" name="emailContrib" type="hidden" value="{{user.email}}">
                  <input id="nameUser"     name="nameUser"     type="hidden" value="{{user.googleProfile.name}}">
                  <br>
              </div>
              <small>Autorii vor fi trecuți în continuarea numelui contribuitorului menționând Nume Prenume. Aceștia vor fi delimitați prin virgule</small>
              {{!-- Adăugarea userului care propune resursa END --}}
            </fieldset>
            {{!-- MENȚIUNEA DE RESPONSABILITATE END --}}

            {{!-- Descrierea resursei educaționale --}}
            <fieldset>
              <legend>Scurtă descriere a resursei</legend>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Maxim 1000 de caractere</span>
                </div>
                <textarea id="descriereRed" class="form-control" aria-label="Descrierea resursei" rows="3"></textarea>
              </div>
            </fieldset>
            {{!-- Descrierea resursei educaționale END--}}

            {{!-- HELP Titlul --}}
            <small class="form-text text-muted">
              În maxim 1000 caractere autorul descrie conceptele/ activitățile/ conținuturile importante ale resursei, astfel încât să existe o corelație între titlu, descriere și conținut.
            </small>
            {{!-- HELP Titlul End--}}
            {{!-- Descrierea resursei educaționale END --}}

            {{!-- LICENȚIEREA RESURSEI --}}
            <fieldset>
              <legend>Alegerea licenței resursei</legend>
              <div class="input-group mb-3">
                <div class="alert alert-warning" role="alert">
                  <p>Pentru a crește nivelul de implicare și gradul de refolosire a materialelor, a fost aleasă licența Creative Commons „Atribuire”</p>
                </div>
                <div class="input-group-prepend">
                  <label class="input-group-text" for="licente">Licențe disponibile</label>
                </div>
                <select id="licente" class="custom-select">
                  <optgroup label="Creative Commons">
                    <option selected value="CC BY">Atribuire CC BY 4.0</option>
                    <option value="CC BY-SA">Atribuire - Distribuire în condiţii identice CC BY-SA 4.0</option>
                    <option value="CC BY-ND">Atribuire-FărăModificări CC BY-ND 4.0</option>
                    <option value="CC BY-NC">Atribuire-Necomercial CC BY-NC 4.0</option>
                    <option value="CC BY-NC-SA">Atribuire-Necomercial-Distribuire în Condiţii Identice CC BY-NC-SA 4.0</option>
                    <option value="CC BY-NC-ND">Atribuire-Necomercial-FărăModificări CC BY-NC-ND 4.0</option>
                  </optgroup>
                  <option value="GPLv3">GNU General Public License</option>
                </select> 
              </div>
              <p>Despre licențele Creative Commons puteți citi mai multe la <a href="https://creativecommons.org/licenses/?lang=ro">„Despre licențe”</a>. Despre efectele și aria de protecție pentru fiecare licență în parte consultă și <a href="https://creativecommons.org/choose/?lang=ro">„Distribuie-ți opera”</a></p>
              <p>Despre licența <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License</a> puteți să aflați mai multe de la <a href="https://ro.wikipedia.org/wiki/Licen%C8%9Ba_Public%C4%83_General%C4%83_GNU">articolul Wikipedia dedicat</a></p>
            </fieldset>
            {{!-- LICENȚIEREA RESURSEI  END --}}
          </div>
          {{!-- Grupul controale - Titlu și responsabilitate [form-group] END --}}

          {{!-- Avans către pasul 2 [form-group] --}}
          <div class="form-group align-self-center m-4">
            <a href="#" id="next-1" class="btn btn-success">Mergi la pasul 2</a>
          </div>
          {{!-- Avans către pasul 2 [form-group] END --}}
        </div>
        {{!-- SECȚIUNEA - #1. TITLU ȘI RESPONSABILITATE END --}}

        {{!-- SECȚIUNEA - #2. ÎNCADRAREA RESURSEI ÎN CONTEXTUL CURRICULEI --}}
        <div id="doi">
          {{!-- Acționarea grupului de controale pentru #2 --}}
          <div id="heading02">
            <h5 class="text-light rounded text-center bg-danger p-2">Încadrarea resursei</h5>
          </div>
          {{!-- Acționarea grupului de controale pentru #2 END --}}

          {{!-- Încadrarea resursei conform Planului Național [form-group] --}}
          <div id="sec02" class="form-group" aria-labelledby="heading02" data-parent="#accordionFrm">
            {{!-- Selectări de arie --}}
            <fieldset>
              <legend>Aria curriculară din care face parte disciplina</legend>
              {{!-- ARIE - Selector În caz de selecție multiplă, avem un caz de transdisciplinaritate--}}
              <div class="form-group">
                <p>Selectarea corectă a ariei este primul criteriu de încadrare a resursei. Se poate opta pentru mai multe arii curriculare atunci când resursa are un caracter transversal.</p>
                <select id="arii-curr" class="form-control custom-select" multiple>
                  <optgroup label="Limbă și comunicare">
                    <option data-arie="LbCom"         value="Limbă și comunicare">Limbă și comunicare [general]</option>
                    <option data-arie="LbComLbRomMin" value="Limba și literatura romana (pt. elevi care învață în limba maternă)">Limba și literatura romana (pt. elevi care învață în limba maternă)</option>
                    <option data-arie="LbComLbMat"    value="Limbi materne">Limbi materne</option>
                    <option data-arie="LbComLbMod"    value="Limbi moderne">Limbi moderne</option>
                  </optgroup>
                  <option data-arie="MatStNat"        value="Matematică și științe ale naturii">Matematică și științe ale naturii</option>
                  <optgroup label="Om și societate">
                    <option data-arie="OmSiSoc"       value="Om și societate">Om și societate [general]</option>
                    <option data-arie="OmSiSocIstMin" value="Istorie minorități">Istorie minorități</option>
                    <option data-arie="OmSiSocRel"    value="Religii">Religii</option>
                  </optgroup>
                  <option data-arie="Arte" value="Arte">Arte</option>
                  <optgroup label="Educație fizică și sport">
                    <option data-arie="EdFizSiSp"        value="Educație fizică și sport">Educație fizică și sport [general]</option>
                    <option data-arie="EdFizSiSpPrSpPra" value="Pregătire sportivă practică">Pregătire sportivă practică</option>              
                  </optgroup>
                  <option data-arie="Teh"        value="Tehnologii">Tehnologii</option>
                  <option data-arie="ConsOri"    value="Consiliere și orientare">Consiliere și orientare</option>
                  <option data-arie="CurrDecSco" value="Curriculum la decizia școlii">Curriculum la decizia școlii</option>
                </select>
              </div>
              {{!-- Validare arie curriculară --}}
              <strong id="currErr" class="form-text text-danger"></strong>
            </fieldset>
            {{!-- Selectări arie - END --}}

            {{!-- Selectarea nivelului de școlarizare --}}
            <fieldset>
              <legend>Clasa</legend>
              {{!-- Orice modificare aduci, ține sincronizat și resursepublice.js -> vezi Map-ul; Acesta este nomenclatorul codurilor pe discipline. Mai este necesară și actualizarea Map-ului `pamCodDisc2Arie` --}}
              <div id="nivel">
                {{!-- PRIMAR --}}
                <div class="form-check form-check-inline">
                  <input class="form-check-input nivel" type="checkbox" id="inlineCheckbox0" value="cl0"  
                    data-art-viz0     ="Arte vizuale și abilități practice" 
                    data-mate-med0    ="Matematică și explorarea mediului" 
                    data-rel-ort0     ="Religie cultul ortodox" 
                    data-rel-romcatro0="Religie Cultul Romano-Catolic de limba română"
                    data-lbcom-rom0   ="Comunicare în limba română">
                  <label class="form-check-label" for="inlineCheckbox0">Clasa pregătitoare</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input nivel" type="checkbox" id="inlineCheckbox1" value="cl1"  
                    data-art-viz1     ="Arte vizuale și abilități practice" 
                    data-mate-med1    ="Matematică și explorarea mediului" 
                    data-rel-ort1     ="Religie cultul ortodox" 
                    data-rel-romcatro1="Religie Cultul Romano-Catolic de limba română" 
                    data-lbcom-rom1   ="Comunicare în limba română">
                  <label class="form-check-label" for="inlineCheckbox1">Clasa I</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input nivel" type="checkbox" id="inlineCheckbox2" value="cl2"  
                    data-art-viz2     ="Arte vizuale și abilități practice" 
                    data-mate-med2    ="Matematică și explorarea mediului" 
                    data-rel-romcatro2="Religie Cultul Romano-Catolic de limba română" 
                    data-rel-ort2     ="Religie cultul ortodox" 
                    data-lbcom-rom2   ="Comunicare în limba română">
                  <label class="form-check-label" for="inlineCheckbox2">Clasa a II-a</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input nivel" type="checkbox" id="inlineCheckbox3" value="cl3"  
                    data-art-viz3     ="Arte vizuale și abilități practice" 
                    data-mat3         ="Matematică" 
                    data-stanat3      ="Științele naturii" 
                    data-rel-ort3     ="Religie cultul ortodox" 
                    data-rel-romcatro3="Religie Cultul Romano-Catolic de limba română" 
                    data-lbcom-rom3   ="Limba și literatura română" 
                    data-edciv3       ="Educaţie civică" 
                    data-jocmi3       ="Joc și mișcare">
                  <label class="form-check-label" for="inlineCheckbox3">Clasa a III-a</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input nivel" type="checkbox" id="inlineCheckbox4" value="cl4"  
                    data-art-viz4     ="Arte vizuale și abilități practice" 
                    data-mat4         ="Matematică" 
                    data-stanat4      ="Științele naturii" 
                    data-rel-ort4     ="Religie cultul ortodox" 
                    data-rel-romcatro4="Religie Cultul Romano-Catolic de limba română" 
                    data-lbcom-rom4   ="Limba și literatura română" 
                    data-edciv4       ="Educaţie civică" 
                    data-geo4         ="Geografie" 
                    data-ist4         ="Istorie" 
                    data-jocmi4       ="Joc și mișcare">
                  <label class="form-check-label" for="inlineCheckbox4">Clasa a IV-a</label>
                </div>
                {{!-- PRIMAR END --}}
                {{!-- GIMANZIU --}}
                <div class="form-check form-check-inline">
                  <input class="form-check-input nivel" type="checkbox" id="inlineCheckbox5" value="cl5"
                    data-lbcom-rom5      ="Limba și literatura română" 
                    data-lbcom-rom-mag5  ="Limba și literatura română secții maghiare" 
                    data-lbmat-bulgara5  ="Limba şi literatura maternă bulgară" 
                    data-lbmat-ceha5     ="Limba şi literatura maternă cehă" 
                    data-lbmat-croata5   ="Limba şi literatura maternă croată" 
                    data-lbmat-germana5  ="Limba şi literatura maternă germană" 
                    data-lbmat-geringer5 ="Limba şi literatura maternă germană în limba germană" 
                    data-lbmat-italiana5 ="Limba şi literatura maternă italiană" 
                    data-lbmat-maghiara5 ="Limba şi literatura maternă maghiară" 
                    data-lbmat-maginmag5 ="Limba şi literatura maternă maghiară în limba maghiară"
                    data-lbmat-neogreaca5="Limba şi literatura maternă neogreacă" 
                    data-lbmat-polona5   ="Limba şi literatura maternă polonă"
                    data-lbmat-rroma5    ="Limba şi literatura maternă rromani" 
                    data-lbmat-rusa5     ="Limba şi literatura maternă rusă"
                    data-lbmat-sarba5    ="Limba şi literatura maternă sârbă"
                    data-lbmat-slovaca5  ="Limba şi literatura maternă slovacă"
                    data-lbmat-turca5    ="Limba şi literatura maternă turcă" 
                    data-lbmat-ucraina5  ="Limba şi literatura maternă ucraineană" 
                    data-lbmod1-engleza5 ="Limbă modernă - engleză" 
                    data-lbmod1-eng-int5 ="Limbă modernă - engleză intensiv" 
                    data-lbmod1-franceza5="Limbă modernă - franceză" 
                    data-lbmod1-fra-int5 ="Limbă modernă - franceză intensiv" 
                    data-lbmod1-italiana5="Limbă modernă - italiană" 
                    data-lbmod1-ita-int5 ="Limbă modernă - italiană intensiv" 
                    data-lbmod1-spaniola5="Limbă modernă - spaniolă" 
                    data-lbmod1-span-int5="Limbă modernă - spaniolă intensiv" 
                    data-lbmod1-ebraica5 ="Limbă modernă - ebraică" 
                    data-lbmod1-germana5 ="Limbă modernă - germană" 
                    data-lbmod1-ger-int5 ="Limbă modernă - germană intensiv" 
                    data-lbmod1-rusa5    ="Limbă modernă - rusă" 
                    data-lbmod1-rus-int5 ="Limbă modernă - rusă intensiv" 
                    data-lbmod1-japoneza5="Limbă modernă - japoneză" 
                    data-lbmod1-jap-int5 ="Limbă modernă - japoneză intensiv" 
                    data-lbmod2-chineza5 ="Limbă modernă - chineză" 
                    data-lbmod2-engleza5 ="Limbă modernă - engleză" 
                    data-lbmod2-franceza5="Limbă modernă - franceză" 
                    data-lbmod2-italiana5="Limbă modernă - italiană" 
                    data-lbmod2-spaniola5="Limbă modernă - spaniolă" 
                    data-lbmod2-turca5   ="Limbă modernă - turcă" 
                    data-lbmod2-germana5 ="Limbă modernă - germană" 
                    data-lbmod2-japoneza5="Limbă modernă - japoneză" 
                    data-lbmod2-rusa5    ="Limbă modernă - rusă" 
                    data-lbmod2-portugheza5="Limbă modernă - portugheză" 
                    data-mat5            ="Matematică"
                    data-bio5            ="Biologie" 
                    data-edusoc5         ="Educație socială" 
                    data-ist5            ="Istorie" 
                    data-geo5            ="Geografie" 
                    data-rel-advz5       ="Cultul Adventist de Ziua a Şaptea" 
                    data-rel-bapt5       ="Cultul Baptist" 
                    data-rel-crdev5      ="Cultul Creştin după Evanghelie" 
                    data-rel-evca5       ="Cultul Evanghelic CA" 
                    data-rel-grcat5      ="Cultul Greco-Catolic" 
                    data-rel-mus5        ="Cultul Musulman" 
                    data-rel-ort5        ="Cultul Ortodox" 
                    data-rel-ortritv5    ="Cultul Ortodox de Rit Vechi" 
                    data-rel-ortucr5     ="Cultul Ortodox Ucrainean" 
                    data-rel-pen5        ="Cultul Penticostal" 
                    data-rel-ref5        ="Cultul Reformat" 
                    data-rel-refmag5     ="Cultul Reformat în lb. maghiară" 
                    data-rel-romcatro5   ="Cultul Romano-Catolic de limbă română" 
                    data-rel-romcatmg5   ="Cultul Romano-Catolic de limbă maghiară" 
                    data-rel-romcatlbmg5 ="Cultul Romano-Catolic de limbă maghiară în lb. maghiară" 
                    data-rel-unit5       ="Cultul Unitarian" 
                    data-art-edpl5       ="Educaţie plastică" 
                    data-art-edmz5       ="Educaţie muzicală" 
                    data-art-tsd5        ="Teorie - Solfegiu - Dicteu" 
                    data-art-edmuz-ger5  ="Educaţie muzicală pentru minoritatea germană" 
                    data-art-edmuz-ita5  ="Educaţie muzicală pentru minoritatea italiană" 
                    data-art-edmuz-mag5  ="Educaţie muzicală pentru minoritatea maghiară" 
                    data-art-edmuz-magr5 ="Educaţie muzicală pentru minoritatea maghiară în lb. română" 
                    data-art-edmuz-pol5  ="Educaţie muzicală pentru minoritatea poloneză" 
                    data-art-edmuz-rrm5  ="Educaţie muzicală pentru minoritatea rromă" 
                    data-art-edmuz-srb5  ="Educaţie muzicală pentru minoritatea sârbă" 
                    data-art-edmuz-slv5  ="Educaţie muzicală pentru minoritatea slovacă" 
                    data-art-edmuz-tur5  ="Educaţie muzicală pentru minoritatea turcă" 
                    data-art-edmuz-ucr5  ="Educaţie muzicală pentru minoritatea ucraineană" 
                    data-fizic5          ="Educaţie fizică şi sport" 
                    data-pfiz-atl5       ="Atletism" 
                    data-pfiz-bad5       ="Badminton" 
                    data-pfiz-bas5       ="Basket" 
                    data-pfiz-bab5       ="Baseball" 
                    data-pfiz-can5       ="Canotaj" 
                    data-pfiz-dns5       ="Dans sportiv" 
                    data-pfiz-fot5       ="Fotbal" 
                    data-pfiz-gif5       ="Gimnastică artistică feminină" 
                    data-pfiz-gim5       ="Gimnastică artistică masculină" 
                    data-pfiz-gir5       ="Gimnastică ritmică" 
                    data-pfiz-hal5       ="Haltere" 
                    data-pfiz-han5       ="Handbal" 
                    data-pfiz-hok5       ="Hochei pe gheaţă" 
                    data-pfiz-hoi5       ="Hochei pe iarbă" 
                    data-pfiz-int5       ="Înot" 
                    data-pfiz-jud5       ="Judo" 
                    data-pfiz-kca5       ="Kaiac-canoe" 
                    data-pfiz-krt5       ="Karate" 
                    data-pfiz-gro5       ="Lupte greco-romane" 
                    data-pfiz-lpl5       ="Lupte libere" 
                    data-pfiz-osp5       ="Orientare sportivă" 
                    data-pfiz-par5       ="Patinaj artistic" 
                    data-pfiz-pav5       ="Patinaj viteză" 
                    data-pfiz-ppa5       ="Polo pe apă"  
                    data-pfiz-rgb5       ="Rugby" 
                    data-pfiz-sne5       ="Sanie" 
                    data-pfiz-sia5       ="Sărituri în apă" 
                    data-pfiz-sap5       ="Schi alpin" 
                    data-pfiz-sbi5       ="Schi biatlon" 
                    data-pfiz-sfd5       ="Schi fond"  
                    data-pfiz-sor5       ="Schi orientare" 
                    data-pfiz-ssr5       ="Schi sărituri" 
                    data-pfiz-scr5       ="Scrimă" 
                    data-pfiz-sfb5       ="Softball" 
                    data-pfiz-sae5       ="Sport aerobic" 
                    data-pfiz-sah5       ="Șah" 
                    data-pfiz-ten5       ="Tenis" 
                    data-pfiz-tem5       ="Tenis de masă" 
                    data-pfiz-vol5       ="Volei" 
                    data-pfiz-yht5       ="Yachting" 
                    data-tec-edtap5      ="Educaţie tehnologică şi aplicaţii practice" 
                    data-tec-info5       ="Informatică şi TIC" 
                    data-tec-ed5         ="Educație tehnologica" 
                    data-cons-ed5        ="Consiliere şi dezvoltare personală" 
                    data-crr-ist5        ="Istorie orală: Istorie trăită-Istorie povestită" 
                    data-crr-lect5       ="Lectura și abilitățile de viață" 
                    data-crr-grne5       ="Limba neoelenă şi civilizația Greciei antice" 
                    data-crr-micr5       ="Mai întâi caracterul" 
                    data-crr-matsc5      ="Matematică și științe în societatea cunoașterii" 
                    data-crr-edvit5      ="Pregătiţi pentru viaţă. Educaţie pentru viaţă şi comunitate" 
                    data-crr-radlt5      ="Rădăcini latine în cultura şi civilizaţia românească" 
                    > 
                  <label class="form-check-label" for="inlineCheckbox5">Clasa a V-a</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input nivel" type="checkbox" id="inlineCheckbox6" value="cl6" 
                    data-lbcom-rom6      ="Limba și literatura română" 
                    data-lbcom-rom-mag6  ="Limba și literatura română secții maghiare"                     
                    data-lbmat-bulgara6  ="Limba şi literatura maternă bulgară" 
                    data-lbmat-ceha6     ="Limba şi literatura maternă cehă" 
                    data-lbmat-croata6   ="Limba şi literatura maternă croată" 
                    data-lbmat-germana6  ="Limba şi literatura maternă germană" 
                    data-lbmat-geringer6 ="Limba şi literatura maternă germană în limba germană" 
                    data-lbmat-italiana6 ="Limba şi literatura maternă italiană" 
                    data-lbmat-maghiara6 ="Limba şi literatura maternă maghiară" 
                    data-lbmat-maginmag6 ="Limba şi literatura maternă maghiară în limba maghiară"
                    data-lbmat-neogreaca6="Limba şi literatura maternă neogreacă" 
                    data-lbmat-polona6   ="Limba şi literatura maternă polonă"
                    data-lbmat-rroma6    ="Limba şi literatura maternă rromani" 
                    data-lbmat-rusa6     ="Limba şi literatura maternă rusă"
                    data-lbmat-sarba6    ="Limba şi literatura maternă sârbă"
                    data-lbmat-slovaca6  ="Limba şi literatura maternă slovacă"
                    data-lbmat-turca6    ="Limba şi literatura maternă turcă" 
                    data-lbmat-ucraina6  ="Limba şi literatura maternă ucraineană" 
                    data-lbmod1-engleza6 ="Limbă modernă - engleză" 
                    data-lbmod1-eng-int6 ="Limbă modernă - engleză intensiv" 
                    data-lbmod1-franceza6="Limbă modernă - franceză" 
                    data-lbmod1-fra-int6 ="Limbă modernă - franceză intensiv" 
                    data-lbmod1-italiana6="Limbă modernă - italiană" 
                    data-lbmod1-ita-int6 ="Limbă modernă - italiană intensiv" 
                    data-lbmod1-spaniola6="Limbă modernă - spaniolă" 
                    data-lbmod1-span-int6="Limbă modernă - spaniolă intensiv" 
                    data-lbmod1-ebraica6 ="Limbă modernă - ebraică" 
                    data-lbmod1-germana6 ="Limbă modernă - germană" 
                    data-lbmod1-ger-int6 ="Limbă modernă - germană intensiv" 
                    data-lbmod1-rusa6    ="Limbă modernă - rusă" 
                    data-lbmod1-rus-int6 ="Limbă modernă - rusă intensiv" 
                    data-lbmod1-japoneza6="Limbă modernă - japoneză" 
                    data-lbmod1-jap-int6 ="Limbă modernă - japoneză intensiv" 
                    data-lbmod2-chineza6 ="Limbă modernă - chineză" 
                    data-lbmod2-engleza6 ="Limbă modernă - engleză" 
                    data-lbmod2-franceza6="Limbă modernă - franceză" 
                    data-lbmod2-italiana6="Limbă modernă - italiană" 
                    data-lbmod2-spaniola6="Limbă modernă - spaniolă" 
                    data-lbmod2-turca6   ="Limbă modernă - turcă" 
                    data-lbmod2-germana6 ="Limbă modernă - germană" 
                    data-lbmod2-japoneza6="Limbă modernă - japoneză" 
                    data-lbmod2-rusa6    ="Limbă modernă - rusă" 
                    data-lbmod2-portugheza6="Limbă modernă - portugheză" 
                    data-mat6            ="Matematică"                    
                    data-fiz6            ="Fizică" 
                    data-bio6            ="Biologie" 
                    data-edusoc6         ="Educație socială" 
                    data-ist6            ="Istorie" 
                    data-geo6            ="Geografie" 
                    data-min-bulgara6    ="Istoria şi tradiţiile minorităţii bulgare" 
                    data-min-bul-rom6    ="Istoria şi tradiţiile minorităţii bulgare din România" 
                    data-min-ceha6       ="Istoria şi tradiţiile minorităţii cehe"
                    data-min-ceh-rom6    ="Istoria şi tradiţiile minorităţii cehe din România" 
                    data-min-croata6     ="Istoria şi tradiţiile minorităţii croate" 
                    data-min-cro-rom6    ="Istoria şi tradiţiile minorităţii croate din România" 
                    data-min-germana6    ="Istoria şi tradiţiile minorităţii germane" 
                    data-min-ger-rom6    ="Istoria şi tradiţiile minorităţii germane din România" 
                    data-min-italiena6   ="Istoria şi tradiţiile minorităţii italiene"
                    data-min-ita-rom6    ="Istoria şi tradiţiile minorităţii italiene din România" 
                    data-min-maghiara6   ="Istoria şi tradiţiile minorităţii maghiare"
                    data-min-mag-rom6    ="Istoria şi tradiţiile minorităţii maghiare din România" 
                    data-min-maghiararom6="Istoria şi tradiţiile minorităţii maghiare în lb. română" 
                    data-min-elene6      ="Istoria şi tradiţiile minorităţii elene" 
                    data-min-ele-rom6    ="Istoria şi tradiţiile minorităţii elene din România" 
                    data-min-poloneza6   ="Istoria şi tradiţiile minorităţii poloneze" 
                    data-min-pol-rom6    ="Istoria şi tradiţiile minorităţii poloneze din România" 
                    data-min-rrome6      ="Istoria şi tradiţiile minorităţii rrome" 
                    data-min-rrm-rom6    ="Istoria şi tradiţiile minorităţii rrome din România" 
                    data-min-rusilip6    ="Istoria si traditiile minoritatii rușilor lipoveni" 
                    data-min-rus-rom6    ="Istoria şi tradiţiile minorităţii rușilor staroveri din România"                     
                    data-min-sarba6      ="Istoria si traditiile minoritatii sârbe" 
                    data-min-srb-rom6    ="Istoria şi tradiţiile minorităţii sârbe din România" 
                    data-min-slovace6    ="Istoria si traditiile minoritatii slovace" 
                    data-min-slv-rom6    ="Istoria şi tradiţiile minorităţii slovace din România" 
                    data-min-turce6      ="Istoria si traditiile minoritatii turce" 
                    data-min-trt-rom6    ="Istoria si traditiile minoritatii turcilor și tătarilor din Romania" 
                    data-min-ucraina6    ="Istoria si traditiile minoritatii ucrainene" 
                    data-min-ucr-rom6    ="Istoria si traditiile minoritatii ucrainene din Romania" 
                    data-rel-advz6       ="Cultul Adventist de Ziua a Şaptea" 
                    data-rel-bapt6       ="Cultul Baptist" 
                    data-rel-crdev6      ="Cultul Creştin după Evanghelie" 
                    data-rel-evca6       ="Cultul Evanghelic CA" 
                    data-rel-grcat6      ="Cultul Greco-Catolic" 
                    data-rel-mus6        ="Cultul Musulman" 
                    data-rel-ort6        ="Cultul Ortodox" 
                    data-rel-ortritv6    ="Cultul Ortodox de Rit Vechi" 
                    data-rel-ortucr6     ="Cultul Ortodox Ucrainean" 
                    data-rel-pen6        ="Cultul Penticostal" 
                    data-rel-ref6        ="Cultul Reformat" 
                    data-rel-refmag6     ="Cultul Reformat în lb. maghiară" 
                    data-rel-romcatro6   ="Cultul Romano-Catolic de limbă română" 
                    data-rel-romcatmg6   ="Cultul Romano-Catolic de limbă maghiară" 
                    data-rel-romcatlbmg6 ="Cultul Romano-Catolic de limbă maghiară în lb. maghiară" 
                    data-rel-unit6       ="Cultul Unitarian" 
                    data-art-edpl6       ="Educaţie plastică" 
                    data-art-edmz6       ="Educaţie muzicală" 
                    data-art-tsd6        ="Teorie - Solfegiu - Dicteu"                     
                    data-art-edmuz-ger6  ="Educaţie muzicală pentru minoritatea germană" 
                    data-art-edmuz-ita6  ="Educaţie muzicală pentru minoritatea italiană" 
                    data-art-edmuz-mag6  ="Educaţie muzicală pentru minoritatea maghiară" 
                    data-art-edmuz-magr6 ="Educaţie muzicală pentru minoritatea maghiară în lb. română" 
                    data-art-edmuz-pol6  ="Educaţie muzicală pentru minoritatea poloneză" 
                    data-art-edmuz-rrm6  ="Educaţie muzicală pentru minoritatea rromă" 
                    data-art-edmuz-srb6  ="Educaţie muzicală pentru minoritatea sârbă" 
                    data-art-edmuz-slv6  ="Educaţie muzicală pentru minoritatea slovacă" 
                    data-art-edmuz-tur6  ="Educaţie muzicală pentru minoritatea turcă" 
                    data-art-edmuz-ucr6  ="Educaţie muzicală pentru minoritatea ucraineană" 
                    data-fizic6          ="Educaţie fizică şi sport" 
                    data-pfiz-atl6       ="Atletism" 
                    data-pfiz-bad6       ="Badminton" 
                    data-pfiz-bas6       ="Basket" 
                    data-pfiz-bab6       ="Baseball" 
                    data-pfiz-can6       ="Canotaj" 
                    data-pfiz-dns6       ="Dans sportiv" 
                    data-pfiz-fot6       ="Fotbal" 
                    data-pfiz-gif6       ="Gimnastică artistică feminină" 
                    data-pfiz-gim6       ="Gimnastică artistică masculină" 
                    data-pfiz-gir6       ="Gimnastică ritmică" 
                    data-pfiz-hal6       ="Haltere" 
                    data-pfiz-han6       ="Handbal" 
                    data-pfiz-hok6       ="Hochei pe gheaţă" 
                    data-pfiz-hoi6       ="Hochei pe iarbă" 
                    data-pfiz-int6       ="Înot" 
                    data-pfiz-jud6       ="Judo" 
                    data-pfiz-kca6       ="Kaiac-canoe" 
                    data-pfiz-krt6       ="Karate" 
                    data-pfiz-gro6       ="Lupte greco-romane" 
                    data-pfiz-lpl6       ="Lupte libere" 
                    data-pfiz-osp6       ="Orientare sportivă" 
                    data-pfiz-par6       ="Patinaj artistic" 
                    data-pfiz-pav6       ="Patinaj viteză" 
                    data-pfiz-ppa6       ="Polo pe apă"  
                    data-pfiz-rgb6       ="Rugby" 
                    data-pfiz-sne6       ="Sanie" 
                    data-pfiz-sia6       ="Sărituri în apă" 
                    data-pfiz-sap6       ="Schi alpin" 
                    data-pfiz-sbi6       ="Schi biatlon" 
                    data-pfiz-sfd6       ="Schi fond"  
                    data-pfiz-sor6       ="Schi orientare" 
                    data-pfiz-ssr6       ="Schi sărituri" 
                    data-pfiz-scr6       ="Scrimă" 
                    data-pfiz-sfb6       ="Softball" 
                    data-pfiz-sae6       ="Sport aerobic" 
                    data-pfiz-sah6       ="Șah" 
                    data-pfiz-ten6       ="Tenis" 
                    data-pfiz-tem6       ="Tenis de masă" 
                    data-pfiz-vol6       ="Volei" 
                    data-pfiz-yht6       ="Yachting" 
                    data-tec-edtap6      ="Educaţie tehnologică şi aplicaţii practice" 
                    data-tec-info6       ="Informatică şi TIC" 
                    data-tec-ed6         ="Educație tehnologica" 
                    data-cons-abad6      ="Abilități pentru adolescență" 
                    data-cons-ed6        ="Consiliere şi dezvoltare personală" 
                    data-crr-ist6        ="Istorie orală: Istorie trăită-Istorie povestită" 
                    data-crr-lect6       ="Lectura și abilitățile de viață" 
                    data-crr-grne6       ="Limba neoelenă şi civilizația Greciei antice" 
                    data-crr-micr6       ="Mai întâi caracterul" 
                    data-crr-matsc6      ="Matematică și științe în societatea cunoașterii" 
                    data-crr-edvit6      ="Pregătiţi pentru viaţă. Educaţie pentru viaţă şi comunitate" 
                    data-crr-radlt6      ="Rădăcini latine în cultura şi civilizaţia românească" 
                    >                    
                  <label class="form-check-label" for="inlineCheckbox6">Clasa a VI-a</label>
                </div>
                <div class="form-check form-check-inline nivel">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="cl7" 
                    data-lbcom-rom7      ="Limba și literatura română" 
                    data-lbcom-lat7      ="Elemente de limbă latină și de cultură romanică" 
                    data-lbcom-rom-mag7  ="Limba și literatura română secții maghiare"                     
                    data-lbmat-bulgara7  ="Limba şi literatura maternă bulgară" 
                    data-lbmat-ceha7     ="Limba şi literatura maternă cehă" 
                    data-lbmat-croata7   ="Limba şi literatura maternă croată" 
                    data-lbmat-germana7  ="Limba şi literatura maternă germană" 
                    data-lbmat-geringer7 ="Limba şi literatura maternă germană în limba germană" 
                    data-lbmat-italiana7 ="Limba şi literatura maternă italiană" 
                    data-lbmat-maghiara7 ="Limba şi literatura maternă maghiară" 
                    data-lbmat-maginmag7 ="Limba şi literatura maternă maghiară în limba maghiară"
                    data-lbmat-neogreaca7="Limba şi literatura maternă neogreacă" 
                    data-lbmat-polona7   ="Limba şi literatura maternă polonă"
                    data-lbmat-rroma7    ="Limba şi literatura maternă rromani" 
                    data-lbmat-rusa7     ="Limba şi literatura maternă rusă"
                    data-lbmat-sarba7    ="Limba şi literatura maternă sârbă"
                    data-lbmat-slovaca7  ="Limba şi literatura maternă slovacă"
                    data-lbmat-turca7    ="Limba şi literatura maternă turcă" 
                    data-lbmat-ucraina7  ="Limba şi literatura maternă ucraineană" 
                    data-lbmod1-engleza7 ="Limbă modernă - engleză" 
                    data-lbmod1-eng-int7 ="Limbă modernă - engleză intensiv" 
                    data-lbmod1-franceza7="Limbă modernă - franceză" 
                    data-lbmod1-fra-int7 ="Limbă modernă - franceză intensiv" 
                    data-lbmod1-italiana7="Limbă modernă - italiană" 
                    data-lbmod1-ita-int7 ="Limbă modernă - italiană intensiv" 
                    data-lbmod1-spaniola7="Limbă modernă - spaniolă" 
                    data-lbmod1-span-int7="Limbă modernă - spaniolă intensiv" 
                    data-lbmod1-ebraica7 ="Limbă modernă - ebraică" 
                    data-lbmod1-germana7 ="Limbă modernă - germană" 
                    data-lbmod1-ger-int7 ="Limbă modernă - germană intensiv" 
                    data-lbmod1-rusa7    ="Limbă modernă - rusă" 
                    data-lbmod1-rus-int7 ="Limbă modernă - rusă intensiv" 
                    data-lbmod1-japoneza7="Limbă modernă - japoneză" 
                    data-lbmod1-jap-int7 ="Limbă modernă - japoneză intensiv" 
                    data-lbmod2-chineza7 ="Limbă modernă - chineză" 
                    data-lbmod2-engleza7 ="Limbă modernă - engleză" 
                    data-lbmod2-franceza7="Limbă modernă - franceză" 
                    data-lbmod2-italiana7="Limbă modernă - italiană" 
                    data-lbmod2-spaniola7="Limbă modernă - spaniolă" 
                    data-lbmod2-turca7   ="Limbă modernă - turcă" 
                    data-lbmod2-germana7 ="Limbă modernă - germană" 
                    data-lbmod2-japoneza7="Limbă modernă - japoneză" 
                    data-lbmod2-rusa7    ="Limbă modernă - rusă" 
                    data-lbmod2-portugheza7="Limbă modernă - portugheză"  
                    data-mat7            ="Matematică"                                   
                    data-fiz7            ="Fizică"  
                    data-chim7           ="Chimie" 
                    data-bio7            ="Biologie" 
                    data-edusoc7         ="Educație socială" 
                    data-ist7            ="Istorie" 
                    data-geo7            ="Geografie" 
                    data-cultciv7        ="Cultură civică" 
                    data-min-bulgara7    ="Istoria şi tradiţiile minorităţii bulgare" 
                    data-min-bul-rom7    ="Istoria şi tradiţiile minorităţii bulgare din România" 
                    data-min-ceha7       ="Istoria şi tradiţiile minorităţii cehe"
                    data-min-ceh-rom7    ="Istoria şi tradiţiile minorităţii cehe din România" 
                    data-min-croata7     ="Istoria şi tradiţiile minorităţii croate" 
                    data-min-cro-rom7    ="Istoria şi tradiţiile minorităţii croate din România" 
                    data-min-germana7    ="Istoria şi tradiţiile minorităţii germane" 
                    data-min-ger-rom7    ="Istoria şi tradiţiile minorităţii germane din România" 
                    data-min-italiena7   ="Istoria şi tradiţiile minorităţii italiene"
                    data-min-ita-rom7    ="Istoria şi tradiţiile minorităţii italiene din România" 
                    data-min-maghiara7   ="Istoria şi tradiţiile minorităţii maghiare"
                    data-min-mag-rom7    ="Istoria şi tradiţiile minorităţii maghiare din România" 
                    data-min-maghiararom7="Istoria şi tradiţiile minorităţii maghiare în lb. română" 
                    data-min-elene7      ="Istoria şi tradiţiile minorităţii elene" 
                    data-min-ele-rom7    ="Istoria şi tradiţiile minorităţii elene din România" 
                    data-min-poloneza7   ="Istoria şi tradiţiile minorităţii poloneze" 
                    data-min-pol-rom7    ="Istoria şi tradiţiile minorităţii poloneze din România" 
                    data-min-rrome7      ="Istoria şi tradiţiile minorităţii rrome" 
                    data-min-rrm-rom7    ="Istoria şi tradiţiile minorităţii rrome din România" 
                    data-min-rusilip7    ="Istoria si traditiile minoritatii rușilor lipoveni" 
                    data-min-rus-rom7    ="Istoria şi tradiţiile minorităţii rușilor staroveri din România"                     
                    data-min-sarba7      ="Istoria si traditiile minoritatii sârbe" 
                    data-min-srb-rom7    ="Istoria şi tradiţiile minorităţii sârbe din România" 
                    data-min-slovace7    ="Istoria si traditiile minoritatii slovace" 
                    data-min-slv-rom7    ="Istoria şi tradiţiile minorităţii slovace din România" 
                    data-min-turce7      ="Istoria si traditiile minoritatii turce" 
                    data-min-trt-rom7    ="Istoria si traditiile minoritatii turcilor și tătarilor din Romania" 
                    data-min-ucraina7    ="Istoria si traditiile minoritatii ucrainene" 
                    data-min-ucr-rom7    ="Istoria si traditiile minoritatii ucrainene din Romania" 
                    data-rel-advz7       ="Cultul Adventist de Ziua a Şaptea" 
                    data-rel-bapt7       ="Cultul Baptist" 
                    data-rel-crdev7      ="Cultul Creştin după Evanghelie" 
                    data-rel-evca7       ="Cultul Evanghelic CA" 
                    data-rel-grcat7      ="Cultul Greco-Catolic" 
                    data-rel-mus7        ="Cultul Musulman" 
                    data-rel-ort7        ="Cultul Ortodox" 
                    data-rel-ortritv7    ="Cultul Ortodox de Rit Vechi" 
                    data-rel-ortucr7     ="Cultul Ortodox Ucrainean" 
                    data-rel-pen7        ="Cultul Penticostal" 
                    data-rel-ref7        ="Cultul Reformat" 
                    data-rel-refmag7     ="Cultul Reformat în lb. maghiară" 
                    data-rel-romcatro7   ="Cultul Romano-Catolic de limbă română" 
                    data-rel-romcatmg7   ="Cultul Romano-Catolic de limbă maghiară" 
                    data-rel-romcatlbmg7 ="Cultul Romano-Catolic de limbă maghiară în lb. maghiară" 
                    data-rel-unit7       ="Cultul Unitarian" 
                    data-art-edpl7       ="Educaţie plastică" 
                    data-art-edmz7       ="Educaţie muzicală" 
                    data-art-tsd7        ="Teorie - Solfegiu - Dicteu"                     
                    data-art-edmuz-ger7  ="Educaţie muzicală pentru minoritatea germană" 
                    data-art-edmuz-ita7  ="Educaţie muzicală pentru minoritatea italiană" 
                    data-art-edmuz-mag7  ="Educaţie muzicală pentru minoritatea maghiară" 
                    data-art-edmuz-magr7 ="Educaţie muzicală pentru minoritatea maghiară în lb. română" 
                    data-art-edmuz-pol7  ="Educaţie muzicală pentru minoritatea poloneză" 
                    data-art-edmuz-rrm7  ="Educaţie muzicală pentru minoritatea rromă" 
                    data-art-edmuz-srb7  ="Educaţie muzicală pentru minoritatea sârbă" 
                    data-art-edmuz-slv7  ="Educaţie muzicală pentru minoritatea slovacă" 
                    data-art-edmuz-tur7  ="Educaţie muzicală pentru minoritatea turcă" 
                    data-art-edmuz-ucr7  ="Educaţie muzicală pentru minoritatea ucraineană" 
                    data-fizic7            ="Educaţie fizică şi sport" 
                    data-pfiz-atl7       ="Atletism" 
                    data-pfiz-bad7       ="Badminton" 
                    data-pfiz-bas7       ="Basket" 
                    data-pfiz-bab7       ="Baseball" 
                    data-pfiz-can7       ="Canotaj" 
                    data-pfiz-dns7       ="Dans sportiv" 
                    data-pfiz-fot7       ="Fotbal" 
                    data-pfiz-gif7       ="Gimnastică artistică feminină" 
                    data-pfiz-gim7       ="Gimnastică artistică masculină" 
                    data-pfiz-gir7       ="Gimnastică ritmică" 
                    data-pfiz-hal7       ="Haltere" 
                    data-pfiz-han7       ="Handbal" 
                    data-pfiz-hok7       ="Hochei pe gheaţă" 
                    data-pfiz-hoi7       ="Hochei pe iarbă" 
                    data-pfiz-int7       ="Înot" 
                    data-pfiz-jud7       ="Judo" 
                    data-pfiz-kca7       ="Kaiac-canoe" 
                    data-pfiz-krt7       ="Karate" 
                    data-pfiz-gro7       ="Lupte greco-romane" 
                    data-pfiz-lpl7       ="Lupte libere" 
                    data-pfiz-osp7       ="Orientare sportivă" 
                    data-pfiz-par7       ="Patinaj artistic" 
                    data-pfiz-pav7       ="Patinaj viteză" 
                    data-pfiz-ppa7       ="Polo pe apă"  
                    data-pfiz-rgb7       ="Rugby" 
                    data-pfiz-sne7       ="Sanie" 
                    data-pfiz-sia7       ="Sărituri în apă" 
                    data-pfiz-sap7       ="Schi alpin" 
                    data-pfiz-sbi7       ="Schi biatlon" 
                    data-pfiz-sfd7       ="Schi fond"  
                    data-pfiz-sor7       ="Schi orientare" 
                    data-pfiz-ssr7       ="Schi sărituri" 
                    data-pfiz-scr7       ="Scrimă" 
                    data-pfiz-sfb7       ="Softball" 
                    data-pfiz-sae7       ="Sport aerobic" 
                    data-pfiz-sah7       ="Șah" 
                    data-pfiz-ten7       ="Tenis" 
                    data-pfiz-tem7       ="Tenis de masă" 
                    data-pfiz-vol7       ="Volei" 
                    data-pfiz-yht7       ="Yachting" 
                    data-tec-edtap7      ="Educaţie tehnologică şi aplicaţii practice" 
                    data-tec-info7       ="Informatică şi TIC" 
                    data-tec-ed7         ="Educație tehnologica" 
                    data-cons-abad7      ="Abilități pentru adolescență" 
                    data-cons-ed7        ="Consiliere şi dezvoltare personală" 
                    data-crr-ist7        ="Istorie orală: Istorie trăită-Istorie povestită" 
                    data-crr-lect7       ="Lectura și abilitățile de viață" 
                    data-crr-grne7       ="Limba neoelenă şi civilizația Greciei antice" 
                    data-crr-micr7       ="Mai întâi caracterul" 
                    data-crr-matsc7      ="Matematică și științe în societatea cunoașterii" 
                    data-crr-edvit7      ="Pregătiţi pentru viaţă. Educaţie pentru viaţă şi comunitate" 
                    data-crr-radlt7      ="Rădăcini latine în cultura şi civilizaţia românească"                
                    >                   
                  <label class="form-check-label" for="inlineCheckbox7">Clasa a VII-a</label>
                </div>
                <div class="form-check form-check-inline nivel">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="cl8" 
                    data-lbcom-rom8      ="Limba și literatura română" 
                    data-lbcom-lat8      ="Limbă latină"                     
                    data-lbcom-rom-mag8  ="Limba și literatura română secții maghiare"                      
                    data-lbmat-bulgara8  ="Limba şi literatura maternă bulgară" 
                    data-lbmat-ceha8     ="Limba şi literatura maternă cehă" 
                    data-lbmat-croata8   ="Limba şi literatura maternă croată" 
                    data-lbmat-germana8  ="Limba şi literatura maternă germană" 
                    data-lbmat-geringer8 ="Limba şi literatura maternă germană în limba germană" 
                    data-lbmat-italiana8 ="Limba şi literatura maternă italiană" 
                    data-lbmat-maghiara8 ="Limba şi literatura maternă maghiară" 
                    data-lbmat-maginmag8 ="Limba şi literatura maternă maghiară în limba maghiară"
                    data-lbmat-neogreaca8="Limba şi literatura maternă neogreacă" 
                    data-lbmat-polona8   ="Limba şi literatura maternă polonă"
                    data-lbmat-rroma8    ="Limba şi literatura maternă rromani" 
                    data-lbmat-rusa8     ="Limba şi literatura maternă rusă"
                    data-lbmat-sarba8    ="Limba şi literatura maternă sârbă"
                    data-lbmat-slovaca8  ="Limba şi literatura maternă slovacă"
                    data-lbmat-turca8    ="Limba şi literatura maternă turcă" 
                    data-lbmat-ucraina8  ="Limba şi literatura maternă ucraineană" 
                    data-lbmod1-engleza8 ="Limbă modernă - engleză" 
                    data-lbmod1-eng-int8 ="Limbă modernă - engleză intensiv" 
                    data-lbmod1-franceza8="Limbă modernă - franceză" 
                    data-lbmod1-fra-int8 ="Limbă modernă - franceză intensiv" 
                    data-lbmod1-italiana8="Limbă modernă - italiană" 
                    data-lbmod1-ita-int8 ="Limbă modernă - italiană intensiv" 
                    data-lbmod1-spaniola8="Limbă modernă - spaniolă" 
                    data-lbmod1-span-int8="Limbă modernă - spaniolă intensiv" 
                    data-lbmod1-ebraica8 ="Limbă modernă - ebraică" 
                    data-lbmod1-germana8 ="Limbă modernă - germană" 
                    data-lbmod1-ger-int8 ="Limbă modernă - germană intensiv" 
                    data-lbmod1-rusa8    ="Limbă modernă - rusă" 
                    data-lbmod1-rus-int8 ="Limbă modernă - rusă intensiv" 
                    data-lbmod1-japoneza8="Limbă modernă - japoneză" 
                    data-lbmod1-jap-int8 ="Limbă modernă - japoneză intensiv" 
                    data-lbmod2-chineza8 ="Limbă modernă - chineză" 
                    data-lbmod2-engleza8 ="Limbă modernă - engleză" 
                    data-lbmod2-franceza8="Limbă modernă - franceză" 
                    data-lbmod2-italiana8="Limbă modernă - italiană" 
                    data-lbmod2-spaniola8="Limbă modernă - spaniolă" 
                    data-lbmod2-turca8   ="Limbă modernă - turcă" 
                    data-lbmod2-germana8 ="Limbă modernă - germană" 
                    data-lbmod2-japoneza8="Limbă modernă - japoneză" 
                    data-lbmod2-rusa8    ="Limbă modernă - rusă" 
                    data-lbmod2-portugheza8="Limbă modernă - portugheză" 
                    data-mat8            ="Matematică"                                  
                    data-fiz8            ="Fizică"
                    data-chim8           ="Chimie" 
                    data-bio8            ="Biologie" 
                    data-edusoc8         ="Educație socială"
                    data-ist8            ="Istorie" 
                    data-geo8            ="Geografie" 
                    data-rel-advz8       ="Cultul Adventist de Ziua a Şaptea" 
                    data-rel-bapt8       ="Cultul Baptist" 
                    data-rel-crdev8      ="Cultul Creştin după Evanghelie" 
                    data-rel-evca8       ="Cultul Evanghelic CA" 
                    data-rel-grcat8      ="Cultul Greco-Catolic" 
                    data-rel-mus8        ="Cultul Musulman" 
                    data-rel-ort8        ="Cultul Ortodox" 
                    data-rel-ortritv8    ="Cultul Ortodox de Rit Vechi" 
                    data-rel-ortucr8     ="Cultul Ortodox Ucrainean" 
                    data-rel-pen8        ="Cultul Penticostal" 
                    data-rel-ref8        ="Cultul Reformat" 
                    data-rel-refmag8     ="Cultul Reformat în lb. maghiară" 
                    data-rel-romcatro8   ="Cultul Romano-Catolic de limbă română" 
                    data-rel-romcatmg8   ="Cultul Romano-Catolic de limbă maghiară" 
                    data-rel-romcatlbmg8 ="Cultul Romano-Catolic de limbă maghiară în lb. maghiară" 
                    data-rel-unit8       ="Cultul Unitarian" 
                    data-art-edpl8       ="Educaţie plastică" 
                    data-art-edmz8       ="Educaţie muzicală" 
                    data-art-tsd8        ="Teorie - Solfegiu - Dicteu"                     
                    data-art-edmuz-ger8  ="Educaţie muzicală pentru minoritatea germană" 
                    data-art-edmuz-ita8  ="Educaţie muzicală pentru minoritatea italiană" 
                    data-art-edmuz-mag8  ="Educaţie muzicală pentru minoritatea maghiară" 
                    data-art-edmuz-magr8 ="Educaţie muzicală pentru minoritatea maghiară în lb. română" 
                    data-art-edmuz-pol8  ="Educaţie muzicală pentru minoritatea poloneză" 
                    data-art-edmuz-rrm8  ="Educaţie muzicală pentru minoritatea rromă" 
                    data-art-edmuz-srb8  ="Educaţie muzicală pentru minoritatea sârbă" 
                    data-art-edmuz-slv8  ="Educaţie muzicală pentru minoritatea slovacă" 
                    data-art-edmuz-tur8  ="Educaţie muzicală pentru minoritatea turcă" 
                    data-art-edmuz-ucr8  ="Educaţie muzicală pentru minoritatea ucraineană" 
                    data-fizic8            ="Educaţie fizică şi sport" 
                    data-pfiz-atl8       ="Atletism" 
                    data-pfiz-bad8       ="Badminton" 
                    data-pfiz-bas8       ="Basket" 
                    data-pfiz-bab8       ="Baseball" 
                    data-pfiz-can8       ="Canotaj" 
                    data-pfiz-dns8       ="Dans sportiv" 
                    data-pfiz-fot8       ="Fotbal" 
                    data-pfiz-gif8       ="Gimnastică artistică feminină" 
                    data-pfiz-gim8       ="Gimnastică artistică masculină" 
                    data-pfiz-gir8       ="Gimnastică ritmică" 
                    data-pfiz-hal8       ="Haltere" 
                    data-pfiz-han8       ="Handbal" 
                    data-pfiz-hok8       ="Hochei pe gheaţă" 
                    data-pfiz-hoi8       ="Hochei pe iarbă" 
                    data-pfiz-int8       ="Înot" 
                    data-pfiz-jud8       ="Judo" 
                    data-pfiz-kca8       ="Kaiac-canoe" 
                    data-pfiz-krt8       ="Karate" 
                    data-pfiz-gro8       ="Lupte greco-romane" 
                    data-pfiz-lpl8       ="Lupte libere" 
                    data-pfiz-osp8       ="Orientare sportivă" 
                    data-pfiz-par8       ="Patinaj artistic" 
                    data-pfiz-pav8       ="Patinaj viteză" 
                    data-pfiz-ppa8       ="Polo pe apă"  
                    data-pfiz-rgb8       ="Rugby" 
                    data-pfiz-sne8       ="Sanie" 
                    data-pfiz-sia8       ="Sărituri în apă" 
                    data-pfiz-sap8       ="Schi alpin" 
                    data-pfiz-sbi8       ="Schi biatlon" 
                    data-pfiz-sfd8       ="Schi fond"  
                    data-pfiz-sor8       ="Schi orientare" 
                    data-pfiz-ssr8       ="Schi sărituri" 
                    data-pfiz-scr8       ="Scrimă" 
                    data-pfiz-sfb8       ="Softball" 
                    data-pfiz-sae8       ="Sport aerobic" 
                    data-pfiz-sah8       ="Șah" 
                    data-pfiz-ten8       ="Tenis" 
                    data-pfiz-tem8       ="Tenis de masă" 
                    data-pfiz-vol8       ="Volei" 
                    data-pfiz-yht8       ="Yachting" 
                    data-tec-edtap8      ="Educaţie tehnologică şi aplicaţii practice" 
                    data-tec-info8       ="Informatică şi TIC" 
                    data-tec-ed8         ="Educație tehnologica" 
                    data-cons-abad8      ="Abilități pentru adolescență" 
                    data-cons-ed8        ="Consiliere şi dezvoltare personală" 
                    data-crr-ist8        ="Istorie orală: Istorie trăită-Istorie povestită" 
                    data-crr-lect8       ="Lectura și abilitățile de viață" 
                    data-crr-grne8       ="Limba neoelenă şi civilizația Greciei antice" 
                    data-crr-micr8       ="Mai întâi caracterul" 
                    data-crr-matsc8      ="Matematică și științe în societatea cunoașterii" 
                    data-crr-edvit8      ="Pregătiţi pentru viaţă. Educaţie pentru viaţă şi comunitate" 
                    data-crr-radlt8      ="Rădăcini latine în cultura şi civilizaţia românească" 
                    >
                  <label class="form-check-label" for="inlineCheckbox8">Clasa a VIII-a</label>
                </div>
                {{!-- GIMANZIU END--}}
              </div>
              {{!-- Selectarea nivelului de școlarizare END --}}

            </fieldset>
            {{!-- Selectarea nivelului de școlarizare - END --}}

            {{!-- Alegerea dinamică a disciplinelor în funcție de selectarea nivelului școlar --}}
            <fieldset>
              <legend>Disciplina</legend>
              <h4>Selectarea disciplinei sau a mai multora încarcă competențele specifice</h4>
              <p>Pentru a avea acces la competențele specifice și implicit la activitățile proprii, cât și pentru a propune noi activități inexistente, se va alege unul din nivelurile de școlarizare.</p>
              <p>Odată selectat nivelul, se vor încărca disciplinele aferente acelui nivel, dintre care se vor alege cele pentru care resursa propusă răspunde</p>
              
              {{!-- Încărcarea DISCIPLINELOR --}}
              <div id="discipline">
                {{!-- disciplinele sunt adaugate programatic in functie de selectia nivelului de școlarizare --}}
              </div>
              {{!-- Încărcarea DISCIPLINELOR END --}}
            </fieldset>
            {{!-- Alegerea dinamică a disciplinelor în funcție de selectarea nivelului școlar END--}}

            {{!-- Butonul de afișare a competențelor specifice va fi ascuns până când nu este selectată o disciplină. Previne erorile de apăsare fără selecție disc. --}}
            <button id="actTable" class="d-none btn btn-warning" type="button" data-toggle="collapse" data-target="#csuri" aria-expanded="false" aria-controls="csuri">Alege competențele specifice</button>
            
            {{!-- TABEL competențele specifice alese în funcție de opțiunea disciplinelor --}}
            <div class="collapse" id="csuri">
              <table id="competenteS" class="table table-striped table-bordered" style="width:100%"></table>
            </div>
            {{!-- TABEL competențele specifice alese în funcție de opțiunea disciplinelor END--}}
          </div>
          {{!-- Încadrarea resursei conform Planului Național [form-group] END --}}

          {{!-- Avans către pasul 3 / Înapoi la pasul 1 [form-group]--}}
          <div class="form-group align-self-center m-4">
            <a href="#" id="next-2" class="btn btn-success">Înapoi la pasul 1</a>
            <a href="#" id="next-3" class="btn btn-success">Mergi la pasul 3</a>
          </div>
          {{!-- Avans către pasul 3 / Înapoi la pasul 1 [form-group] END --}}
        </div>
        {{!-- SECȚIUNEA - #2. ÎNCADRAREA RESURSEI ÎN CONTEXTUL CURRICULEI END--}}

        {{!-- SECȚIUNEA - #3 Încarcă materialele --}}
        <div id="trei">
          {{!-- Acționarea grupului de controale pentru #2 --}}
          <div id="heading03">
            <h5 class="text-light rounded text-center bg-danger p-2">Validarea resursei prin specificitate</h5>
          </div>
          
          {{!-- Încărcarea fișierelor sau a fragmentului [form-group] --}}
          <div id="sec03" class="form-group" aria-labelledby="heading03" data-parent="#accordionFrm">
            {{!-- ELEMENTE NECESARE PENTRU VALIDAREA RESURSEI --}}
            <fieldset>
              <legend>Elemente obligatorii pentru validarea resursei</legend>
              <p>Pentru a selecta mai multe, apasă SHIFT și click pe cel pe care dorești să-l adaugi</p>

              {{!-- GRUPURILE ȚINTĂ --}}
              <div class="form-group">
                <label for="valid-grup">Selectează un grup țintă sau mai multe</label>
                <select multiple class="form-control" id="valid-grup">
                  <option value="elev">elev</option>
                  <option value="profesor">profesor</option>
                  <option value="părinte">părinte</option>
                  <option value="tutore">tutore</option>
                  <option value="aparținător">aparținător</option>
                </select>
              </div>
              {{!-- GRUPURILE ȚINTĂ END--}}

              {{!-- DOMENIU --}}
              {{!-- <div class="form-group">
                <label for="valid-domeniu">Domeniul căruia i se adresează resursa</label>
                <select multiple class="form-control" id="valid-domeniu">
                  <option value="cognitiv">cognitiv</option>
                  <option value="psihomotor">psihomotor</option>
                  <option value="afectiv">afectiv</option>
                </select>
                <small>Prin care se dovedește că elevul are competențe generale și specifice - ceea ce știe și/sau să facă elevul</small>
                <small>Se pot selecta una sau mai multe dintre variantele de mai sus sau se pot adăuga, după caz, dacă niciuna dintre variantele enumerate nu întrunește cerințele autorului/ contributorului.</small>
              </div> --}}
              {{!-- DOMENIU END --}}

              {{!-- VIZEAZĂ --}}
              {{!-- <div class="form-group">
                <label for="valid-functii">Resursa vizează</label>
                <select multiple class="form-control" id="valid-functii">
                  <option value="comunicare">comunicare/însușire de noi cunoștințe</option>
                  <option value="formare">formare de priceperi și deprinderi</option>
                  <option value="fixare">fixare și sistematizare</option>
                  <optgroup label="verificare/ evaluare a cunoștințelor acumulate">
                    <option value="chestionare">chestionare</option>
                    <option value="test">teste</option>
                    <option value="quiz">quiz</option>
                  </optgroup>
                </select>
              </div> --}}
              {{!-- VIZEAZĂ END --}}

              {{!-- DEMERSURI --}}
              <div class="form-group">
                <label for="valid-demersuri">Tipul de demers / raționament utilizat în realizarea resursei</label>
                <select class="form-control" id="valid-demersuri">
                  <option value="inductiv">inductiv</option>
                  <option value="deductiv">deductiv</option>
                  <option value="dialectic">dialectic</option>
                  <option value="analogic">analogic</option>
                </select>
                <small>Se pot selecta una sau mai multe dintre variantele de mai sus sau se pot adăuga, după caz, dacă niciuna dintre variantele enumerate nu întrunește cerințele autorului/ contributorului.</small>
              </div>
              {{!-- DEMERSURI END --}}

              {{!-- SPAȚII --}}
              {{!-- <div class="form-group">
                <label for="valid-spatii">Activitatea se desfășoară</label>
                <select multiple class="form-control" id="valid-spatii">
                  <option value="clasa">la clasă</option>
                  <option value="acasa">individual</option>
                  <option value="grupe">în grupe</option>
                  <option value="laborator">în laborator</option>
                  <optgroup label="în afara clasei">
                    <option value="salasport">sala de sport</option>
                    <option value="curteascolii">în curtea școlii</option>
                    <option value="spatiideschise">alte spații deschise (pădure, parc)</option>
                  </optgroup>
                  <option value="laborator">în perechi (dual)</option>
                  <option value="laborator">mixte</option>
                </select>
                <small>Se pot selecta una sau mai multe dintre variantele de mai sus sau se pot adăuga, după caz, dacă niciuna dintre variantele enumerate nu întrunește cerințele autorului/ contributorului.</small>
              </div> --}}
              {{!-- SPAȚII END --}}

              {{!-- DEPENDINȚELE Resursei --}}
              <div class="form-group">
                <fieldset>
                  <legend>Mijloace / materiale didactice necesare</legend>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Resursa necesită:</span>
                    </div>
                    <textarea id="dependinte" class="form-control" aria-label="dependinte" rows="3"></textarea>
                  </div>
                  <small class="form-text text-muted">
                    Contribuitorul va introduce toate detaliile privind necesitățile sau condiționalitățile pentru a deschide, citi, interpreta sau rula conținutul resursei. Se vor enumera materialele de care are nevoie elevul/ profesorul/ aparținătorul pentru a putea parcurge/ înțelege/ asimila informațiile cuprinse în resursă.
                  </small>                  
                </fieldset>
              </div>
              {{!-- DEPENDINȚELE Resursei END--}}

              {{!-- CUM SE PRODUCE ÎNVĂȚAREA --}}
              {{!-- <div class="form-group">
                <label for="valid-invatarea">Modul în care se produce învățarea se face prin:</label>
                <select multiple class="form-control" id="valid-invatarea">
                  <option value="cooperare">cooperare</option>
                  <option value="competitie">competiție</option>
                  <option value="colaborare">colaborare</option>
                  <option value="descoperire">descoperire</option>
                  <option value="problematizare">problematizare</option>
                  <option value="experimentare">experimentare</option>
                  <option value="receptare">receptare activă</option>
                </select>
                <small>Se pot selecta una sau mai multe dintre variantele de mai sus sau se pot adăuga, după caz, dacă niciuna dintre variantele enumerate nu întrunește cerințele autorului/ contributorului.</small>           
              </div> --}}
              {{!-- CUM SE PRODUCE ÎNVĂȚAREA END --}}                                   

            {{!-- ELEMENTE NECESARE PENTRU VALIDAREA RESURSEI END --}}

            {{!-- Bibliografie --}}
            <fieldset>
              <legend>Introducerea bibliografiei</legend>
              <p>Fiecare referință bibliografică va ocupa un singur rând.</p>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Bibliografie (APA6)</span>
                </div>
                <textarea id="bibliografie" class="form-control" aria-label="Bibliografia" rows="3"></textarea>
              </div>
            </fieldset>
            {{!-- Bibliografie END --}}
          </div>
          {{!-- Încărcarea fișierelor sau a fragmentului [form-group] END--}}

          {{!-- Avans către pasul 5 / Înapoi la pasul 4 [form-group]--}}
          <div class="form-group align-self-center m-4">
            <a href="#" id="next-4" class="btn btn-success">Înapoi la pasul 2</a>
            <a href="#" id="next-5" class="btn btn-success">Mergi la pasul 4</a>
          </div>
          {{!-- Avans către pasul 5 / Înapoi la pasul 4 [form-group] END --}}
        </div>
        {{!-- SECȚIUNEA - #3 Încarcă materialele END --}}
      </div>
      {{!-- FORM END --}}
    </form>

    {{!-- SECȚIUNEA - #4 Încarcă adiționale Această secțiune este în afara formului --}}
    <div id="patru">
      {{!-- Acționarea grupului de controale pentru #2 --}}
      <div id="heading04">
        <h5 class="text-light rounded text-center bg-danger p-2">Încarcă fișiere și introdu conținut, dacă acesta este de întindere medie</h5>
      </div>
      {{!-- Înapoi la pasul 3 [form-group]--}}
      <div class="form-group align-self-center m-4">
        <a href="#" id="next-6" class="btn btn-success">Înapoi la pasul 3</a>
      </div>
      {{!-- Înapoi la pasul 4 [form-group] END --}}
      {{!-- Verificarea fișei și constituirea înregistrării [form-group] --}}
      <div id="sec04" class="form-group" aria-labelledby="heading04" data-parent="#accordionFrm">
        {{!-- RESURSELE care au stat la bază --}}
        <fieldset>
          <legend>Resursele folosite în elaborarea RED-ului</legend>
          {{!-- <div id="relatedRes">
            <span class="badge badge-info">Componente</span>
          </div> --}}
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Completează menționând fiecare link separat prin virgule:</span>
            </div>
            <textarea id="componenteRed" class="form-control" aria-label="Componentele RED-ului" rows="3"></textarea>
          </div>
        </fieldset>

        {{!-- EDITOR pentru introducerea letrică --}}
        <fieldset>
          <legend>Introdu mai jos în editor părțile componente ale RED-ului și o descriere, dacă este nevoie:</legend>
          {{!-- Integrarea editorului de text --}}
          <div id="codex-editor"></div>
        </fieldset>
        {{!-- EDITOR pentru introducerea letrică END --}}

        {{!-- UPLOADER --}}
        {{!-- <div>
          <label>Încarcă resurse</label>
          <input type="file" name="multiple_images" multiple />
        </div>
        <div>
            <input type="submit" name="btn_upload_multiple_images" value="Upload" />
        </div> --}}
        {{!-- UPLOADER END --}}

      </div>
      {{!-- Verificarea fișei și constituirea înregistrării [form-group] END--}}
      {{!-- Selector de imagine pentru coperta resursei --}}
      <fieldset>
        <legend>Selectează imaginea care va fi coperta resursei</legend>
        <div id="imgSelector"></div>
      </fieldset>
      {{!-- Selector de imagine pentru coperta resursei END--}}
      {{!-- ETICHETE --}}
      <div id="etichete">
        {{!-- Introducerea etichetelor --}}
        <fieldset>
          <legend>Etichetele atribuite RED-ului</legend>
          <div id="tags">
            <span class="badge badge-info">Info</span>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Completează:</span>
            </div>
            <textarea id="eticheteRed" class="form-control" aria-label="Etichetele RED-ului" rows="3"></textarea>
          </div>
        </fieldset>
        {{!-- Introducerea etichetelor END--}}

        {{!-- HELP Etichete --}}
        <small class="form-text text-muted">
          Primele etichete sunt introduse automat în funcție de informațiile introduse sau selectate. Se vor completa etichetele dorite delimitate de virgule. Etichetele pot fi formate dintr-unul singur sau o sintagmă formată din maxim trei cuvinte alăturate care formează un sens unitar indivizibil. De exemplu, o formulă chimică precum „acidul dezoxiribonucleic”. 
        </small>
        {{!-- HELP Etichete End--}}
      </div>
      {{!-- ETICHETE END --}}

      <div id="submitWrap" class="form-group" data-parent="#accordionFrm">
        <button id="submit" type="button" class="btn btn-success">Adaugă resursa</button>
        <button id="delete" type="button" class="btn btn-danger">Renunță</button>
      </div>
    </div>
    {{!-- SECȚIUNEA - #4 Verifică fișa și trimite resursa END --}}
  </div>
</div>

{{!-- Încărcarea scripturilor --}}
{{#each scripts}}
    <script src="{{script}}" charset="utf-8"></script>
{{/each}}

<script>
  /**
  * Funcția are rolul de a adăuga un titlu într-o listă de control
  * De fapt, creează un nou element input și ul nou selector de limbă pentru elementul input:text nou creat
  * @param {String} idSource este elementul input:text în care a fost introdus un titlu
  * @param {String} idTraget este elementul ul în care apar titlurile
  */
  function addToList (idSource, idTarget) {
    document.querySelector(idSource).addEventListener('blur', (event) => {
      let insertion = document.querySelector(idTarget);
      let liElem = document.createElement('li');
      const cls = ["list-group-item","d-flex","justify-content-between","align-items-center"];
      liElem.classList.add(...cls);
      //TODO: Termină implementarea cândva, dacă mai este nevoie
    });
  }
</script>

