<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-profile">
    <a class="navbar-brand" href="/">
        <img id="logo-small" src="{{{logoimg}}}" alt="logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {{#if user.googleProfile}}
            <span class="salut">Salut, {{user.googleProfile.name}} <img class="avatar rounded-circle" data-email="{{user.email}}" data-username="{{user.googleProfile.name}}" data-familyname="{{user.googleProfile.family_name}}" src="{{user.googleProfile.picture}}" alt="Imagine cont"/></span>
        {{else}}
            <span class="salut">Salut, {{user.username}}</span>
        {{/if}}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Acasă <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if activePrfLnk}}active{{/if}}" href="/profile">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/resources/exposed">Resurse expuse</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/administrator">Administrare</a>
            </li>
            </li>
                <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/help">Asistență</a>
            </li>
        </ul>
        {{!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Caută</button>
        </form> --}}
    </div>
</nav>