<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img id="logo-small" src="{{{logoimg}}}" alt="rED colector logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <span class="salut">Salut, {{user.googleProfile.name}} <img class="avatar" data-email="{{user.email}}" data-username="{{user.googleProfile.name}}" data-familyname="{{user.googleProfile.family_name}}" src="{{user.googleProfile.picture}}" alt="Imagine cont" /></span>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Acasă<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if activeAdmLnk}}active{{/if}}" href="/administrator">Administrare</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/resurse/adauga">Adaugă</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/resurse">Resurse</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/log/new">Eveniment nou</a>
            </li>    
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>