<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img id="logo-small" src="/{{logoimg}}" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {{#if user}}
            <span class="salut">Salut, {{user.googleProfile.name}} <img class="avatar" data-email="{{user.email}}" data-username="{{user.googleProfile.name}}" data-familyname="{{user.googleProfile.family_name}}" src="{{user.googleProfile.picture}}" alt="Imagine cont"/></span>
        {{/if}}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Acasă<span class="sr-only">(current)</span></a>
            </li>
            {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profil</a>
                </li>
            {{/if}}
            {{#if user.roles.admin}}
                <li class="nav-item">
                    <a class="nav-link" href="/administrator">Administrare</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/log">Noutăți</a>
                </li>    
                <li class="nav-item">
                    <a class="nav-link" href="/log/new">Eveniment nou</a>
                </li>                
            {{/if}}
            <li class="nav-item">
                <a class="nav-link" href="/resurse/adauga">Adaugă</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if activeResLnk}}active{{/if}}" href="/resurse">Resurse</a>
            </li>
            {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="/help">Asistență</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            {{/if}}
        </ul>
    </div>
</nav>