<div class="container-fluid">
    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand" href="/">
            <img id="logo-small" src="{{{logoimg}}}" alt="rED colector logo"> RED Colector
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
            {{#if user}}
                <span class="salut">Salut, {{user.googleProfile.name}} <img class="avatar" data-email="{{user.email}}" data-username="{{user.googleProfile.name}}" data-familyname="{{user.googleProfile.family_name}}" src="{{user.googleProfile.picture}}" alt="Imaginea contului cu care utilizatorul s-a logat" /></span>
            {{/if}}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/resursepublice">Resurse <span class="sr-only">(current)</span></a>
                </li>
                {{#if user}}
                    {{#if user.roles.admin}}
                        <li class="nav-item">
                            <a class="nav-link" href="/administrator">Administrare</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/log/new">Eveniment nou</a>
                        </li>                                         
                    {{/if}}
                    <li class="nav-item">
                        <a class="nav-link" href="/log">Noutăți</a>
                    </li>   
                    <li class="nav-item">
                        <a class="nav-link" href="/resurse">Resurse CRED</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Asistență</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/despre">Despre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/log">Noutăți</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Asistență</a>
                    </li>                                      
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Loghează-te</a>
                    </li>                  
                {{/if}}
            </ul>
            {{!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Caută</button>
            </form> --}}
        </div>
    </nav>
</div>