                            <div class="">
                                <form class="rating-system">
                                    <input class="radio-input" type="radio" id="star5" name="star-input" value="5" />
                                    <label class="radio-label star5" for="star5" title="{{this.fiveStarsVotes}}"></label>

                                    <input class="radio-input" type="radio" id="star4" name="star-input" value="4" />
                                    <label class="radio-label star4" for="star4" title="{{this.fourStarsVotes}}"></label>

                                    <input class="radio-input" type="radio" id="star3" name="star-input" value="3" />
                                    <label class="radio-label star3" for="star3" title="{{this.threeStarsVotes}}"></label>

                                    <input class="radio-input" type="radio" id="star2" name="star-input" value="2" />
                                    <label class="radio-label star2" for="star2" title="{{this.twoStarsVotes}}"></label>

                                    <input class="radio-input" type="radio" id="star1" name="star-input" value="1" />
                                    <label class="radio-label star1" for="star1" title="{{this.oneStarVotes}}"></label>
                                </form>
                            </div>