                {{!-- O ÎNREGISTRARE în /resources/exposed --}}
                <div class="unit">
                    <div class="unit-header">
                        <h3 class="unit-title">
                            <a href="/resources/{{this._id}}" maxlength="4">{{this.title}}</a>
                        </h3>
                        <div class="row mb-2 text-muted">
                            <p class="card-subtitle col-sm-6 text-muted">{{this.autori}}</p>
                            <p class="card-subtitle col-sm-6 text-muted">{{this.dataRo}}</p>
                            <p>
                                <meter class="average-rating" 
                                        min="0" 
                                        max="5" 
                                        value="{{this.rating5stars}}" style="--rating: {{this.rating5stars}}"></meter>
                            </p>
                        </div>
                    </div>
                    {{!-- <img class="card-img-top" src="{{this.coperta}}" alt="{{this.title}}"> --}}
                    <div class="unit-body">
                        <main class="unit-description">
                            <aside>
                                {{!-- Dacă există copertă, afișeaz-o --}}
                                {{#if this.coperta}}
                                    <div class="res-ilustration">
                                        <img src="{{this.coperta}}" class="unit-img-top" alt="{{this.title}}">
                                    </div>
                                {{else}}
                                    <div class="res-ilustration res-ilustration-substitute">
                                        {{this.logoimg}}
                                        <img src="/{{logo}}" class="res-ilustration-substitute__logo" alt="logo">
                                        <img src="/{{template}}/img/black-1072366_1920.jpg" class="res-ilustration-coperta" alt="{{resursa.title}}" height="200px">
                                    </div>
                                {{/if}}
                            </aside>

                            <div>
                                <p class="unit-description-text">{{this.description}}</p>
                            </div>
                        </main>  
                    </div>
                    <div class="unit-footer">
                        {{#each this.etichete}}
                            <a href="/tag/{{this}}">
                                <span class="badge badge-info">{{this}}</span>
                            </a>
                        {{/each}}
                    </div>
                </div>