<!DOCTYPE html>
<html lang="ro">
    <head prefix="dc: http://purl.org/dc/elements/1.1 dcterms: http://purl.org/dc/terms">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8">
        <meta property="dc:title" content="Colector Resurse Educaționale Deschise">
        <meta property="dc:description" content="Aceasta este aplicația care colectează Resurse Educaționale Deschise create în cadrul proiectului EDUCRED.">
        <meta itemprop="name" content="Colector Resurse Educaționale Deschise">
        <meta itemprop="description" content="Aceasta este aplicația care colectează Resurse Educaționale Deschise create în cadrul proiectului EDUCRED.">
        
        {{!-- SOCKET --}}
        {{!-- <script type="application/javascript" src="/socket.io/socket.io.js"></script> --}}
        {{!-- În cazul în care sunt probleme cu browserele, activează încărcarea scriptului în mod direct --}}
        <script type="application/javascript" src="/lib/npm/socket.io.slim.js"></script>

        {{!-- ES6 SHIM --}}
        <script type="application/javascript" src="/lib/es6-shim/es6-shim.min.js"></script>

        {{!-- MAIN --}}
        <link rel="stylesheet" type="text/css" href="/css/main.css">

        {{!-- JQUERY --}}
        <script type="application/javascript" src="/lib/npm/jquery.slim.min.js"></script>

        {{!-- FONTAWESOME --}}
        <script type="application/javascript" src="/lib/npm/all.min.js"></script>
        <link title="timeline-styles" rel="stylesheet" type="text/css" href="/lib/npm/all.min.css">

        {{!-- TIMELINE --}}
        <script type="application/javascript" src="/lib/timeline3/js/timeline.js"></script>
        <link title="timeline-styles" rel="stylesheet" type="text/css" href="/lib/timeline3/css/timeline.css">
        <link title="timeline-styles" rel="stylesheet" type="text/css" href="/lib/timeline3/css/fonts/font.roboto-megrim.css">

        {{!-- JQUERY TOAST --}}
        <script type="application/javascript" src="/lib/npm/jquery.toast.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/lib/npm/jquery.toast.min.css">

        {{!-- BOOTSTRAP 4  CSS--}}        
        <link rel="stylesheet" type="text/css" href="/lib/npm/bootstrap.min.css">

        {{!-- HANDLEBARS --}}
        <script type="application/javascript" src="/lib/npm/handlebars.min.js"></script>

        {{!-- BOOTSTRAP 4  JS --}}
        <script type="application/javascript" src="/lib/npm/bootstrap.bundle.min.js"></script>

        {{!-- Încărcarea foilor de stil din module --}}
        {{#each styles}}
            <link rel="stylesheet" href="{{style}}" charset="utf-8"></script>
        {{/each}}

        {{!-- Încărcarea scripturilor --}}
        {{#each scripts}}
            <script defer type="application/javascript" src="{{script}}"></script>
        {{/each}}

        {{!-- Preîncărcarea modulelor --}}
        {{#each modules}}
            <link rel="modulepreload" href="{{module}}"></script>
        {{/each}}

        {{!-- Încărcarea modulelor --}}
        {{#each modules}}
            <script type="module" src="{{module}}"></script>
        {{/each}}

        <title>{{title}}</title>
    </head>
    <body>
        {{{body}}}

        <footer class="footer">
            {{> footer}}
        </footer>

</html>