<!DOCTYPE html>
<html lang="{{language}}">
    <head prefix="dc: http://purl.org/dc/elements/1.1 dcterms: http://purl.org/dc/terms">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta name="keywords"    content="{{creator}} {{publisher}} {{brandname}}">
        <meta name="description" content="{{description}}">
        <meta name="generator"   content="{{brandname}}">
        <meta name="creator"     content="{{creator}}">
        <meta name="autor"       content="Constantinescu Nicolaie">
        <meta name="publisher"   content="{{publisher}}">
        
        <meta property="dc:title"       content="{{brandname}}">
        <meta property="dc:description" content="{{description}}">
        
        <meta itemprop="name" content="{{brandname}}">
        <meta itemprop="description" content="{{description}}">

        <meta name="csrf-token" content="{{csrfToken}}">
        
        {{!-- SOCKET --}}
        {{!-- <script type="application/javascript" src="/socket.io/socket.io.js"></script> --}}
        {{!-- În cazul în care sunt probleme cu browserele, activează încărcarea scriptului în mod direct --}}
        <script type="application/javascript" src="/lib/npm/socket.io.slim.js"></script>
        
        {{!-- ES6 SHIM --}}
        <script type="application/javascript" src="/lib/es6-shim/es6-shim.min.js"></script>
        {{!-- BOOTSTRAP --}}
        <link rel="stylesheet" type="text/css" href="/lib/npm/bootstrap.min.css">
        
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/arrow.css">
        <link rel="stylesheet" href="/css/fixed.css">
        <link rel="stylesheet" href="/css/waypoints.css">

        {{!-- Încărcarea foilor de stil din module --}}
        {{#each styles}}
            <link rel="stylesheet" href="{{style}}" charset="utf-8"></script>
        {{/each}}

        {{!-- Preîncărcarea modulelor --}}
        {{#each modules}}
            <link rel="modulepreload" href="{{module}}"></script>
        {{/each}}

        {{!-- Încărcarea modulelor --}}
        {{#each modules}}
            <script type="module" src="{{module}}"></script>
        {{/each}}

        <title>{{title}}</title>
    </head>
    <body data-spy="scroll" data-target="#navbarResponsive">

        {{{body}}}

        <footer class="footer">
            {{> footer}}
        </footer>

        <!-- Optional JavaScript -->
        
        {{!-- Încărcarea scripturilor --}}
        {{#each scripts}}
            <script defer type="application/javascript" src="{{script}}"></script>
        {{/each}}
    </body>
</html>