<!DOCTYPE html>
<html lang="ro">
    <head prefix="dc: http://purl.org/dc/elements/1.1 dcterms: http://purl.org/dc/terms">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta name="keywords"    content="educred, red, colector, resurse educaționale, educație">
        <meta name="description" content="Aceasta este aplicația care colectează Resurse Educaționale Deschise create în cadrul proiectului EDUCRED.">
        <meta name="generator"   content="Colector RED">
        <meta name="creator"     content="CRED-Curriculum relevant, educație deschisă pentru toți– cod SMIS 2014+:118327">
        <meta name="autor"       content="Constantinescu Nicolaie">
        <meta name="publisher"   content="Institutul pentru Științele Educației">
        
        <meta property="dc:title"       content="Colector Resurse Educaționale Deschise">
        <meta property="dc:description" content="Aceasta este aplicația care colectează Resurse Educaționale Deschise create în cadrul proiectului EDUCRED.">
        
        <meta itemprop="name" content="Colector Resurse Educaționale Deschise">
        <meta itemprop="description" content="Aceasta este aplicația care colectează Resurse Educaționale Deschise create în cadrul proiectului EDUCRED.">

        <meta name="csrf-token" content="{{csrfToken}}">
        
        {{!-- SOCKET --}}
        {{!-- <script type="application/javascript" src="/socket.io/socket.io.js"></script> --}}
        {{!-- În cazul în care sunt probleme cu browserele, activează încărcarea scriptului în mod direct --}}
        <script type="application/javascript" src="/lib/npm/socket.io.slim.js"></script>
        
        {{!-- ES6 SHIM --}}
        <script type="application/javascript" src="/lib/es6-shim/es6-shim.min.js"></script>
        {{!-- BOOTSTRAP --}}
        <link rel="stylesheet" type="text/css" href="/lib/npm/bootstrap.min.css">
        
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/arrow.css">
        <link rel="stylesheet" href="/css/fixed.css">
        <link rel="stylesheet" href="/css/waypoints.css">

        {{!-- Încărcarea foilor de stil din module --}}
        {{#each styles}}
            <link rel="stylesheet" href="{{style}}" charset="utf-8"></script>
        {{/each}}

        {{!-- Preîncărcarea modulelor --}}
        {{#each modules}}
            <link rel="modulepreload" href="{{module}}"></script>
        {{/each}}

        {{!-- Încărcarea modulelor --}}
        {{#each modules}}
            <script type="module" src="{{module}}"></script>
        {{/each}}

        <title>{{title}}</title>
    </head>
    <body data-spy="scroll" data-target="#navbarResponsive">

        {{{body}}}

        <footer class="footer">
            {{> footer}}
        </footer>

        <!-- Optional JavaScript -->
        
        {{!-- Încărcarea scripturilor --}}
        {{#each scripts}}
            <script defer type="application/javascript" src="{{script}}"></script>
        {{/each}}
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->        
        {{!-- <script type="application/javascript" src="/lib/npm/jquery.slim.min.js"></script> --}}
        {{!-- <script type="application/javascript" src="/lib/popper.js/src/popper.js"></script> --}}
        {{!-- <script type="application/javascript" src="/lib/npm/bootstrap.bundle.min.js"></script> --}}
        
        {{!-- <script type="application/javascript" src="/lib/npm/jquery.waypoints.min.js"></script> --}}
        {{!-- <script type="application/javascript" src="/js/main.js"></script> --}}
        {{!-- <script type="application/javascript" src="/js/custom.js"></script> --}}
    </body>
</html>