<!DOCTYPE html>
<html lang="ro">
    <head prefix="dc: http://purl.org/dc/elements/1.1 dcterms: http://purl.org/dc/terms">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <meta property="dc:title"       content="Jurnalierul Colectorului pentru Resurse Educaționale Deschise">
        <meta property="dc:description" content="Acesta este jurnalierul Colectorului RED">

        <meta itemprop="name"        content="Jurnalierul Colectorului pentru Resurse Educaționale Deschise">
        <meta itemprop="description" content="Acesta este jurnalierul Colectorului RED">
        
        {{!-- SOCKET --}}
        {{!-- <script type="application/javascript" src="/socket.io/socket.io.js"></script> --}}
        {{!-- În cazul în care sunt probleme cu browserele, activează încărcarea scriptului în mod direct --}}
        <script type="application/javascript" src="/lib/npm/socket.io.slim.js"></script>
        
        {{!-- ES6 SHIM --}}
        <script type="application/javascript" src="/lib/es6-shim/es6-shim.min.js"></script>
        
        <link rel="stylesheet" href="/css/main.css">

        {{!-- Încărcarea foilor de stil din module --}}
        {{#each styles}}
            <link rel="stylesheet" href="{{style}}" charset="utf-8"></script>
        {{/each}}

        {{!-- Preîncărcarea modulelor --}}
        {{#each modules}}
            <link rel="modulepreload" href="{{module}}"></script>
        {{/each}}

        {{!-- Încărcarea modulelor --}}
        {{#each modules}}
            <script type="module" src="{{module}}"></script>
        {{/each}}        

        <title>{{title}}</title>
    </head>
    <body data-spy="scroll" data-target="#navbarResponsive">

        {{{body}}}

        <footer>
            {{> footer}}
        </footer>

        {{#each scripts}}
            <script defer type="application/javascript" src="{{script}}"></script>
        {{/each}}

    </body>
</html>