{{!< landing}}
{{> nav-landing}}

{{#each scripts}}
    <script src="{{script}}" charset="utf-8"></script>
{{/each}}

{{!-- secțiunea landing --}}
<div class="landing">
    <div class="home-wrap">
        <div class="home-inner">
            {{!-- "Ants" by revolution540 is licensed under CC BY 2.0 --}}
        </div>
    </div>
</div>
{{!-- secțiune landing final --}}

{{!-- secțiune întâmpinare --}}
<div class="caption text-center">
    <div class="os-animation" data-animation="bounceInUp" data-delay=".3s">
        <h1>Colectorul de Resurse Educaționale Deschise</h1>
    </div>
    <div class="os-animation" data-animation="bounceInUp" data-delay=".4s">
        {{#if user}}
            <p>Folosiți formularul de mai jos pentru a contribui cu o resursă educațională proprie. </br>Intenția este de a culege cât mai rapid aceste contribuții pentru a veni în întâmpinarea nevoilor.</p>
        {{else}}
            <p>Folosiți formularele de mai jos pentru a contribui cu propriile experiențe, instrumente sau metode. </br>Intenția este de a culege cât mai rapid, dat fiind contextul actual, cele mai bune experiențe la baza cărora stă, de obicei, un larg instrumentar.</p>
        {{/if}}
    </div>
    <div class="os-animation" data-animation="bounceInUp" data-delay=".5s">
        <section id="cataloage">
            <div class="gforms">
                {{#if user}}
                    <table class="formtbls">
                        <thead>
                            <tr>
                                <th>
                                    <a class="c-link btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSfM0DKYimsu_gU7GZYp7PeIq939IGRzYaWQ6-sr-KzoBLnC2A/viewform" target="_black" role="button" aria-disabled="true">Accesează</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{!-- Primul formular --}}
                                    <div class="c-card">
                                        <div class="c-header">
                                            <div class="c-header-img" style="background-image: url('img/CatalogulDeResurseEducationale.png');"></div>
                                            <div class="c-title">
                                                <h5>Propunere de resurse digitale cu utilizare educațională - Comunitatea CRED</h5>
                                            </div>
                                        </div>                    
                                        <div class="c-body">
                                            <h6 class="c-subtitle">Eu știu o resursa, tu știi o resursa, dacă le împărtășim între noi, fiecare vom ști două resurse.</h6>
                                            <p class="c-descr">Vă invităm să împărtășiți resursele educaționale (colecții de resurse și instrumente digitale sau resurse în diverse formate digitale) pe care le considerați utile în învățare.
                Puteți încarca mai multe resurse utilizând formularul de mai multe ori. Prin completarea acestui formular vă exprimați acordul pentru a împărtăși cu ceilalți colegi materialele propuse, alături de numele dvs. în calitate de propunător al materialului.</p>
                                            {{!-- <a class="c-link" href="https://docs.google.com/forms/d/e/1FAIpQLSfM0DKYimsu_gU7GZYp7PeIq939IGRzYaWQ6-sr-KzoBLnC2A/viewform" target="_black" role="button">Accesează</a> --}}
                                            {{!-- <a href="#" class="card-link">Another link</a> --}}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {{else}}
                    <table class="formtbls">
                        <thead>
                            <tr>
                                <th>
                                    <a class="c-link btn btn-primary" role="button" href="https://docs.google.com/forms/d/e/1FAIpQLSeAT2eS5wruubEm9DrLmsdV4Y1hG8X8_tZYXiICF4dliFWENg/viewform?usp=sf_link" target="_black" role="button">Accesează</a>
                                </th>
                                <th>
                                    <a class="c-link btn btn-primary" role="button" href="https://digital.educred.ro/" target="_black" role="button">Accesează</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{!-- Primul formular --}}
                                    <div class="c-card" style="border-right: .1rem solid olive;">
                                        <div class="c-header">
                                            <div class="c-header-img" style="background-image: url('img/CatalogulDeResurseEducationale.png');"></div>
                                            <div class="c-title">
                                                <h5>Propuneri de resurse și instrumente digitale cu utilizare educațională</h5>
                                            </div>
                                        </div>                    
                                        <div class="c-body">
                                            <h6 class="c-subtitle">Eu știu o resursa, tu știi o resursa, dacă le împărtășim între noi, fiecare vom ști două resurse.</h6>
                                            <p class="c-descr">Vă invităm să împărtășiți resursele educaționale (colecții de resurse și instrumente digitale) pe care le considerați utile în învățare.
                        Prin completarea acestui formular vă exprimați acordul pentru a împărtăși cu ceilalți colegi materialele propuse, alături de numele dvs. în calitate de propunător al materialului.</p>
                                            {{!-- <a class="c-link btn btn-primary" role="button" href="https://docs.google.com/forms/d/e/1FAIpQLSeAT2eS5wruubEm9DrLmsdV4Y1hG8X8_tZYXiICF4dliFWENg/viewform?usp=sf_link" target="_black" role="button">Accesează</a> --}}
                                            {{!-- <a href="#" class="card-link">Another link</a> --}}
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    {{!-- Al doilea formular --}}
                                    <div class="c-card">
                                        <div class="c-header">
                                            <div class="c-header-img" style="background-image: url('img/CatalogDeInstrumenteEducationaleheader.png');"></div>
                                            <div class="c-title">
                                                <h5>Digital pe educred.ro</h5>
                                            </div>
                                        </div>                    
                                        <div class="c-body">
                                            <h6 class="c-subtitle">Venim în ajutorul celor care au nevoie de resurse și instrumente</h6>
                                            <p class="c-descr">
                                                Această pagină beneficiază de sugestiile trimise de cadre didactice și încearcă să răspundă cât mai sintetic nevoilor identificate la nivelul procesului și sistemului de învățământ pe perioada suspendării cursurilor față-în-față. 
                                                Pentru sugestii și suport (colegial), utilizați grupul de Facebook <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.facebook.com%2Fgroups%2Fresurseeducationaledeschise%2F&sa=D&sntz=1&usg=AFQjCNGZfyVGO9kqy8a8xlvamwPmmlWIig" target="_blank">Resurse Educaționale Deschise</a> sau <a href="https://www.facebook.com/groups/574392349703069/" target="_blank">grupul proiectului CRED</a> 
                                            </p>
                                            {{!-- <a class="c-link btn btn-primary" role="button" href="https://digital.educred.ro/" target="_black" role="button">Accesează</a> --}}
                                            {{!-- <a href="#" class="card-link">Another link</a> --}}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {{/if}}               
            </div>            
        </section>
        <section>
            {{!-- <button type="button" class="btn btn-success">Propune RED propriu</button>
            <button type="button" class="btn btn-success">Introdu un instrument</button> --}}
            {{!-- <a class="btn btn-success" href="https://sites.google.com/educred.ro/digitalpeeduro/home" target="_blank" role="button">Instrumente ale comunității</a> --}}
        </section>
    </div>
            
    {{!-- <div class="os-animation" data-animation="bounceInUp" data-delay=".6s">
        <a class="btn btn-outline-light btn-lg" href="/resursepublice">Zona resurselor deschise public</a>
    </div> --}}

</div>

{{!-- secțiune întâmpinare final--}}
<!--- Indicator săgeată -->
<a class="down-arrow" href="#resurse">
    <div class="arrow bounce d-none d-md-block">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
    </div>
</a>

{{!-- <div class="container"> --}}
    {{!-- {{> mainInfo}} --}}
<div class="offset">
    <div class="os-animation narrow text-center" data-animation="fadeInUp">
        {{!-- <h3 class="heading">
            Resurse la îndemâna dumneavoastră
        </h3>
        <div id="tools">

            <article class="infotoken">
                <div class="infotoken__head">
                    <div class="infotoken__head__cover">
                        <img src="img/CatalogulDeResurseEducationale.png" alt="Ceva info despre imagine logo sau captură">
                        <p class="infotoken__head__cover--nr">321</p>
                    </div>
                    <div class="infotoken__head__title">
                        <h3>Acesta este un infotoken despre ceva legat de video</h3>
                    </div>
                </div>
                <div class="infotoken__body">
                    Aceasta va fi o descriere de o dimensiune ceva mai mare a software-ului sau colecției de resurse sau instrumentului de comunicare care va fi descris prin acest infotoken.
                </div>
                <div class="infotoken__footer">
                    <span class="badge badge-pill badge-secondary">biologie</span>
                    <span class="badge badge-pill badge-secondary">video</span>
                    <span class="badge badge-pill badge-secondary">colecție</span>
                </div>
            </article>

            <article class="infotoken">
                <div class="infotoken__head">
                    <div class="infotoken__head__cover">
                        <img src="img/CatalogulDeResurseEducationale.png" alt="Ceva info despre imagine logo sau captură">
                        <p class="infotoken__head__cover--nr">23003</p>
                    </div>
                    <div class="infotoken__head__title">
                        <h3>Acesta este un infotoken despre ceva legat de video</h3>
                    </div>
                </div>
                <div class="infotoken__body">
                    Aceasta va fi o descriere de o dimensiune ceva mai mare a software-ului sau colecției de resurse sau instrumentului de comunicare care va fi descris prin acest infotoken.
                </div>
                <div class="infotoken__footer">
                    <span class="badge badge-pill badge-secondary">biologie</span>
                    <span class="badge badge-pill badge-secondary">video</span>
                    <span class="badge badge-pill badge-secondary">colecție</span>
                </div>
            </article>
            <article class="infotoken">
                <div class="infotoken__head">
                    <div class="infotoken__head__cover">
                        <img src="img/CatalogulDeResurseEducationale.png" alt="Ceva info despre imagine logo sau captură">
                        <p class="infotoken__head__cover--nr">4</p>
                    </div>
                    <div class="infotoken__head__title">
                        <h3>Acesta este un infotoken despre ceva legat de video</h3>
                    </div>
                </div>
                <div class="infotoken__body">
                    Aceasta va fi o descriere de o dimensiune ceva mai mare a software-ului sau colecției de resurse sau instrumentului de comunicare care va fi descris prin acest infotoken.
                </div>
                <div class="infotoken__footer">
                    <span class="badge badge-pill badge-secondary">biologie</span>
                    <span class="badge badge-pill badge-secondary">video</span>
                    <span class="badge badge-pill badge-secondary">colecție</span>
                </div>
            </article>
            <article class="infotoken">
                <div class="infotoken__head">
                    <div class="infotoken__head__cover">
                        <img src="img/CatalogDeInstrumenteEducationaleheader.png" alt="Ceva info despre imagine logo sau captură">
                        <p class="infotoken__head__cover--nr">15</p>
                    </div>
                    <div class="infotoken__head__title">
                        <h3>Acesta este un infotoken despre ceva legat de video</h3>
                    </div>
                </div>
                <div class="infotoken__body">
                    Aceasta va fi o descriere de o dimensiune ceva mai mare a software-ului sau colecției de resurse sau instrumentului de comunicare care va fi descris prin acest infotoken.
                </div>
                <div class="infotoken__footer">
                    <span class="badge badge-pill badge-secondary">biologie</span>
                    <span class="badge badge-pill badge-secondary">video</span>
                    <span class="badge badge-pill badge-secondary">colecție</span>
                </div>
            </article>
        </div> --}}
    </div>

    <div id="resurse" class="resurse os-animation" data-animation="fadeInUp">
        <div class="resurse">
            {{!-- Background video --}}
            <div class="bg-video">
                <video class="bg-video__content" autoplay muted loop>
                    {{!-- https://coverr.co/videos/modem-lights-u4MPlcF4EE --}}
                    <source src="img/Modem-lights.mp4" type="video/mp4">
                    <source src="img/Modem-lights.webm" type="video/webm">
                    Browserul tău nu are support pentru caracteristicile web moderne. Actualizează-l!
                </video>
            </div>

            {{!-- Șablon de resursă în landing --}}
            {{#each resurse}}
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">
                            <a class="btn btn-dark" href="/resursepublice/{{this.id}}" class="">{{this.title}}</a>
                        </h5>                                   
                    </div>
                    <img class="card-img-top" src="{{this.coperta}}" alt="{{this.title}}">
                    <div class="card-body">

                        <p class="card-text">{{this.description}}</p>
                        {{!-- <a href="/resursepublice/{{this.id}}" class="btn btn-primary">Afișează</a>    --}}
                    </div>
                    <div class="card-footer text-muted">
                        {{!-- {{this.date}} --}}
                        {{this.dataRo}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>

<template id="infot">
    <article class="infotoken">
        <div class="infotoken__head">
            <div class="infotoken__head__cover">
                <img src="img/CatalogulDeResurseEducationale.png" alt="Ceva info despre imagine logo sau captură">
                <p class="infotoken__head__cover--nr">321</p>
            </div>
            <div class="infotoken__head__title">
                <h3>Acesta este un infotoken despre ceva legat de video</h3>
            </div>
        </div>
        <div class="infotoken__body">
            Aceasta va fi o descriere de o dimensiune ceva mai mare a software-ului sau colecției de resurse sau instrumentului de comunicare care va fi descris prin acest infotoken.
        </div>
        <div class="infotoken__footer">
            <span class="badge badge-pill badge-secondary">biologie</span>
            <span class="badge badge-pill badge-secondary">video</span>
            <span class="badge badge-pill badge-secondary">colecție</span>
        </div>
    </article>
</template>