{{!< k1/landing}}

{{> nav-landing_k1}}

<input type="hidden" name="_csrf" value="{{csrfToken}}">

{{!-- Încărcarea modulelor --}}
{{#each modules}}
    <script type="module" src="{{module}}"></script>
{{/each}}

{{!-- Încărcarea scripturilor --}}
{{#each scripts}}
    <script defer type="application/javascript" src="{{script}}"></script>
{{/each}}

<!-- Header-->
<header id="header-landing" class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
        <div class="col-lg-8">
            <div class="text-center my-5">
            <h1 class="display-5 fw-bolder text-white mb-2">Depozit digital pentru dezvoltare</h1>
            <p class="lead text-white-50 mb-4">prelucrare diverse date și informații utile.</p>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                {{!-- <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Adăugați o resursă</a> --}}
                {{!-- <a class="btn btn-outline-light btn-lg" href="/resurse">Vizualizați resurse</a> </div> --}}
            </div>
        </div>
        </div>
    </div>
</header>

<!-- Features section-->
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                    <i class="bi bi-collection"></i>
                </div>
                <h2 class="h4 fw-bolder">Resurse educaționale</h2>
                <p>Resurse care au un scop educțional pentru care se face modelare de date.</p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-terminal"></i></div>
                <h2 class="h4 fw-bolder">Platforme și aplicații care generează conținut deschis</h2>
                <p>Pentru dezvoltarea, utilizarea, reutilizarea, căutarea, organizarea și accesul la resurse; includ si medii virtuale de învățare (LMS), comunități de învățare</p>
            </div>
            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                <h2 class="h4 fw-bolder">Software și API-uri</h2>
                <p>O evidență a pachetelor existente. Evidență necesară lucrului cu datele specifice.</p>
            </div>
        </div>
    </div>
</section>

<section class="offset bg-light py-5 border-bottom">

    {{!-- <h3 class="heading">
        Resurse la îndemâna dumneavoastră
    </h3>
    <div id="tools">
        <info-token></info-token>
    </div> --}}
    
<!--    <div class="os-animation narrow text-center" data-animation="fadeInUp">-->
        {{!-- <h3 class="heading">
            Resurse la îndemâna dumneavoastră
        </h3>
        <div id="tools">

            <article class="infotoken">
                <div class="infotoken__head">
                    <div class="infotoken__head__cover">
                        <img src="img/CatalogulDeResurseEducationale.png" alt="Ceva info despre imagine logo sau captură">
                        <p class="infotoken__head__cover--nr">321</p>
                    </div>
                    <div class="infotoken__head__title">
                        <h3>Acesta este un infotoken despre ceva legat de video</h3>
                    </div>
                </div>
                <div class="infotoken__body">
                    Aceasta va fi o descriere de o dimensiune ceva mai mare a software-ului sau colecției de resurse sau instrumentului de comunicare care va fi descris prin acest infotoken.
                </div>
                <div class="infotoken__footer">
                    <span class="badge badge-pill badge-secondary">biologie</span>
                    <span class="badge badge-pill badge-secondary">video</span>
                    <span class="badge badge-pill badge-secondary">colecție</span>
                </div>
            </article>

            <article class="infotoken">
                <div class="infotoken__head">
                    <div class="infotoken__head__cover">
                        <img src="img/CatalogulDeResurseEducationale.png" alt="Ceva info despre imagine logo sau captură">
                        <p class="infotoken__head__cover--nr">23003</p>
                    </div>
                    <div class="infotoken__head__title">
                        <h3>Acesta este un infotoken despre ceva legat de video</h3>
                    </div>
                </div>
                <div class="infotoken__body">
                    Aceasta va fi o descriere de o dimensiune ceva mai mare a software-ului sau colecției de resurse sau instrumentului de comunicare care va fi descris prin acest infotoken.
                </div>
                <div class="infotoken__footer">
                    <span class="badge badge-pill badge-secondary">biologie</span>
                    <span class="badge badge-pill badge-secondary">video</span>
                    <span class="badge badge-pill badge-secondary">colecție</span>
                </div>
            </article>
            <article class="infotoken">
                <div class="infotoken__head">
                    <div class="infotoken__head__cover">
                        <img src="img/CatalogulDeResurseEducationale.png" alt="Ceva info despre imagine logo sau captură">
                        <p class="infotoken__head__cover--nr">4</p>
                    </div>
                    <div class="infotoken__head__title">
                        <h3>Acesta este un infotoken despre ceva legat de video</h3>
                    </div>
                </div>
                <div class="infotoken__body">
                    Aceasta va fi o descriere de o dimensiune ceva mai mare a software-ului sau colecției de resurse sau instrumentului de comunicare care va fi descris prin acest infotoken.
                </div>
                <div class="infotoken__footer">
                    <span class="badge badge-pill badge-secondary">biologie</span>
                    <span class="badge badge-pill badge-secondary">video</span>
                    <span class="badge badge-pill badge-secondary">colecție</span>
                </div>
            </article>
            <article class="infotoken">
                <div class="infotoken__head">
                    <div class="infotoken__head__cover">
                        <img src="img/CatalogDeInstrumenteEducationaleheader.png" alt="Ceva info despre imagine logo sau captură">
                        <p class="infotoken__head__cover--nr">15</p>
                    </div>
                    <div class="infotoken__head__title">
                        <h3>Acesta este un infotoken despre ceva legat de video</h3>
                    </div>
                </div>
                <div class="infotoken__body">
                    Aceasta va fi o descriere de o dimensiune ceva mai mare a software-ului sau colecției de resurse sau instrumentului de comunicare care va fi descris prin acest infotoken.
                </div>
                <div class="infotoken__footer">
                    <span class="badge badge-pill badge-secondary">biologie</span>
                    <span class="badge badge-pill badge-secondary">video</span>
                    <span class="badge badge-pill badge-secondary">colecție</span>
                </div>
            </article>
        </div> --}}
<!--    </div>-->

    <div class="container">
        <div class="text-center mb-5">
            <a class="btn btn-outline-info btn-lg" href="/resursepublice">Acces liber la resurse</a>
        </div>

        <div class="text-center mb-5">
            <h3>Ultimele adăugate</h3>
        </div>

        <div id="resurse" class="row gx-5 justify-content-center">
            <div class="units container">
                {{!-- Randează resursele în landing --}}
                {{#each resurse}}
                    <div class="unit">
                        <div class="unit-header">
                            <h3 class="unit-title">
                                <a href="/resursepublice/{{this._id}}" maxlength="4">{{this.title}}</a>
                            </h3>
                            <div class="row mb-2 text-muted">
                                <p class="card-subtitle col-sm-6 text-muted">{{this.autori}}</p>
                                <p class="card-subtitle col-sm-6 text-muted">{{this.dataRo}}</p>
                            </div>
                        </div>
                        {{!-- <img class="card-img-top" src="{{this.coperta}}" alt="{{this.title}}"> --}}
                        <div class="unit-body">
                            <main class="unit-description">
                                <aside>
                                    {{!-- Dacă există copertă, afișeaz-o --}}
                                    {{#if this.coperta}}
                                        <div><img src="{{this.coperta}}" class="unit-img-top" alt="{{this.title}}"></div>
                                    {{else}}
                                        <div class="unit-default-visual">
                                            <img class="unit-default-visual-logo" src="/{{logo}}" alt="logo">
                                            <img src="/{{template}}/img/black-1072366_1920.jpg" class="" alt="{{this.title}}">
                                        </div>
                                        <div class="unit-grading">{{{this.ratingrepresentation}}}</div>
                                        {{!-- <div class="unit-grading"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i><i class="bi bi-star"></i></div> --}}
                                    {{/if}}
                                </aside>
                                <p>{{this.description}}</p>
                            </main>  
                        </div>
                        <div class="unit-footer">
                            {{#each this.etichete}}
                                <a href="/tag/{{this}}">
                                    <span class="badge badge-info">{{this}}</span>
                                </a>
                            {{/each}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>

<template id="infot">
    <article class="infotoken">
        <div class="infotoken__head">
            <div class="infotoken__head__cover">
                <img src="img/CatalogulDeResurseEducationale.png" alt="Ceva info despre imagine logo sau captură">
                <p class="infotoken__head__cover--nr">321</p>
            </div>
            <div class="infotoken__head__title">
                <h3>Acesta este un infotoken despre ceva legat de video</h3>
            </div>
        </div>
        <div class="infotoken__body">
            Aceasta va fi o descriere de o dimensiune ceva mai mare a software-ului sau colecției de resurse sau instrumentului de comunicare care va fi descris prin acest infotoken.
        </div>
        <div class="infotoken__footer">
            <span class="badge badge-pill badge-secondary">biologie</span>
            <span class="badge badge-pill badge-secondary">video</span>
            <span class="badge badge-pill badge-secondary">colecție</span>
        </div>
    </article>
</template>