{{!< k1/layout}}
{{> nav-resurse}}
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    
    <div id="container">
        <div id="editorcrate" class="container p-2">
            <h1>Înregistrare nouă</h1>
            <form onsubmit="return false;" action="javascript:void(0)">
                {{!-- Formular de introducere articol --}}
                <div class="row">
                    <div id="titlelog" class="col">
                        <input type="text" class="form-control" placeholder="Titlu">
                    </div>
                    <div class="col">
                        <input id="aliaslog" type="text" class="form-control" placeholder="alias-la-titlu-cu-care-se-termina-linkul">
                    </div>
                    <div id="autorlog" class="col">
                        <input id="idContributor" name="emailUser" type="hidden" value="{{user.email}}">
                        <input id="userId" name="unerId" type="hidden" value="{{user.id}}">
                        <input id="autor" type="text" value="{{user.googleProfile.name}}" class="form-control" placeholder="{{user.googleProfile.name}}">
                    </div>


                    {{!-- LIMBĂ - OPȚIUNI --}}
                    <div class="frm01-lang-opt form-group d-flex">
                        {{!-- Info la câmp --}}
                        <aside data-toggle="tooltip" 
                            data-container="body" 
                            data-placement="top" 
                            data-html="true" 
                            title="Adaugă creatorii resursei originale.">
                            <i class="fas fa-info-circle fa-2x text-info"></i>
                        </aside>
                        <button id="addBody" class="btn btn-outline-secondary m-2" type="button" onclick="creeazaBody()">
                            <i class="fas fa-plus-circle"></i> Creatori
                        </button>
                    </div>
                    <div id="detailBody">
                        {{!-- AICI SUNT INTRODUSE TITLURILE ALTERNATIVE (dynamic) --}}
                    </div>
                </div>
                <div class="justify-content-center mt-4">
                    <div id="codex"></div>
                </div>

                {{!-- ETICHETE --}}
                <fieldset>
                    <div id="tags"></div>
                    <div id="etichete" class="form-group row">
                        <label for="redTags" class="col-sm-4 col-form-label">Etichetează intrarea</label>
                        
                        <div id="redTags" class="col-sm-8">
                            <input type="text" id="eticheteLog" class="form-control" placeholder="ex: palindrom, funcție matematică, CevaPersonalizat01">
                        </div>
                    </div>
                </fieldset>
                {{!-- ETICHETE END --}}

                <br>
                <section>
                    <h4>În relație cu</h4>
                    <nav class="navbar navbar-light bg-light">
                        <form class="form-inline">
                            <input class="form-control mr-sm-2" type="search" placeholder="Caută opera părinte" aria-label="Search">
                        </form>
                    </nav>
                </section>

                <br>
                <button id="enterlog" class="btn btn-danger">Salvează</button>
            </form>
        </div>
    </div>