{{!< layout}}
{{> nav-profile}}
{{> messages}}
<input type="hidden" name="_csrf" value="{{this.csrfToken}}">
<div>
    <h1>{{user.googleProfile.name}}</h1>
    {{!-- <img src="{{user.googleProfile.picture}}" alt="Imaginea contului cu care utilizatorul s-a logat" width="50"> --}}
    <p>Email: {{user.email}}</p>
    <p>Administrator: {{#if user.roles.admin}}confirmat{{else}}încă nu!{{/if}}</p>
    <p>Roluri: {{#each user.roles.rolInCRED}}<span class="badge badge-info"> {{this}}</span> {{/each}}</p>
    <p>Unități: {{#each user.roles.unit}}<span class="badge badge-info">{{this}}</span> {{/each}}</p>
    <p>Ecusoane: {{#each user.ecusoane}}<span class="badge badge-info">{{this}}</span> {{/each}}</p>
</div>
<div>
    <a href="/profile/resurse" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">Resursele mele</a>
</div>