{{!< layout}}
{{> nav-resurse}}

<input type="hidden" name="_csrf" value="{{this.csrfToken}}">
<div id="resursaincredadm" class="resurse">
    <div data-id="{{resursa._id}}" data-contribuitor="{{resursa.idContributor}}" data-content="{{json resursa}}" data-uuid="{{resursa.uuid}}" id="{{resursa._id}}" class="resursa">
        <div class="container redcontent">

            {{!-- Dacă există copertă, afișeaz-o --}}
            {{#if this.coperta}}
                <img src="{{this.coperta}}" class="coperta card-img-top" alt="{{this.title}}">
                {{else}}
                <div style="position: relative;">
                    <img src="/img/CREDlogo.jpg" alt="" width="100px" style="position: absolute; top: 5; left: 5">
                    <img data-src="holder.js/100px100&textmode=exact?auto=yes&text=RED" class="coperta card-img-top" alt="{{this.title}}">
                </div>
            {{/if}}

            {{!-- Afișează titlul și descrierea --}}
            <div class="card-title jumbotron">
                <h1 class="display-4" itemprop="name">{{resursa.title}}</h1>

                {{!-- Data elaborării resursei și cine a propus-o --}}
                <div class="descrres">
                    <p data-toggle="tooltip" data-placement="bottom" title="Data introducerii resursei">
                        <meta itemprop="datePublished" content="{{resursa.dataRo}}">
                        {{resursa.dataRo}}
                    </p>
                    <p itemprop="creator">
                        <a href="/user/{{resursa.idContributor}}" itemprop="accountablePerson" data-toggle="tooltip" data-placement="top" title="Este cel care a introdus resursa.">
                            <i class="fas fa-user-circle"></i>
                        </a> {{resursa.autori}}
                    </p>
                </div>

                {{!-- Dacă există titluri alternative, afișează-le --}}
                {{#if resursa.titleI18n}}
                    <div class="titlaltres aired-medium">
                        <h5>Titluri alternative</h5>
                        {{#each resursa.titleI18n}}
                            {{#each this}}
                                <strong itemprop="alternativeHeadline">{{@key}}: {{.}}</strong>
                            {{/each}}
                        {{/each}}
                    </div>
                {{/if}}

                <div class="descri-res aired-medium">
                    <p itemprop="description" class="lead">{{resursa.description}}</p>
                    <aside>
                        <strong>Verificată: {{{resursa.validate}}}</strong>
                    </aside>
                </div>

                {{!-- Afișarea etichetelor atașare resursei --}}
                <div class="tagsrespub">
                    <h5>Etichete</h5>
                    {{#each resursa.etichete}}
                        <a itemprop="keywords" href="/tag/{{this}}"><span class="badge badge-info">{{this}}</span></a>
                    {{/each}}
                </div>

            </div>


            <div class="container">

                <!--Accordion wrapper-->
                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                    <!-- Accordion card -->
                    <div class="cardx">

                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingOne1">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                               aria-controls="collapseOne1" class="collapsed">
                                <h5 class="mb-0">
                                    <i class="fas fa-caret-right rotate-icon"></i> Încadrare
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
                             data-parent="#accordionEx">
                            <div class="card-body">

                                {{!-- Afișarea ariei curriculare --}}
                                <div class="comprespub">
                                    <h5>Arie curriculară</h5>
                                    {{#each resursa.arieCurriculara}}
                                        <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Arie curriculară">
                                            {{this}}
                                        </button>
                                    {{/each}}
                                </div>

                                {{!-- Afișarea clasei(lor) pentru care a fost elaborată resursa --}}
                                <div class="comprespub">
                                    <h5 itemprop="alignmentType">Clasa</h5>
                                    {{#each resursa.level}}
                                        <a class="btn btn-outline-secondary" href="#" role="button">{{this}}</a>
                                    {{/each}}
                                </div>

                                {{!-- Disciplinele pentru care a fost elaborată resursa --}}
                                {{#if resursa.discipline}}
                                    <div class="comprespub discsrespub">
                                        <h5>Discipline</h5>
                                        {{#each resursa.discipline}}
                                            <button type="button" class="btn btn-primary btn-sm">
                                                <i class="fas fa-book-open"></i> {{this}}
                                            </button>
                                        {{/each}}
                                    </div>
                                {{/if}}

                                {{!-- Afișarea competențelor generale --}}
                                {{#if resursa.competenteGen}}
                                    <div class="comprespub">
                                        <h5>Competențe generale</h5>
                                        {{#each resursa.competenteGen}}
                                            <em>{{this}}</em>
                                        {{/each}}
                                    </div>
                                {{/if}}

                                {{!-- Afișarea competențelor specifice --}}
                                {{#if resursa.competenteS}}
                                    <div class="compspecrespub">
                                        <h5>Competențe specifice</h5>
                                        {{#each resursa.competenteS}}
                                            <a class="btn btn-primary" href="/competentas/{{this._id}}" role="button" data-toggle="tooltip" data-placement="top" title="Face parte din competența generală: {{this.parteA}}">
                                                {{this.nume}} <span class="badge badge-light">{{this.nivel}}</span>
                                            </a>
                                        {{/each}}
                                    </div>
                                {{/if}}

                                {{!-- Afișarea activităților selectare pentru fiecare competență specifică --}}
                                {{#if resursa.activitati}}
                                    <div class="activsrespub">
                                        <h5>Activități</h5>
                                        <ul>
                                            {{#each resursa.activitati}}
                                                <li>
                                                    {{{this}}}
                                                </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                {{/if}}

                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->

                    <!-- Accordion card -->
                    <div class="cardx">

                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingTwo2">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                               aria-expanded="false" aria-controls="collapseTwo2">
                                <h5 class="mb-0">
                                    <i class="fas fa-caret-right rotate-icon"></i> Detalii
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                             data-parent="#accordionEx">
                            <div class="card-body">

                                {{!-- Menționarea nivelului competențelor digitale necesare [NEW] --}}
                                {{#if resursa.abilitati}}
                                    <div class="abildigrespub">
                                        <h6>RED-ul necesită competențe digitale de nivelul</h5>
                                            <button type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Competențe digitale">
                                                {{resursa.abilitati}}
                                            </button>
                                    </div>
                                {{/if}}

                                {{!-- Competențe digitale necesare ca nivel [LEGACY] --}}
                                {{#if resursa.grupuri}}
                                    <div class="compsdigrespub">
                                        <h6> RED-ul se adresează în mod direct</h5>
                                            <ul itemprop="audience" itemscope itemtype="http://schema.org/EducationalAudience">
                                                {{#each resursa.grupuri}}
                                                    <li itemprop="educationalRole">
                                                        {{this}}
                                                    </li>
                                                {{/each}}
                                            </ul>
                                    </div>
                                {{/if}}

                                {{!-- Activități de învățare susținute [NEW] --}}
                                {{#if resursa.rol}}
                                    <div class="rolrespub">
                                        <h6>Activități de învățare susținute</h5>
                                            <p>{{resursa.rol}}</p>
                                    </div>
                                {{/if}}

                                {{!-- Resursele necesare pentru utilizarea RED-ului [NEW] --}}
                                {{#if resursa.materiale}}
                                    <div class="domeniuadrrespub">
                                        <h6>Domeniul căruia i se adresează resursa</h5>
                                            <ul>
                                                {{#each resursa.materiale}}
                                                    <li>
                                                        {{this}}
                                                    </li>
                                                {{/each}}
                                            </ul>
                                    </div>
                                {{/if}}

                                {{!-- Demeniul căreia i se adresează resursa [LEGACY] --}}
                                {{#if resursa.domeniu}}
                                    <div class="domeniuadrrespub">
                                        <h6>Domeniul căruia i se adresează resursa</h5>
                                            <ul>
                                                {{#each resursa.domeniu}}
                                                    <li>
                                                        {{this}}
                                                    </li>
                                                {{/each}}
                                            </ul>
                                    </div>
                                {{/if}}

                                {{!-- Care sunt funcțiile pe care resursa le vizează [LEGACY] --}}
                                {{#if resursa.functii}}
                                    <div class="funcsrespub">
                                        <h6>Resursa vizează:</h5>
                                            <ul>
                                                {{#each resursa.functii}}
                                                    <li itemprop="learningResourceType">
                                                        {{this}}
                                                    </li>
                                                {{/each}}
                                            </ul>
                                    </div>
                                {{/if}}

                                {{!-- Afișează tipurile de demersuri / raționamente utilizate în realizarea funcției [LEGACY] --}}
                                {{#if resursa.demersuri}}
                                    <div class="demersrespub">
                                        <h6>Tipul de demers / raționament utilizat în realizarea resursei</h5>
                                            <ul>
                                                {{#each resursa.demersuri}}
                                                    <li>
                                                        {{this}}
                                                    </li>
                                                {{/each}}
                                            </ul>
                                    </div>
                                {{/if}}

                                {{!-- Cum se desfășoară activitatea [LEGACY] --}}
                                {{#if resursa.spatii}}
                                    <div class="atsdesrespub">
                                        <h6>Activitatea se desfășoară:</h5>
                                            <ul>
                                                {{#each resursa.spatii}}
                                                    <li itemprop="educationalUse">
                                                        {{this}}
                                                    </li>
                                                {{/each}}
                                            </ul>
                                    </div>
                                {{/if}}

                                {{!-- Afișează cum se produce învățarea [LEGACY] --}}
                                {{#if resursa.invatarea}}
                                    <div class="mijsrespub">
                                        <h6>Modul în care se produce învățarea se face prin</h5>
                                            <ul>
                                                {{#each resursa.invatarea}}
                                                    <li>
                                                        {{this}}
                                                    </li>
                                                {{/each}}
                                            </ul>
                                    </div>
                                {{/if}}

                                {{!-- Afișează Mijloace / materiale didactice necesare [LEGACY] --}}
                                {{#if resursa.invatarea}}
                                    <div class="depssrespub">
                                        <h6>Mijloace / materiale didactice necesare</h5>
                                            <p>{{resursa.dependinte}}</p>
                                    </div>
                                {{/if}}

                                {{!-- Afișarea licenței sub care stă opera --}}
                                <div class="licrespub">
                                    <h6>Licența</h5>
                                        <p itemprop="license">{{resursa.licenta}}</p>
                                </div>

                                {{!-- Dependințe --}}
                                {{#if resursa.dependinte}}
                                    <div class="depsrespub">
                                        <h6>Alte resurse necesare:</h5>
                                            <p>{{resursa.dependinte}}</p>
                                    </div>
                                {{/if}}

                                {{!-- Intrumente folosite în elaborarea RED-ului [NEW] --}}
                                {{#if resursa.relatedTo}}
                                    <div class="mijsrespub">
                                        <h6>Intrumente folosite în elaborarea RED-ului</h5>
                                            <ul>
                                                {{#each resursa.relatedTo}}
                                                    <li>
                                                        {{this}}
                                                    </li>
                                                {{/each}}
                                            </ul>
                                    </div>
                                {{/if}}

                                {{!-- Afișarea bibliografiei --}}
                                {{#if resursa.bibliografie}}
                                    <div class="bibsrespub">
                                        <h6>Bibliografie</h5>
                                            <p>{{resursa.bibliografie}}</p>
                                    </div>
                                {{/if}}

                            </div>
                        </div>

                    </div>
                    <!-- Accordion card -->

                </div>
                <!-- Accordion wrapper -->

            </div>

            <div>
                <h5>Conținut</h5>
                {{!-- EDITOR --}}
                <div id="edi"></div>

                {{!-- Selector de imagine pentru coperta resursei --}}
                <fieldset>
                    <legend>Selectează imaginea care va fi coperta resursei</legend>
                    <div id="imgSelector"></div>
                </fieldset>
            </div>
            {{!-- Integrarea editorului de text --}}
            {{!-- <div id="codex-editor"></div> --}}
            {{!-- Încarcă aici scripturile pentru a evita oul înaintea găinii! :D --}}
        </div>
    </div>
</div>
{{#each scripts}}
    <script type="application/javascript" src="{{script}}"></script>
{{/each}}
