{{!< layout}}
{{> nav-resurse}}
{{!-- {{> nav-resurse-publice}} --}}
{{> messages}}
    <div id="resursepublice">
        <div class="resurse">
            <div id="searchpublic" class="container pb-3">
                <div class="col-12">
                    <div class="input-group">
                        <input class="form-control border-secondary py-2" type="search" value="cauta">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="card-deck">
                        {{#each resurse}}
                            <div class="col-sm-4 d-flex align-items-stretch">
                                <div class="card ml-2 mh-100">
                                    <img class="card-img-top" src="{{this.coperta}}" alt="{{this.title}}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{this.title}}</h5>
                                        <p class="card-text">{{this.description}}</p>
                                        <a href="/resursepublice/{{this.id}}" class="btn btn-primary">Afișează</a>     
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>