{{!< resursepublice}}
{{> nav-resurse}}
{{!-- {{> nav-resurse-publice}} --}}
{{> messages}}
<input type="hidden" name="_csrf" value="{{this.csrfToken}}">
    <div id="resursepublice">
        <div class="resurse">

            <div id="searchpublic" class="container pb-3">
                {{!-- Câmpul de căutare --}}
                <div class="col-12">
                    <div class="input-group">
                        <input id="searchterms" class="form-control border-secondary py-2" type="search" value="">
                        <div class="input-group-append">
                            <button id="generalsearch" class="btn btn-outline-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                
                {{!-- Mecanismele de selecție a rezultatelor afișate --}}
                <div id="selectors" class="container-fluid">
                    <form>
                        {{!-- Clasa --}}
                        <div id="selectlevel" class="form-group d-flex flex-row">
                            {{!-- <p class="selectortxt">Clasa: </p> --}}
                            <label for="selectclasa" class="selectortxt col-form-label mt-1 pr-1">Clasa:</label>
                            <div class="col-sm-10 row align-items-center">
                                <input type="range" min="0" max="8" value="0" step="1" list="tickmarks" id="selectclasa" oninput="valoareclasa.value = selectclasa.value">
                                <datalist id="tickmarks">
                                    <option value="0">0</option>
                                    <option value="1">I</option>
                                    <option value="2">II</option>
                                    <option value="3">III</option>
                                    <option value="4">IV</option>
                                    <option value="5">V</option>
                                    <option value="6">VI</option>
                                    <option value="7">VII</option>
                                    <option value="8">VIII</option>
                                </datalist>
                                <output class="pl-1" id="valoareclasa" for="selectclasa"> 0</output>
                            </div>            
                        </div>
                        {{!-- Este diviziunea unde se generează selectul pentru discipline --}}
                        <div id="selectordisc" class="form-group">
                        </div>
                        <div class="invalid-feedback">Example invalid custom select feedback</div>
                    </form>
                </div>
            </div>
            <div id="respubselected" class="resurse">
                {{!-- Background video --}}
                <div class="bg-video">
                    <video class="bg-video__content" autoplay muted loop>
                        {{!-- https://coverr.co/videos/modem-lights-u4MPlcF4EE --}}
                        <source src="img/Modem-lights.mp4" type="video/mp4">
                        <source src="img/Modem-lights.webm" type="video/webm">
                        Browserul tău nu are support pentru caracteristicile web moderne. Actualizează-l!
                    </video>
                </div>
                {{#each resurse}}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">
                                <a class="btn btn-dark" href="/resursepublice/{{this.id}}" class="">{{this.title}}</a>
                            </h5>
                            <h6 class="card-subtitle mb-2">{{this.autori}}</h6>
                            <span class="text-muted">{{this.dataRo}}</span>                                   
                        </div>
                        <img class="card-img-top" src="{{this.coperta}}" alt="{{this.title}}">
                        <div class="card-body">
                            <p class="card-text">{{this.description}}</p>     
                        </div>
                        <div class="card-footer">
                            {{!-- {{this.date}} --}}
                            {{#each this.etichete}}
                                <a href="/tag/{{this}}">
                                    <span class="badge badge-info">{{this}}</span>
                                </a>
                            {{/each}}
                            {{!-- {{this.dataRo}} --}}
                        </div>
                    </div>
                {{/each}}
            </div>
            {{!-- Template pentru afișarea resurselor aduse în regimul clasă -> disciplină --}}
            <template id="resurse-selected">
                {{#each resurse}}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">
                                <a class="btn btn-dark" href="/resursepublice/{{this.id}}" class="">{{this.title}}</a>
                            </h5>                                   
                        </div>
                        <img class="card-img-top" src="{{this.coperta}}" alt="{{this.title}}">
                        <div class="card-body">
                            <p class="card-text">{{this.description}}</p>    
                        </div>
                    </div>
                {{/each}}
            </template>
            
            <template id="resursa-template">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">
                            <a id="resid" class="btn btn-dark"></a>
                        </h5>                                   
                    </div>
                    <div class="card-body">
                        <p class="card-text"></p>   
                    </div>
                </div>
            </template>
        </div>
    </div>