{{!< layout}}
{{> nav-resurse}}

<input type="hidden" name="_csrf" value="{{this.csrfToken}}">

<div itemscope itemtype="http://schema.org/CreativeWork" id="resursaincred" class="">
    {{!-- Background video --}}
    <div class="bg-video">
        <video class="bg-video__content" autoplay muted loop>
            {{!-- https://coverr.co/videos/modem-lights-u4MPlcF4EE --}}
            <source src="img/Modem-lights.mp4" type="video/mp4">
            <source src="img/Modem-lights.webm" type="video/webm">
            Browserul tău nu are support pentru caracteristicile web moderne. Actualizează-l!
        </video>
    </div>

    {{!-- RESURSA --}}
    <div data-id="{{resursa.id}}" data-contribuitor="{{resursa.idContributor}}" id="{{resursa.id}}" class="resursa">
        {{!-- Conținut resursă educațională --}}
        <div class="container redcontent">
            {{!-- Header resursă educațională --}}
            <img itemprop="image" src="{{resursa.coperta}}" class="coperta card-img-top" alt="{{resursa.title}}">

            <div class="card-title">
                <h5 itemprop="name">Titlul resursei: {{resursa.title}}</h5>
            </div>
            {{#if resursa.titleI18n}}
                <h5>Titluri alternative:</h5>
                {{#each resursa.titleI18n}}
                    {{#each this}}
                        <strong itemprop="alternativeHeadline">{{@key}}: {{.}}</strong>
                    {{/each}}
                {{/each}}
            {{/if}}    
            <h5>Data introducerii resursei</h5>
            <p>
                <meta itemprop="datePublished" content="{{resursa.dataRo}}">
                {{resursa.dataRo}}
            </p>
            <h5>Autori:</h5>
            <p itemprop="creator">{{resursa.autori}}</p>
            <h5>Contribuitor:</h5>
            <p itemprop="accountablePerson">{{resursa.idContributor}}</p>
            <h5>Descrierea resursei:</h5>
            <p itemprop="description" class="card-text">{{resursa.description}}</p>
            <h5>Arie curriculară:</h5>
            <ul>
                {{#each resursa.arieCurriculara}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
            <h5 itemprop="alignmentType">Clasa:</h5>
            <ul>
                {{#each resursa.level}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
            <h5>Discipline:</h5>
            <ul>
                {{#each resursa.discipline}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
            <h5>Competențe generale:</h5>
            <ul>
                {{#each resursa.competenteGen}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
            <h5>Competențe specifice:</h5>
            <ul>
                {{#each resursa.competenteS}}
                    <li>
                        {{#this}}
                            {{nume}}
                        {{/this}}
                    </li>
                {{/each}}
            </ul>
            <h5>Activități:</h5>
            <ul>
                {{#each resursa.activitati}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
            <h5>Grup țintă:</h5>
            <ul itemprop="audience" itemscope itemtype="http://schema.org/EducationalAudience">
                {{#each resursa.grupuri}}
                    <li itemprop="educationalRole">
                        {{this}}
                    </li>
                {{/each}}
            </ul>
            <h5>Domeniul căruia i se adresează resursa:</h5>
            <ul>
                {{#each resursa.domeniu}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
            <h5>Resursa vizează:</h5>
            <ul>
                {{#each resursa.functii}}
                    <li itemprop="learningResourceType">
                        {{this}}
                    </li>
                {{/each}}
            </ul>
            <h5>Tipul de demers / raționament utilizat în realizarea resursei:</h5>
            <ul>
                {{#each resursa.demersuri}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
            <h5>Activitatea se desfășoară:</h5>
            <ul>
                {{#each resursa.spatii}}
                    <li itemprop="educationalUse">
                        {{this}}
                    </li>
                {{/each}}
            </ul>
            <h5>Modul în care se produce învățarea se face prin:</h5>
            <ul>
                {{#each resursa.invatarea}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
            <h5>Mijloace / materiale didactice necesare</h5> 
            <p>{{resursa.dependinte}}</p>
            <h5>Licența:</h5>
            <p itemprop="license">{{resursa.licenta}}</p>
            {{#if resursa.bibliografie}}
                <h5>Bibliografie</h5>
                <p>{{resursa.bibliografie}}</p>
            {{/if}}
            <h5>Etichete</h5>
            <div>
                {{#each resursa.etichete}}
                    <a itemprop="keywords" href="/tag/{{this}}" class="badge badge-success">{{this}}</a>
                {{/each}}
            </div>
            <h5>Conținut</h5>
            <div class="content">
                {{!-- AFIȘAREA CONȚINUTULUI este de fapt o transformare în html a obiectului content. Vezi resincredid.ctrl.js --}}
                {{{resursa.content}}}
            </div>
            {{!-- Integrarea editorului de text --}}
            {{!-- <div id="codex-editor"></div> --}}
            {{!-- Încarcă aici scripturile pentru a evita oul înaintea găinii! :D --}}
        </div>
    </div>
</div>
{{#each scripts}}
    <script src="{{script}}"></script>
{{/each}}