{{!< layout}}
{{> nav-resurse}}
{{> messages}}
<div itemscope itemtype="http://schema.org/CreativeWork" id="resursapublica" class="resurse">
    {{!-- Background video --}}
    <div class="bg-video">
        <video class="bg-video__content" autoplay muted loop>
            {{!-- https://coverr.co/videos/modem-lights-u4MPlcF4EE --}}
            <source src="img/Modem-lights.mp4" type="video/mp4">
            <source src="img/Modem-lights.webm" type="video/webm">
            Browserul tău nu are support pentru caracteristicile web moderne. Actualizează-l!
        </video>
    </div>
    {{#each resursa}}
        <div data-id="{{this._id}}" data-contribuitor="{{this.idContributor}}" id="{{this._id}}" class="resursa">
            <img itemprop="image" src="{{this.coperta}}" class="coperta card-img-top" alt="{{this.title}}">
            <div class="container redcontent">
                <div class="card-title">
                    <h5 itemprop="name">Titlul resursei: {{this.title}}</h5>
                </div>
                {{#if this.titleI18n}}
                    <h5>Titluri alternative:</h5>
                    {{#each this.titleI18n}}
                        {{#each this}}
                            <strong itemprop="alternativeHeadline">{{@key}}: {{.}}</strong>
                        {{/each}}
                    {{/each}}
                {{/if}}    
                <h5>Data introducerii resursei</h5>
                <p>
                    <meta itemprop="datePublished" content="{{this.dataRo}}">
                    {{this.dataRo}}
                </p>
                <h5>Autori:</h5>
                <p itemprop="creator">{{this.autori}}</p>
                <h5>Contribuitor:</h5>
                <p itemprop="accountablePerson">{{this.idContributor}}</p>
                <h5>Descrierea resursei:</h5>
                <p itemprop="description" class="card-text">{{this.description}}</p>
                <h5>Arie curriculară:</h5>
                <ul>
                    {{#each this.arieCurriculara}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                <h5 itemprop="alignmentType">Clasa:</h5>
                <ul>
                    {{#each this.level}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                <h5>Discipline:</h5>
                <ul>
                    {{#each this.discipline}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                <h5>Competențe generale:</h5>
                <ul>
                    {{#each this.competenteGen}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                <h5>Competențe specifice:</h5>
                <ul>
                    {{#each this.competenteS}}
                        <li>
                            {{#this}}
                                {{nume}}
                            {{/this}}
                        </li>
                    {{/each}}
                </ul>
                <h5>Activități:</h5>
                <ul>
                    {{#each this.activitati}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                <h5>Grup țintă:</h5>
                <ul itemprop="audience" itemscope itemtype="http://schema.org/EducationalAudience">
                    {{#each this.grupuri}}
                        <li itemprop="educationalRole">
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                <h5>Domeniul căruia i se adresează resursa:</h5>
                <ul>
                    {{#each this.domeniu}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                <h5>Resursa vizează:</h5>
                <ul>
                    {{#each this.functii}}
                        <li itemprop="learningResourceType">
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                <h5>Tipul de demers / raționament utilizat în realizarea resursei:</h5>
                <ul>
                    {{#each this.demersuri}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                <h5>Activitatea se desfășoară:</h5>
                <ul>
                    {{#each this.spatii}}
                        <li itemprop="educationalUse">
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                <h5>Modul în care se produce învățarea se face prin:</h5>
                <ul>
                    {{#each this.invatarea}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                <h5>Mijloace / materiale didactice necesare</h5> 
                <p>{{this.dependinte}}</p>
                <h5>Licența:</h5>
                <p itemprop="license">{{this.licenta}}</p>
                {{#if this.bibliografie}}
                    <h5>Bibliografie</h5>
                    <p>{{this.bibliografie}}</p>
                {{/if}}
                <h5>Etichete</h5>
                <div>
                    {{#each this.etichete}}
                        <a itemprop="keywords" href="/tag/{{this}}" class="badge badge-success">{{this}}</a>
                    {{/each}}
                </div>
                <h5>Conținut</h5>
                <div class="content">
                    {{!-- AFIȘAREA CONȚINUTULUI este de fapt o transformare în html a obiectului content. Vezi resincredid.ctrl.js --}}
                    {{{this.content}}}
                </div>
                {{!-- Integrarea editorului de text --}}
                {{!-- <div id="codex-editor"></div> --}}
                {{!-- Încarcă aici scripturile pentru a evita oul înaintea găinii! :D --}}
                {{#each scripts}}
                    <script src="{{script}}"></script>
                {{/each}}
            </div>
        </div>
    {{/each}}
</div>
{{#each scripts}}
    <script src="{{script}}"  charset="utf-8"></script>
{{/each}}