{{!< layout}}
{{> nav-resurse}}

<input type="hidden" name="_csrf" value="{{this.csrfToken}}">

    <template id="record">
        <div class="result">
            <h3 class="title"></h3>
            <h5 class="autori"></h5>
            <p class="description"></p>
            <p class="etichete"></p>
        </div>
    </template>

    <template id="paginator">
        <nav id="navRes" aria-label="Căutare">
            <ul id="noPg" class="pagination justify-content-center">
                {{!-- ACEASTA ESTE STRUCTURA PE CARE O GENEREAZĂ redincredall.mjs --}}

                {{!-- <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Anterior</a>
                </li>

                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>

                <li class="page-item">
                    <a class="page-link" href="#">Următoarele</a>
                </li> --}}
            </ul>
        </nav>
    </template>

    <template id="searchresult">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    <a id="restitlelnk" class="" role="button" title="Caută resurse (maxim 250 de caractere)" class=""></a>
                </h5>                                
            </div>
            <div class="card-body">
                <p id="cardtext" class="card-text"></p>     
            </div>
        </div>
    </template>

    <div class="search-form container">
        <div class="row">
            <div class="col-sm-8">
                <form id="searchResInCRED">
                    <div class="input-group">
                        <input type="text" id="fragSearchDocs" class="form-control" placeholder="introdu un cuvânt cheie ori o sintagmă" aria-label="resursaCred" aria-describedby="resursaCred">
                        <div>
                            <button id="searchResIntBtn" data-idx="{{this.resIdx}}" class="btn btn-success" type="button">Căută resurse</button>
                        </div>
                    </div>
                </form>
            </div>

            {{!-- Căutare fațetată --}}
            <div class="col-sm-4">
                {{!-- Acesta este selectorul disciplinelor --}}
                <section id="selector">
                    <form>
                        {{!-- Selectarea claselor --}}
                        <div id="btnSelectorCls" class="btn-group">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Selectează clasa
                            </button>
                            <br>

                            <div class="dropdown-menu">
                                <a class="dropdown-item cl0" id="cl0" href="#"
                                   data-lbcom-rom0      ="Comunicare în limba română"
                                   data-lbcom-germana0  ="Comunicare în limba română pentru școlile și secțiile cu predare în limba germană"
                                   data-lbcom-maghiara0 ="Comunicare în limba română pentru școlile și secțiile cu predare în limba maghiară"
                                   data-lbcom-rroma0    ="Comunicare în limba română pentru școlile și secțiile cu predare în limba rromani"
                                   data-lbcom-sarba0    ="Comunicare în limba română pentru școlile și secțiile cu predare în limba sârbă"
                                   data-lbcom-slovaca0  ="Comunicare în limba română pentru școlile și secțiile cu predare în limba slovacă"
                                   data-lbmat-bulgara0  ="Comunicare în limba maternă bulgară"
                                   data-lbmat-ceha0     ="Comunicare în limba maternă cehă"
                                   data-lbmat-croata0   ="Comunicare în limba maternă croată"
                                   data-lbmat-germana0  ="Comunicare în limba maternă germană"
                                   data-lbmat-gerinrom0 ="Comunicare în limba maternă germană în limba română"
                                   data-lbmat-italiana0 ="Comunicare în limba maternă italiană"
                                   data-lbmat-maghiara0 ="Comunicare în limba maternă maghiară"
                                   data-lbmat-maginrom0 ="Comunicare în limba maternă maghiară în limba română"
                                   data-lbmat-minlbmag0 ="Comunicare în limba maternă maghiară pentru școlile sau clasele cu elevi aparținând minorității naționale maghiare care studiază în limba română (mag)"
                                   data-lbmat-minlbrom0 ="Comunicare în limba maternă maghiară pentru școlile sau clasele cu elevi aparținând minorității naționale maghiare care studiază în limba română (rom)"
                                   data-lbmat-neogreaca0="Comunicare în limba maternă neogreacă"
                                   data-lbmat-polona0   ="Comunicare în limba maternă polonă"
                                   data-lbmat-rroma0    ="Comunicare în limba maternă rromani"
                                   data-lbmat-rusa0     ="Comunicare în limba maternă rusă"
                                   data-lbmat-sarba0    ="Comunicare în limba maternă sârbă"
                                   data-lbmat-slovaca0  ="Comunicare în limba maternă slovacă"
                                   data-lbmat-slolbcl0  ="Comunicare în limba maternă slovacă în limba slovacă"
                                   data-lbmat-turca0    ="Comunicare în limba maternă turcă"
                                   data-lbmat-ucraina0  ="Comunicare în limba maternă ucraineană"
                                   data-lbmat-ucrarom0  ="Comunicare în limba maternă ucraineană în limba română"
                                   data-lbmod0          ="Comunicarea în limba modernă"
                                   data-mate-med0       ="Matematică și explorarea mediului"
                                   data-rel-adv0        ="Religie Cultul Adventist"
                                   data-rel-bapt0       ="Religie Cultul Baptist"
                                   data-rel-evca0       ="Religie Cultul Evanghelic"
                                   data-rel-crdev0      ="Cultul Creştin după Evanghelie"
                                   data-rel-grcat0      ="Religie Cultul Greco-Catolic"
                                   data-rel-ort0        ="Religie cultul ortodox"
                                   data-rel-ortucr0     ="Religie Cultul Ortodox Ucrainean"
                                   data-rel-pen0        ="Religie Cultul Penticostal"
                                   data-rel-ref0        ="Religie Cultul Reformat"
                                   data-rel-romcatmg0   ="Religie Cultul Romano-Catolic de limbă maghiară"
                                   data-rel-romcatro0   ="Religie Cultul Romano-Catolic de limba română"
                                   data-rel-unit0       ="Religie Cultul Unitarian"
                                   data-rel-ortritv0    ="Cultul Ortodox de Rit Vechi"
                                   data-rel-mus0        ="Cultul Musulman"
                                   data-fizic0          ="Educație fizică"
                                   data-muzmi0          ="Muzică și mișcare"
                                   data-muzmi-bg0       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă bulgară"
                                   data-muzmi-ch0       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă cehă"
                                   data-muzmi-hr0       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă croată"
                                   data-muzmi-de0       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă germană"
                                   data-muzmi-dero0     ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă germană (rom)"
                                   data-muzmi-it0       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă italiană"
                                   data-muzmi-mg0       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă maghiară"
                                   data-muzmi-mgro0     ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă maghiară (rom)"
                                   data-muzmi-gr0       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă neogreacă"
                                   data-muzmi-rr0       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă rromani"
                                   data-muzmi-sr0       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă sârbă"
                                   data-muzmi-sl0       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă slovacă"
                                   data-muzmi-tr0       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă turcă"
                                   data-muzmi-ua0       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă ucraineană"
                                   data-muzmi-uaro0     ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă ucraineană (rom)"
                                   data-art-viz0        ="Arte vizuale și abilități practice"
                                   data-dezv-pers0      ="Dezvoltare personală"
                                   data-opt-eds0        ="Educație pentru sănătate"
                                   data-opt-tra0        ="Activități transdisciplinare"
                                >Clasa 0</a>
                                <a class="dropdown-item cl1" id="cl1" href="#"
                                   data-lbcom-rom1      ="Comunicare în limba română"
                                   data-lbcom-germana1  ="Comunicare în limba română pentru școlile și secțiile cu predare în limba germană"
                                   data-lbcom-maghiara1 ="Comunicare în limba română pentru școlile și secțiile cu predare în limba maghiară"
                                   data-lbcom-rroma1    ="Comunicare în limba română pentru școlile și secțiile cu predare în limba rromani"
                                   data-lbcom-sarba1    ="Comunicare în limba română pentru școlile și secțiile cu predare în limba sârbă"
                                   data-lbcom-slovaca1  ="Comunicare în limba română pentru școlile și secțiile cu predare în limba slovacă"
                                   data-lbmat-bulgara1  ="Comunicare în limba maternă bulgară"
                                   data-lbmat-ceha1     ="Comunicare în limba maternă cehă"
                                   data-lbmat-croata1   ="Comunicare în limba maternă croată"
                                   data-lbmat-germana1  ="Comunicare în limba maternă germană"
                                   data-lbmat-gerinrom1 ="Comunicare în limba maternă germană în limba română"
                                   data-lbmat-italiana1 ="Comunicare în limba maternă italiană"
                                   data-lbmat-maghiara1 ="Comunicare în limba maternă maghiară"
                                   data-lbmat-maginrom1 ="Comunicare în limba maternă maghiară în limba română"
                                   data-lbmat-minlbmag1 ="Comunicare în limba maternă maghiară pentru școlile sau clasele cu elevi aparținând minorității naționale maghiare care studiază în limba română (mag)"
                                   data-lbmat-minlbrom1 ="Comunicare în limba maternă maghiară pentru școlile sau clasele cu elevi aparținând minorității naționale maghiare care studiază în limba română (rom)"
                                   data-lbmat-neogreaca1="Comunicare în limba maternă neogreacă"
                                   data-lbmat-polona1   ="Comunicare în limba maternă polonă"
                                   data-lbmat-rroma1    ="Comunicare în limba maternă rromani"
                                   data-lbmat-rusa1     ="Comunicare în limba maternă rusă"
                                   data-lbmat-sarba1    ="Comunicare în limba maternă sârbă"
                                   data-lbmat-sarbinrom1="Comunicare în limba maternă sârbă pentru școlile sau clasele cu elevi aparținând minorității naționale sârbe care studiază în limba română"
                                   data-lbmat-slovaca1  ="Comunicare în limba maternă slovacă"
                                   data-lbmat-slolbcl1  ="Comunicare în limba maternă slovacă în limba slovacă"
                                   data-lbmat-turca1    ="Comunicare în limba maternă turcă"
                                   data-lbmat-ucraina1  ="Comunicare în limba maternă ucraineană"
                                   data-lbmat-ucrarom1  ="Comunicare în limba maternă ucraineană în limba română"
                                   data-lbmod1          ="Comunicare în limba modernă"
                                   data-mate-med1       ="Matematică și explorarea mediului"
                                   data-rel-adv1        ="Religie Cultul Adventist"
                                   data-rel-bapt1       ="Religie Cultul Baptist"
                                   data-rel-evca1       ="Religie Cultul Evanghelic"
                                   data-rel-crdev1      ="Cultul Creştin după Evanghelie"
                                   data-rel-grcat1      ="Religie Cultul Greco-Catolic"
                                   data-rel-ort1        ="Religie cultul ortodox"
                                   data-rel-ortucr1     ="Religie Cultul Ortodox Ucrainean"
                                   data-rel-pen1        ="Religie Cultul Penticostal"
                                   data-rel-ref1        ="Religie Cultul Reformat"
                                   data-rel-romcatmg1   ="Religie Cultul Romano-Catolic de limbă maghiară"
                                   data-rel-romcatro1   ="Religie Cultul Romano-Catolic de limba română"
                                   data-rel-unit1       ="Religie Cultul Unitarian"
                                   data-rel-mus1        ="Cultul Musulman"
                                   data-rel-ortritv1    ="Cultul Ortodox de Rit Vechi"
                                   data-mate-med1       ="Matematică și explorarea mediului"
                                   data-fizic1          ="Educație fizică"
                                   data-fizicp1         ="Pregătire sportivă practică"
                                   data-muzmi1          ="Muzică și mișcare"
                                   data-muzmi-bg1       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă bulgară"
                                   data-muzmi-ch1       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă cehă"
                                   data-muzmi-hr1       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă croată"
                                   data-muzmi-de1       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă germană"
                                   data-muzmi-dero1     ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă germană (rom)"
                                   data-muzmi-it1       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă italiană"
                                   data-muzmi-mg1       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă maghiară"
                                   data-muzmi-mgro1     ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă maghiară (rom)"
                                   data-muzmi-gr1       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă neogreacă"
                                   data-muzmi-rr1       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă rromani"
                                   data-muzmi-sr1       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă sârbă"
                                   data-muzmi-sl1       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă slovacă"
                                   data-muzmi-tr1       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă turcă"
                                   data-muzmi-ua1       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă ucraineană"
                                   data-muzmi-uaro1     ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă ucraineană (rom)"
                                   data-edmz-instr1     ="Instrument"
                                   data-edmz-teoafdi1   ="Teorie - solfegiu - dicteu"
                                   data-art-viz1        ="Arte vizuale și abilități practice"
                                   data-edart1          ="Educație artistică și abilități practice"
                                   data-dezv-pers1      ="Dezvoltare personală"
                                   data-opt-eds1        ="Educație pentru sănătate"
                                   data-opt-tra1        ="Activități transdisciplinare"
                                >Clasa I</a>
                                <a class="dropdown-item cl2" id="cl2" href="#"
                                   data-lbcom-rom2      ="Comunicare în limba română"
                                   data-lbcom-germana2  ="Comunicare în limba română pentru școlile și secțiile cu predare în limba germană"
                                   data-lbcom-maghiara2 ="Comunicare în limba română pentru școlile și secțiile cu predare în limba maghiară"
                                   data-lbcom-rroma2    ="Comunicare în limba română pentru școlile și secțiile cu predare în limba rromani"
                                   data-lbcom-sarba2    ="Comunicare în limba română pentru școlile și secțiile cu predare în limba sârbă"
                                   data-lbcom-slovaca2  ="Comunicare în limba română pentru școlile și secțiile cu predare în limba slovacă"
                                   data-lbmat-bulgara2  ="Comunicare în limba maternă bulgară"
                                   data-lbmat-ceha2     ="Comunicare în limba maternă cehă"
                                   data-lbmat-croata2   ="Comunicare în limba maternă croată"
                                   data-lbmat-germana2  ="Comunicare în limba maternă germană"
                                   data-lbmat-gerinrom2 ="Comunicare în limba maternă germană în limba română"
                                   data-lbmat-italiana2 ="Comunicare în limba maternă italiană"
                                   data-lbmat-maghiara2 ="Comunicare în limba maternă maghiară"
                                   data-lbmat-maginrom2 ="Comunicare în limba maternă maghiară în limba română"
                                   data-lbmat-minlbmag2 ="Comunicare în limba maternă maghiară pentru școlile sau clasele cu elevi aparținând minorității naționale maghiare care studiază în limba română (mag)"
                                   data-lbmat-minlbrom2 ="Comunicare în limba maternă maghiară pentru școlile sau clasele cu elevi aparținând minorității naționale maghiare care studiază în limba română (rom)"
                                   data-lbmat-neogreaca2="Comunicare în limba maternă neogreacă"
                                   data-lbmat-polona2   ="Comunicare în limba maternă polonă"
                                   data-lbmat-rroma2    ="Comunicare în limba maternă rromani"
                                   data-lbmat-rusa2     ="Comunicare în limba maternă rusă"
                                   data-lbmat-sarba2    ="Comunicare în limba maternă sârbă"
                                   data-lbmat-sarbinrom2="Comunicare în limba maternă sârbă pentru școlile sau clasele cu elevi aparținând minorității naționale sârbe care studiază în limba română"
                                   data-lbmat-slovaca2  ="Comunicare în limba maternă slovacă"
                                   data-lbmat-slolbcl2  ="Comunicare în limba maternă slovacă în limba slovacă"
                                   data-lbmat-turca2    ="Comunicare în limba maternă turcă"
                                   data-lbmat-ucraina2  ="Comunicare în limba maternă ucraineană"
                                   data-lbmat-ucrarom2  ="Comunicare în limba maternă ucraineană în limba română"
                                   data-lbmod2          ="Comunicare în limba modernă"
                                   data-mate-med2       ="Matematică și explorarea mediului"
                                   data-rel-adv2        ="Religie Cultul Adventist"
                                   data-rel-bapt2       ="Religie Cultul Baptist"
                                   data-rel-evca2       ="Religie Cultul Evanghelic"
                                   data-rel-crdev2      ="Cultul Creştin după Evanghelie"
                                   data-rel-grcat2      ="Religie Cultul Greco-Catolic"
                                   data-rel-ort2        ="Religie cultul ortodox"
                                   data-rel-ortucr2     ="Religie Cultul Ortodox Ucrainean"
                                   data-rel-pen2        ="Religie Cultul Penticostal"
                                   data-rel-ref2        ="Religie Cultul Reformat"
                                   data-rel-romcatmg2   ="Religie Cultul Romano-Catolic de limbă maghiară"
                                   data-rel-romcatro2   ="Religie Cultul Romano-Catolic de limba română"
                                   data-rel-unit2       ="Religie Cultul Unitarian"
                                   data-rel-mus2        ="Cultul Musulman"
                                   data-rel-ortritv2    ="Cultul Ortodox de Rit Vechi"
                                   data-mate-med2       ="Matematică"
                                   data-st-nat2         ="Științe ale naturii"
                                   data-fizic2          ="Educație fizică"
                                   data-fizicp2         ="Pregătire sportivă practică"
                                   data-muzmi2          ="Muzică și mișcare"
                                   data-muzmi-bg2       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă bulgară"
                                   data-muzmi-ch2       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă cehă"
                                   data-muzmi-hr2       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă croată"
                                   data-muzmi-de2       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă germană"
                                   data-muzmi-dero2     ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă germană (rom)"
                                   data-muzmi-it2       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă italiană"
                                   data-muzmi-mg2       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă maghiară"
                                   data-muzmi-mgro2     ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă maghiară (rom)"
                                   data-muzmi-gr2       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă neogreacă"
                                   data-muzmi-rr2       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă rromani"
                                   data-muzmi-sr2       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă sârbă"
                                   data-muzmi-sl2       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă slovacă"
                                   data-muzmi-tr2       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă turcă"
                                   data-muzmi-ua2       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă ucraineană"
                                   data-muzmi-uaro2     ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă ucraineană (rom)"
                                   data-edmz-instr2     ="Instrument"
                                   data-edmz-teoafdi2   ="Teorie - solfegiu - dicteu"
                                   data-art-viz2        ="Arte vizuale și abilități practice"
                                   data-dezv-pers2      ="Dezvoltare personală"
                                   data-opt-eds2        ="Educație pentru sănătate"
                                >Clasa a II-a</a>
                                <a class="dropdown-item cl3" id="cl3" href="#"
                                   data-lbcom-rom3      ="Limba și literatura română"
                                   data-lbcom-germana3  ="Limba și literatura română pentru școlile și secțiile cu predare în limba germană"
                                   data-lbcom-maghiara3 ="Limba și literatura română pentru școlile și secțiile cu predare în limba maghiară"
                                   data-lbcom-rroma3    ="Limba și literatura română pentru școlile și secțiile cu predare în limba rromani"
                                   data-lbcom-sarba3    ="Limba și literatura română pentru școlile și secțiile cu predare în limba sârbă"
                                   data-lbcom-slovaca3  ="Limba și literatura română pentru școlile și secțiile cu predare în limba slovacă"
                                   data-lbcom-ceha3     ="Limba și literatura română pentru școlile și secțiile cu predare în limba cehă"
                                   data-lbmat-bulgara3  ="Limba și literatura maternă bulgară"
                                   data-lbmat-ceha3     ="Limba și literatura maternă cehă"
                                   data-lbmat-croata3   ="Limba și literatura maternă croată"
                                   data-lbmat-germana3  ="Limba și literatura maternă germană"
                                   data-lbmat-gerinrom3 ="Limba și literatura maternă germană în limba română"
                                   data-lbmat-italiana3 ="Limba și literatura maternă italiană"
                                   data-lbmat-maghiara3 ="Limba și literatura maternă maghiară"
                                   data-lbmat-maginrom3 ="Limba și literatura maternă maghiară în limba română"
                                   data-lbmat-neogreaca3="Limba și literatura maternă neogreacă"
                                   data-lbmat-polona3   ="Limba și literatura maternă polonă"
                                   data-lbmat-rroma3    ="Limba și literatura maternă rromani"
                                   data-lbmat-rusa3     ="Limba și literatura maternă rusă"
                                   data-lbmat-sarba3    ="Limba și literatura maternă sârbă"
                                   data-lbmat-slovaca3  ="Limba și literatura maternă slovacă"
                                   data-lbmat-turca3    ="Limba și literatura maternă turcă"
                                   data-lbmat-ucraina3  ="Limba și literatura maternă ucraineană"
                                   data-lb-mod3         ="Limbă modernă"
                                   data-mate-med3       ="Matematică"
                                   data-st-nat3         ="Științe ale naturii"
                                   data-edciv3          ="Educaţie civică"
                                   data-rel-adv3        ="Religie Cultul Adventist"
                                   data-rel-bapt3       ="Religie Cultul Baptist"
                                   data-rel-evca3       ="Religie Cultul Evanghelic"
                                   data-rel-crdev3      ="Cultul Creştin după Evanghelie"
                                   data-rel-grcat3      ="Religie Cultul Greco-Catolic"
                                   data-rel-ort3        ="Religie cultul ortodox"
                                   data-rel-ortucr3     ="Religie Cultul Ortodox Ucrainean"
                                   data-rel-pen3        ="Religie Cultul Penticostal"
                                   data-rel-ref3        ="Religie Cultul Reformat"
                                   data-rel-romcatmg3   ="Religie Cultul Romano-Catolic de limbă maghiară"
                                   data-rel-romcatro3   ="Religie Cultul Romano-Catolic de limba română"
                                   data-rel-unit3       ="Religie Cultul Unitarian"
                                   data-rel-mus3        ="Cultul Musulman"
                                   data-rel-ortritv3    ="Cultul Ortodox de Rit Vechi"
                                   data-fizic3          ="Educație fizică"
                                   data-jocmi3          ="Joc și mișcare"
                                   data-fizicp3         ="Pregătire sportivă practică"
                                   data-muzmi3          ="Muzică și mișcare"
                                   data-muzmi-bg3       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă bulgară"
                                   data-muzmi-ch3       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă cehă"
                                   data-muzmi-hr3       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă croată"
                                   data-muzmi-de3       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă germană"
                                   data-muzmi-dero3     ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă germană (rom)"
                                   data-muzmi-it3       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă italiană"
                                   data-muzmi-mg3       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă maghiară"
                                   data-muzmi-mgro3     ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă maghiară (rom)"
                                   data-muzmi-gr3       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă neogreacă"
                                   data-muzmi-rr3       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă rromani"
                                   data-muzmi-sr3       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă sârbă"
                                   data-muzmi-sl3       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă slovacă"
                                   data-muzmi-tr3       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă turcă"
                                   data-muzmi-ua3       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă ucraineană"
                                   data-edmz-instr3     ="Instrument"
                                   data-edmz-teoafdi3   ="Teorie - solfegiu - dicteu"
                                   data-art-viz3        ="Arte vizuale și abilități practice"
                                   data-opt-med3        ="Creează-ți mediul"
                                   data-opt-eds3        ="Educație pentru sănătate"
                                >Clasa a III-a</a>
                                <a class="dropdown-item cl4" id="cl4" href="#"
                                   data-lbcom-rom4      ="Limba și literatura română"
                                   data-lbcom-germana4  ="Limba și literatura română pentru școlile și secțiile cu predare în limba germană"
                                   data-lbcom-maghiara4 ="Limba și literatura română pentru școlile și secțiile cu predare în limba maghiară"
                                   data-lbcom-rroma4    ="Limba și literatura română pentru școlile și secțiile cu predare în limba rromani"
                                   data-lbcom-sarba4    ="Limba și literatura română pentru școlile și secțiile cu predare în limba sârbă"
                                   data-lbcom-slovaca4  ="Limba și literatura română pentru școlile și secțiile cu predare în limba slovacă"
                                   data-lbcom-ceha4     ="Limba și literatura română pentru școlile și secțiile cu predare în limba cehă"
                                   data-lbmat-bulgara4  ="Limba și literatura maternă bulgară"
                                   data-lbmat-ceha4     ="Limba și literatura maternă cehă"
                                   data-lbmat-croata4   ="Limba și literatura maternă croată"
                                   data-lbmat-germana4  ="Limba și literatura maternă germană"
                                   data-lbmat-gerinrom4 ="Limba și literatura maternă germană în limba română"
                                   data-lbmat-italiana4 ="Limba și literatura maternă italiană"
                                   data-lbmat-maghiara4 ="Limba și literatura maternă maghiară"
                                   data-lbmat-maginrom4 ="Limba și literatura maternă maghiară în limba română"
                                   data-lbmat-neogreaca4="Limba și literatura maternă neogreacă"
                                   data-lbmat-polona4   ="Limba și literatura maternă polonă"
                                   data-lbmat-rroma4    ="Limba și literatura maternă rromani"
                                   data-lbmat-rusa4     ="Limba și literatura maternă rusă"
                                   data-lbmat-sarba4    ="Limba și literatura maternă sârbă"
                                   data-lbmat-slovaca4  ="Limba și literatura maternă slovacă"
                                   data-lbmat-turca4    ="Limba și literatura maternă turcă"
                                   data-lbmat-ucraina4  ="Limba și literatura maternă ucraineană"
                                   data-lb-mod4         ="Limbă modernă"
                                   data-mate-med4       ="Matematică"
                                   data-st-nat4         ="Științe ale naturii"
                                   data-edciv4          ="Educaţie civică"
                                   data-geo4            ="Geografie"
                                   data-ist4            ="Istorie"
                                   data-rel-adv4        ="Religie Cultul Adventist"
                                   data-rel-bapt4       ="Religie Cultul Baptist"
                                   data-rel-evca4       ="Religie Cultul Evanghelic"
                                   data-rel-crdev4      ="Cultul Creştin după Evanghelie"
                                   data-rel-grcat4      ="Religie Cultul Greco-Catolic"
                                   data-rel-ort4        ="Religie cultul ortodox"
                                   data-rel-ortucr4     ="Religie Cultul Ortodox Ucrainean"
                                   data-rel-pen4        ="Religie Cultul Penticostal"
                                   data-rel-ref4        ="Religie Cultul Reformat"
                                   data-rel-romcatmg4   ="Religie Cultul Romano-Catolic de limbă maghiară"
                                   data-rel-romcatro4   ="Religie Cultul Romano-Catolic de limba română"
                                   data-rel-unit4       ="Religie Cultul Unitarian"
                                   data-rel-mus4        ="Cultul Musulman"
                                   data-rel-ortritv4    ="Cultul Ortodox de Rit Vechi"
                                   data-fizic4          ="Educație fizică"
                                   data-jocmi4          ="Joc și mișcare"
                                   data-fizicp4         ="Pregătire sportivă practică"
                                   data-muzmi4          ="Muzică și mișcare"
                                   data-muzmi-bg4       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă bulgară"
                                   data-muzmi-ch4       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă cehă"
                                   data-muzmi-hr4       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă croată"
                                   data-muzmi-de4       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă germană"
                                   data-muzmi-dero4     ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă germană (rom)"
                                   data-muzmi-it4       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă italiană"
                                   data-muzmi-mg4       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă maghiară"
                                   data-muzmi-mgro4     ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă maghiară (rom)"
                                   data-muzmi-gr4       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă neogreacă"
                                   data-muzmi-rr4       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă rromani"
                                   data-muzmi-sr4       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă sârbă"
                                   data-muzmi-sl4       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă slovacă"
                                   data-muzmi-tr4       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă turcă"
                                   data-muzmi-ua4       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă ucraineană"
                                   data-edmz-instr4     ="Instrument"
                                   data-edmz-teoafdi4   ="Teorie - solfegiu - dicteu"
                                   data-edar-dans4      ="Dans"
                                   data-edar-ritm4      ="Ritmică"
                                   data-art-viz4        ="Arte vizuale și abilități practice"
                                   data-opt-med4        ="Creează-ți mediul"
                                   data-opt-eds4        ="Educație pentru sănătate"
                                >Clasa a IV-a</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item cl5" id="cl5" href="#"
                                   data-lbcom-rom5      ="Limba și literatura română"
                                   data-lbcom-rom-mag5  ="Limba și literatura română secții maghiare"
                                   data-lbmat-bulgara5  ="Limba şi literatura maternă bulgară"
                                   data-lbmat-ceha5     ="Limba şi literatura maternă cehă"
                                   data-lbmat-croata5   ="Limba şi literatura maternă croată"
                                   data-lbmat-germana5  ="Limba şi literatura maternă germană"
                                   data-lbmat-geringer5 ="Limba şi literatura maternă germană în limba germană"
                                   data-lbmat-italiana5 ="Limba şi literatura maternă italiană"
                                   data-lbmat-maghiara5 ="Limba şi literatura maternă maghiară"
                                   data-lbmat-maginmag5 ="Limba şi literatura maternă maghiară în limba maghiară"
                                   data-lbmat-neogreaca5="Limba şi literatura maternă neogreacă"
                                   data-lbmat-polona5   ="Limba şi literatura maternă polonă"
                                   data-lbmat-rroma5    ="Limba şi literatura maternă rromani"
                                   data-lbmat-rusa5     ="Limba şi literatura maternă rusă"
                                   data-lbmat-sarba5    ="Limba şi literatura maternă sârbă"
                                   data-lbmat-slovaca5  ="Limba şi literatura maternă slovacă"
                                   data-lbmat-turca5    ="Limba şi literatura maternă turcă"
                                   data-lbmat-ucraina5  ="Limba şi literatura maternă ucraineană"
                                   data-lbmod1-engleza5 ="Limbă modernă - engleză"
                                   data-lbmod1-eng-int5 ="Limbă modernă - engleză intensiv"
                                   data-lbmod1-franceza5="Limbă modernă - franceză"
                                   data-lbmod1-fra-int5 ="Limbă modernă - franceză intensiv"
                                   data-lbmod1-italiana5="Limbă modernă - italiană"
                                   data-lbmod1-ita-int5 ="Limbă modernă - italiană intensiv"
                                   data-lbmod1-spaniola5="Limbă modernă - spaniolă"
                                   data-lbmod1-span-int5="Limbă modernă - spaniolă intensiv"
                                   data-lbmod1-ebraica5 ="Limbă modernă - ebraică"
                                   data-lbmod1-germana5 ="Limbă modernă - germană"
                                   data-lbmod1-ger-int5 ="Limbă modernă - germană intensiv"
                                   data-lbmod1-rusa5    ="Limbă modernă - rusă"
                                   data-lbmod1-rus-int5 ="Limbă modernă - rusă intensiv"
                                   data-lbmod1-japoneza5="Limbă modernă - japoneză"
                                   data-lbmod1-jap-int5 ="Limbă modernă - japoneză intensiv"
                                   data-lbmod2-chineza5 ="Limbă modernă - chineză"
                                   data-lbmod2-engleza5 ="Limbă modernă - engleză"
                                   data-lbmod2-franceza5="Limbă modernă - franceză"
                                   data-lbmod2-italiana5="Limbă modernă - italiană"
                                   data-lbmod2-spaniola5="Limbă modernă - spaniolă"
                                   data-lbmod2-turca5   ="Limbă modernă - turcă"
                                   data-lbmod2-germana5 ="Limbă modernă - germană"
                                   data-lbmod2-japoneza5="Limbă modernă - japoneză"
                                   data-lbmod2-rusa5    ="Limbă modernă - rusă"
                                   data-lbmod2-portugheza5="Limbă modernă - portugheză"
                                   data-mat5            ="Matematică"
                                   data-bio5            ="Biologie"
                                   data-edusoc5         ="Gândire critică și drepturile copilului"
                                   data-ist5            ="Istorie"
                                   data-geo5            ="Geografie"
                                   data-rel-advz5       ="Cultul Adventist de Ziua a Şaptea"
                                   data-rel-bapt5       ="Cultul Baptist"
                                   data-rel-crdev5      ="Cultul Creştin după Evanghelie"
                                   data-rel-evca5       ="Cultul Evanghelic CA"
                                   data-rel-grcat5      ="Cultul Greco-Catolic"
                                   data-rel-mus5        ="Cultul Musulman"
                                   data-rel-ort5        ="Cultul Ortodox"
                                   data-rel-ortritv5    ="Cultul Ortodox de Rit Vechi"
                                   data-rel-ortucr5     ="Cultul Ortodox Ucrainean"
                                   data-rel-pen5        ="Cultul Penticostal"
                                   data-rel-ref5        ="Cultul Reformat"
                                   data-rel-refmag5     ="Cultul Reformat în lb. maghiară"
                                   data-rel-romcatro5   ="Cultul Romano-Catolic de limbă română"
                                   data-rel-romcatmg5   ="Cultul Romano-Catolic de limbă maghiară"
                                   data-rel-romcatlbmg5 ="Cultul Romano-Catolic de limbă maghiară în lb. maghiară"
                                   data-rel-unit5       ="Cultul Unitarian"
                                   data-edpl5           ="Educaţie plastică"
                                   data-edmuz5          ="Educaţie muzicală"
                                   data-edmuz-ger5      ="Educaţie muzicală pentru minoritatea germană"
                                   data-edmuz-ita5      ="Educaţie muzicală pentru minoritatea italiană"
                                   data-edmuz-mag5      ="Educaţie muzicală pentru minoritatea maghiară"
                                   data-edmuz-magr5     ="Educaţie muzicală pentru minoritatea maghiară în lb. română"
                                   data-edmuz-pol5      ="Educaţie muzicală pentru minoritatea poloneză"
                                   data-edmuz-rrm5      ="Educaţie muzicală pentru minoritatea rromă"
                                   data-edmuz-srb5      ="Educaţie muzicală pentru minoritatea sârbă"
                                   data-edmuz-slv5      ="Educaţie muzicală pentru minoritatea slovacă"
                                   data-edmuz-tur5      ="Educaţie muzicală pentru minoritatea turcă"
                                   data-edmuz-ucr5      ="Educaţie muzicală pentru minoritatea ucraineană"
                                   data-instr5          ="Instrument principal"
                                   data-tsd5            ="Teorie - Solfegiu - Dicteu"
                                   data-piaux5          ="Pian complementar/instrument auxiliar"
                                   data-dansc5          ="Dans clasic"
                                   data-ritm5           ="Ritmică"
                                   data-desen5          ="Desen"
                                   data-pictr5          ="Pictură"
                                   data-model5          ="Modelaj"
                                   data-fizic5          ="Educaţie fizică şi sport"
                                   data-pfiz-atl5       ="Atletism"
                                   data-pfiz-bad5       ="Badminton"
                                   data-pfiz-bas5       ="Basket"
                                   data-pfiz-bab5       ="Baseball"
                                   data-pfiz-can5       ="Canotaj"
                                   data-pfiz-dns5       ="Dans sportiv"
                                   data-pfiz-fot5       ="Fotbal"
                                   data-pfiz-gif5       ="Gimnastică artistică feminină"
                                   data-pfiz-gim5       ="Gimnastică artistică masculină"
                                   data-pfiz-gir5       ="Gimnastică ritmică"
                                   data-pfiz-hal5       ="Haltere"
                                   data-pfiz-han5       ="Handbal"
                                   data-pfiz-hok5       ="Hochei pe gheaţă"
                                   data-pfiz-hoi5       ="Hochei pe iarbă"
                                   data-pfiz-int5       ="Înot"
                                   data-pfiz-jud5       ="Judo"
                                   data-pfiz-kca5       ="Kaiac-canoe"
                                   data-pfiz-krt5       ="Karate"
                                   data-pfiz-gro5       ="Lupte greco-romane"
                                   data-pfiz-lpl5       ="Lupte libere"
                                   data-pfiz-osp5       ="Orientare sportivă"
                                   data-pfiz-par5       ="Patinaj artistic"
                                   data-pfiz-pav5       ="Patinaj viteză"
                                   data-pfiz-ppa5       ="Polo pe apă"
                                   data-pfiz-rgb5       ="Rugby"
                                   data-pfiz-sne5       ="Sanie"
                                   data-pfiz-sia5       ="Sărituri în apă"
                                   data-pfiz-sap5       ="Schi alpin"
                                   data-pfiz-sbi5       ="Schi biatlon"
                                   data-pfiz-sfd5       ="Schi fond"
                                   data-pfiz-sor5       ="Schi orientare"
                                   data-pfiz-ssr5       ="Schi sărituri"
                                   data-pfiz-scr5       ="Scrimă"
                                   data-pfiz-sfb5       ="Softball"
                                   data-pfiz-sae5       ="Sport aerobic"
                                   data-pfiz-sah5       ="Șah"
                                   data-pfiz-ten5       ="Tenis"
                                   data-pfiz-tem5       ="Tenis de masă"
                                   data-pfiz-vol5       ="Volei"
                                   data-pfiz-yht5       ="Yachting"
                                   data-tec-edtap5      ="Educaţie tehnologică şi aplicaţii practice"
                                   data-tec-info5       ="Informatică şi TIC"
                                   data-tec-ed5         ="Educație tehnologica"
                                   data-cons-ed5        ="Consiliere şi dezvoltare personală"
                                   data-cds-ist5        ="Istorie orală: Istorie trăită-Istorie povestită"
                                   data-cds-lect5       ="Lectura și abilitățile de viață"
                                   data-cds-grne5       ="Limba neoelenă şi civilizația Greciei antice"
                                   data-cds-micr5       ="Mai întâi caracterul"
                                   data-cds-matsc5      ="Matematică și științe în societatea cunoașterii"
                                   data-cds-edvit5      ="Pregătiţi pentru viaţă. Educaţie pentru viaţă şi comunitate"
                                   data-cds-radlt5      ="Rădăcini latine în cultura şi civilizaţia românească"
                                   data-cds-med5        ="Creează-ți mediul"
                                   data-cds-civ5        ="Cultură civică"
                                   data-cds-arm5        ="Cultură și tradiții aromâne"
                                   data-cds-eco5        ="Educație ecologică și de protecție a mediului"
                                   data-cds-fin5        ="Educație financiară"
                                   data-cds-icu5        ="Educație interculturală"
                                   data-cds-eds5        ="Educație pentru sănătate"
                                   data-cds-mag5        ="Limba și literatura maghiară"
                                   data-cds-grm5        ="Mituri și legende greco-romane"
                                   data-cds-sah5        ="Educație prin șah"
                                >Clasa a V-a</a>
                                <a class="dropdown-item cl6" id="cl6" href="#"
                                   data-lbcom-rom6      ="Limba și literatura română"
                                   data-lbcom-rom-mag6  ="Limba și literatura română secții maghiare"
                                   data-lbmat-bulgara6  ="Limba şi literatura maternă bulgară"
                                   data-lbmat-ceha6     ="Limba şi literatura maternă cehă"
                                   data-lbmat-croata6   ="Limba şi literatura maternă croată"
                                   data-lbmat-germana6  ="Limba şi literatura maternă germană"
                                   data-lbmat-geringer6 ="Limba şi literatura maternă germană în limba germană"
                                   data-lbmat-italiana6 ="Limba şi literatura maternă italiană"
                                   data-lbmat-maghiara6 ="Limba şi literatura maternă maghiară"
                                   data-lbmat-maginmag6 ="Limba şi literatura maternă maghiară în limba maghiară"
                                   data-lbmat-neogreaca6="Limba şi literatura maternă neogreacă"
                                   data-lbmat-polona6   ="Limba şi literatura maternă polonă"
                                   data-lbmat-rroma6    ="Limba şi literatura maternă rromani"
                                   data-lbmat-rusa6     ="Limba şi literatura maternă rusă"
                                   data-lbmat-sarba6    ="Limba şi literatura maternă sârbă"
                                   data-lbmat-slovaca6  ="Limba şi literatura maternă slovacă"
                                   data-lbmat-turca6    ="Limba şi literatura maternă turcă"
                                   data-lbmat-ucraina6  ="Limba şi literatura maternă ucraineană"
                                   data-lbmod1-engleza6 ="Limbă modernă - engleză"
                                   data-lbmod1-eng-int6 ="Limbă modernă - engleză intensiv"
                                   data-lbmod1-franceza6="Limbă modernă - franceză"
                                   data-lbmod1-fra-int6 ="Limbă modernă - franceză intensiv"
                                   data-lbmod1-italiana6="Limbă modernă - italiană"
                                   data-lbmod1-ita-int6 ="Limbă modernă - italiană intensiv"
                                   data-lbmod1-spaniola6="Limbă modernă - spaniolă"
                                   data-lbmod1-span-int6="Limbă modernă - spaniolă intensiv"
                                   data-lbmod1-ebraica6 ="Limbă modernă - ebraică"
                                   data-lbmod1-germana6 ="Limbă modernă - germană"
                                   data-lbmod1-ger-int6 ="Limbă modernă - germană intensiv"
                                   data-lbmod1-rusa6    ="Limbă modernă - rusă"
                                   data-lbmod1-rus-int6 ="Limbă modernă - rusă intensiv"
                                   data-lbmod1-japoneza6="Limbă modernă - japoneză"
                                   data-lbmod1-jap-int6 ="Limbă modernă - japoneză intensiv"
                                   data-lbmod2-chineza6 ="Limbă modernă - chineză"
                                   data-lbmod2-engleza6 ="Limbă modernă - engleză"
                                   data-lbmod2-franceza6="Limbă modernă - franceză"
                                   data-lbmod2-italiana6="Limbă modernă - italiană"
                                   data-lbmod2-spaniola6="Limbă modernă - spaniolă"
                                   data-lbmod2-turca6   ="Limbă modernă - turcă"
                                   data-lbmod2-germana6 ="Limbă modernă - germană"
                                   data-lbmod2-japoneza6="Limbă modernă - japoneză"
                                   data-lbmod2-rusa6    ="Limbă modernă - rusă"
                                   data-lbmod2-portugheza6="Limbă modernă - portugheză"
                                   data-mat6            ="Matematică"
                                   data-fiz6            ="Fizică"
                                   data-bio6            ="Biologie"
                                   data-edusoc6         ="Educație interculturală"
                                   data-ist6            ="Istorie"
                                   data-geo6            ="Geografie"
                                   data-rel-advz6       ="Cultul Adventist de Ziua a Şaptea"
                                   data-rel-bapt6       ="Cultul Baptist"
                                   data-rel-crdev6      ="Cultul Creştin după Evanghelie"
                                   data-rel-evca6       ="Cultul Evanghelic CA"
                                   data-rel-grcat6      ="Cultul Greco-Catolic"
                                   data-rel-mus6        ="Cultul Musulman"
                                   data-rel-ort6        ="Cultul Ortodox"
                                   data-rel-ortritv6    ="Cultul Ortodox de Rit Vechi"
                                   data-rel-ortucr6     ="Cultul Ortodox Ucrainean"
                                   data-rel-pen6        ="Cultul Penticostal"
                                   data-rel-ref6        ="Cultul Reformat"
                                   data-rel-refmag6     ="Cultul Reformat în lb. maghiară"
                                   data-rel-romcatro6   ="Cultul Romano-Catolic de limbă română"
                                   data-rel-romcatmg6   ="Cultul Romano-Catolic de limbă maghiară"
                                   data-rel-romcatlbmg6 ="Cultul Romano-Catolic de limbă maghiară în lb. maghiară"
                                   data-rel-unit6       ="Cultul Unitarian"
                                   data-edpl6           ="Educaţie plastică"
                                   data-edmuz6          ="Educaţie muzicală"
                                   data-edmuz-ger6      ="Educaţie muzicală pentru minoritatea germană"
                                   data-edmuz-ita6      ="Educaţie muzicală pentru minoritatea italiană"
                                   data-edmuz-mag6      ="Educaţie muzicală pentru minoritatea maghiară"
                                   data-edmuz-magr6     ="Educaţie muzicală pentru minoritatea maghiară în lb. română"
                                   data-edmuz-pol6      ="Educaţie muzicală pentru minoritatea poloneză"
                                   data-edmuz-rrm6      ="Educaţie muzicală pentru minoritatea rromă"
                                   data-edmuz-srb6      ="Educaţie muzicală pentru minoritatea sârbă"
                                   data-edmuz-slv6      ="Educaţie muzicală pentru minoritatea slovacă"
                                   data-edmuz-tur6      ="Educaţie muzicală pentru minoritatea turcă"
                                   data-edmuz-ucr6      ="Educaţie muzicală pentru minoritatea ucraineană"
                                   data-instr6          ="Instrument principal"
                                   data-tsd6            ="Teorie - Solfegiu - Dicteu"
                                   data-piaux6          ="Pian complementar/instrument auxiliar"
                                   data-dansc6          ="Dans clasic"
                                   data-ritm6           ="Ritmică"
                                   data-desen6          ="Desen"
                                   data-pictr6          ="Pictură"
                                   data-model6          ="Modelaj"
                                   data-fizic6          ="Educaţie fizică şi sport"
                                   data-pfiz-atl6       ="Atletism"
                                   data-pfiz-bad6       ="Badminton"
                                   data-pfiz-bas6       ="Basket"
                                   data-pfiz-bab6       ="Baseball"
                                   data-pfiz-can6       ="Canotaj"
                                   data-pfiz-dns6       ="Dans sportiv"
                                   data-pfiz-fot6       ="Fotbal"
                                   data-pfiz-gif6       ="Gimnastică artistică feminină"
                                   data-pfiz-gim6       ="Gimnastică artistică masculină"
                                   data-pfiz-gir6       ="Gimnastică ritmică"
                                   data-pfiz-hal6       ="Haltere"
                                   data-pfiz-han6       ="Handbal"
                                   data-pfiz-hok6       ="Hochei pe gheaţă"
                                   data-pfiz-hoi6       ="Hochei pe iarbă"
                                   data-pfiz-int6       ="Înot"
                                   data-pfiz-jud6       ="Judo"
                                   data-pfiz-kca6       ="Kaiac-canoe"
                                   data-pfiz-krt6       ="Karate"
                                   data-pfiz-gro6       ="Lupte greco-romane"
                                   data-pfiz-lpl6       ="Lupte libere"
                                   data-pfiz-osp6       ="Orientare sportivă"
                                   data-pfiz-par6       ="Patinaj artistic"
                                   data-pfiz-pav6       ="Patinaj viteză"
                                   data-pfiz-ppa6       ="Polo pe apă"
                                   data-pfiz-rgb6       ="Rugby"
                                   data-pfiz-sne6       ="Sanie"
                                   data-pfiz-sia6       ="Sărituri în apă"
                                   data-pfiz-sap6       ="Schi alpin"
                                   data-pfiz-sbi6       ="Schi biatlon"
                                   data-pfiz-sfd6       ="Schi fond"
                                   data-pfiz-sor6       ="Schi orientare"
                                   data-pfiz-ssr6       ="Schi sărituri"
                                   data-pfiz-scr6       ="Scrimă"
                                   data-pfiz-sfb6       ="Softball"
                                   data-pfiz-sae6       ="Sport aerobic"
                                   data-pfiz-sah6       ="Șah"
                                   data-pfiz-ten6       ="Tenis"
                                   data-pfiz-tem6       ="Tenis de masă"
                                   data-pfiz-vol6       ="Volei"
                                   data-pfiz-yht6       ="Yachting"
                                   data-tec-edtap6      ="Educaţie tehnologică şi aplicaţii practice"
                                   data-tec-info6       ="Informatică şi TIC"
                                   data-tec-ed6         ="Educație tehnologica"
                                   data-cons-ed6        ="Consiliere şi dezvoltare personală"
                                   data-cds-aba6        ="Abilități pentru adolescență"
                                   data-cds-med6        ="Creează-ți mediul"
                                   data-cds-ist6        ="Istorie orală: Istorie trăită-Istorie povestită"
                                   data-cds-lect6       ="Lectura și abilitățile de viață"
                                   data-cds-grne6       ="Limba neoelenă şi civilizația Greciei antice"
                                   data-cds-micr6       ="Mai întâi caracterul"
                                   data-cds-matsc6      ="Matematică și științe în societatea cunoașterii"
                                   data-cds-edvit6      ="Pregătiţi pentru viaţă. Educaţie pentru viaţă şi comunitate"
                                   data-cds-radlt6      ="Rădăcini latine în cultura şi civilizaţia românească"
                                   data-cds-med6        ="Creează-ți mediul"
                                   data-cds-civ6        ="Cultură civică"
                                   data-cds-arm6        ="Cultură și tradiții aromâne"
                                   data-cds-eco6        ="Educație ecologică și de protecție a mediului"
                                   data-cds-gec6        ="Educație economică"
                                   data-cds-fin6        ="Educație financiară"
                                   data-cds-icu6        ="Educație interculturală"
                                   data-cds-eds6        ="Educație pentru sănătate"
                                   data-cds-mag6        ="Limba și literatura maghiară"
                                   data-cds-grm6        ="Mituri și legende greco-romane"
                                   data-cds-sah6        ="Educație prin șah"
                                >Clasa a VI-a</a>
                                <a class="dropdown-item cl7" id="cl7" href="#"
                                   data-lbcom-rom7      ="Limba și literatura română"
                                   data-lbcom-rom-mag7  ="Limba și literatura română secții maghiare"
                                   data-lbmat-bulgara7  ="Limba şi literatura maternă bulgară"
                                   data-lbmat-ceha7     ="Limba şi literatura maternă cehă"
                                   data-lbmat-croata7   ="Limba şi literatura maternă croată"
                                   data-lbmat-germana7  ="Limba şi literatura maternă germană"
                                   data-lbmat-geringer7 ="Limba şi literatura maternă germană în limba germană"
                                   data-lbmat-italiana7 ="Limba şi literatura maternă italiană"
                                   data-lbmat-maghiara7 ="Limba şi literatura maternă maghiară"
                                   data-lbmat-maginmag7 ="Limba şi literatura maternă maghiară în limba maghiară"
                                   data-lbmat-neogreaca7="Limba şi literatura maternă neogreacă"
                                   data-lbmat-polona7   ="Limba şi literatura maternă polonă"
                                   data-lbmat-rroma7    ="Limba şi literatura maternă rromani"
                                   data-lbmat-rusa7     ="Limba şi literatura maternă rusă"
                                   data-lbmat-sarba7    ="Limba şi literatura maternă sârbă"
                                   data-lbmat-slovaca7  ="Limba şi literatura maternă slovacă"
                                   data-lbmat-turca7    ="Limba şi literatura maternă turcă"
                                   data-lbmat-ucraina7  ="Limba şi literatura maternă ucraineană"
                                   data-lbmod1-engleza7 ="Limbă modernă - engleză"
                                   data-lbmod1-eng-int7 ="Limbă modernă - engleză intensiv"
                                   data-lbmod1-franceza7="Limbă modernă - franceză"
                                   data-lbmod1-fra-int7 ="Limbă modernă - franceză intensiv"
                                   data-lbmod1-italiana7="Limbă modernă - italiană"
                                   data-lbmod1-ita-int7 ="Limbă modernă - italiană intensiv"
                                   data-lbmod1-spaniola7="Limbă modernă - spaniolă"
                                   data-lbmod1-span-int7="Limbă modernă - spaniolă intensiv"
                                   data-lbmod1-ebraica7 ="Limbă modernă - ebraică"
                                   data-lbmod1-germana7 ="Limbă modernă - germană"
                                   data-lbmod1-ger-int7 ="Limbă modernă - germană intensiv"
                                   data-lbmod1-rusa7    ="Limbă modernă - rusă"
                                   data-lbmod1-rus-int7 ="Limbă modernă - rusă intensiv"
                                   data-lbmod1-japoneza7="Limbă modernă - japoneză"
                                   data-lbmod1-jap-int7 ="Limbă modernă - japoneză intensiv"
                                   data-lbmod2-chineza7 ="Limbă modernă - chineză"
                                   data-lbmod2-engleza7 ="Limbă modernă - engleză"
                                   data-lbmod2-franceza7="Limbă modernă - franceză"
                                   data-lbmod2-italiana7="Limbă modernă - italiană"
                                   data-lbmod2-spaniola7="Limbă modernă - spaniolă"
                                   data-lbmod2-turca7   ="Limbă modernă - turcă"
                                   data-lbmod2-germana7 ="Limbă modernă - germană"
                                   data-lbmod2-japoneza7="Limbă modernă - japoneză"
                                   data-lbmod2-rusa7    ="Limbă modernă - rusă"
                                   data-lbmod2-portugheza7="Limbă modernă - portugheză"
                                   data-ellat-rom7="Elemente de limbă latină și de cultură romanică"
                                   data-mat7            ="Matematică"
                                   data-fiz7            ="Fizică"
                                   data-chim7           ="Chimie"
                                   data-bio7            ="Biologie"
                                   data-edusoc7         ="Educație pentru cetățenie democratică"
                                   data-ist7            ="Istorie"
                                   data-geo7            ="Geografie"
                                   data-rel-advz7       ="Cultul Adventist de Ziua a Şaptea"
                                   data-rel-bapt7       ="Cultul Baptist"
                                   data-rel-crdev7      ="Cultul Creştin după Evanghelie"
                                   data-rel-evca7       ="Cultul Evanghelic CA"
                                   data-rel-grcat7      ="Cultul Greco-Catolic"
                                   data-rel-mus7        ="Cultul Musulman"
                                   data-rel-ort7        ="Cultul Ortodox"
                                   data-rel-ortritv7    ="Cultul Ortodox de Rit Vechi"
                                   data-rel-ortucr7     ="Cultul Ortodox Ucrainean"
                                   data-rel-pen7        ="Cultul Penticostal"
                                   data-rel-ref7        ="Cultul Reformat"
                                   data-rel-refmag7     ="Cultul Reformat în lb. maghiară"
                                   data-rel-romcatro7   ="Cultul Romano-Catolic de limbă română"
                                   data-rel-romcatmg7   ="Cultul Romano-Catolic de limbă maghiară"
                                   data-rel-romcatlbmg7 ="Cultul Romano-Catolic de limbă maghiară în lb. maghiară"
                                   data-rel-unit7       ="Cultul Unitarian"
                                   data-edpl7           ="Educaţie plastică"
                                   data-edmuz7          ="Educaţie muzicală"
                                   data-edmuz-ger7      ="Educaţie muzicală pentru minoritatea germană"
                                   data-edmuz-ita7      ="Educaţie muzicală pentru minoritatea italiană"
                                   data-edmuz-mag7      ="Educaţie muzicală pentru minoritatea maghiară"
                                   data-edmuz-magr7     ="Educaţie muzicală pentru minoritatea maghiară în lb. română"
                                   data-edmuz-pol7      ="Educaţie muzicală pentru minoritatea poloneză"
                                   data-edmuz-rrm7      ="Educaţie muzicală pentru minoritatea rromă"
                                   data-edmuz-srb7      ="Educaţie muzicală pentru minoritatea sârbă"
                                   data-edmuz-slv7      ="Educaţie muzicală pentru minoritatea slovacă"
                                   data-edmuz-tur7      ="Educaţie muzicală pentru minoritatea turcă"
                                   data-edmuz-ucr7      ="Educaţie muzicală pentru minoritatea ucraineană"
                                   data-instr7          ="Instrument principal"
                                   data-tsd7            ="Teorie - Solfegiu - Dicteu"
                                   data-piaux7          ="Pian complementar/instrument auxiliar"
                                   data-dansc7          ="Dans clasic"
                                   data-ritm7           ="Ritmică"
                                   data-desen7          ="Desen"
                                   data-pictr7          ="Pictură"
                                   data-model7          ="Modelaj"
                                   data-fizic7          ="Educaţie fizică şi sport"
                                   data-pfiz-atl7       ="Atletism"
                                   data-pfiz-bad7       ="Badminton"
                                   data-pfiz-bas7       ="Basket"
                                   data-pfiz-bab7       ="Baseball"
                                   data-pfiz-can7       ="Canotaj"
                                   data-pfiz-dns7       ="Dans sportiv"
                                   data-pfiz-fot7       ="Fotbal"
                                   data-pfiz-gif7       ="Gimnastică artistică feminină"
                                   data-pfiz-gim7       ="Gimnastică artistică masculină"
                                   data-pfiz-gir7       ="Gimnastică ritmică"
                                   data-pfiz-hal7       ="Haltere"
                                   data-pfiz-han7       ="Handbal"
                                   data-pfiz-hok7       ="Hochei pe gheaţă"
                                   data-pfiz-hoi7       ="Hochei pe iarbă"
                                   data-pfiz-int7       ="Înot"
                                   data-pfiz-jud7       ="Judo"
                                   data-pfiz-kca7       ="Kaiac-canoe"
                                   data-pfiz-krt7       ="Karate"
                                   data-pfiz-gro7       ="Lupte greco-romane"
                                   data-pfiz-lpl7       ="Lupte libere"
                                   data-pfiz-osp7       ="Orientare sportivă"
                                   data-pfiz-par7       ="Patinaj artistic"
                                   data-pfiz-pav7       ="Patinaj viteză"
                                   data-pfiz-ppa7       ="Polo pe apă"
                                   data-pfiz-rgb7       ="Rugby"
                                   data-pfiz-sne7       ="Sanie"
                                   data-pfiz-sia7       ="Sărituri în apă"
                                   data-pfiz-sap7       ="Schi alpin"
                                   data-pfiz-sbi7       ="Schi biatlon"
                                   data-pfiz-sfd7       ="Schi fond"
                                   data-pfiz-sor7       ="Schi orientare"
                                   data-pfiz-ssr7       ="Schi sărituri"
                                   data-pfiz-scr7       ="Scrimă"
                                   data-pfiz-sfb7       ="Softball"
                                   data-pfiz-sae7       ="Sport aerobic"
                                   data-pfiz-sah7       ="Șah"
                                   data-pfiz-ten7       ="Tenis"
                                   data-pfiz-tem7       ="Tenis de masă"
                                   data-pfiz-vol7       ="Volei"
                                   data-pfiz-yht7       ="Yachting"
                                   data-tec-edtap7      ="Educaţie tehnologică şi aplicaţii practice"
                                   data-tec-info7       ="Informatică şi TIC"
                                   data-tec-ed7         ="Educație tehnologica"
                                   data-cons-ed7        ="Consiliere şi dezvoltare personală"
                                   data-cds-ist7        ="Istorie orală: Istorie trăită-Istorie povestită"
                                   data-cds-lect7       ="Lectura și abilitățile de viață"
                                   data-cds-grne7       ="Limba neoelenă şi civilizația Greciei antice"
                                   data-cds-micr7       ="Mai întâi caracterul"
                                   data-cds-matsc7      ="Matematică și științe în societatea cunoașterii"
                                   data-cds-edvit7      ="Pregătiţi pentru viaţă. Educaţie pentru viaţă şi comunitate"
                                   data-cds-radlt7      ="Rădăcini latine în cultura şi civilizaţia românească"
                                   data-cds-med7        ="Creează-ți mediul"
                                   data-cds-arm7        ="Cultură și tradiții aromâne"
                                   data-cds-eco7        ="Educație ecologică și de protecție a mediului"
                                   data-cds-gec7        ="Educație economică"
                                   data-cds-fin7        ="Educație financiară"
                                   data-cds-icu7        ="Educație interculturală"
                                   data-cds-eds7        ="Educație pentru sănătate"
                                   data-cds-lat7        ="Expresii și proverbe latine"
                                   data-cds-mag7        ="Limba și literatura maghiară"
                                >Clasa a VII-a</a>
                                <a class="dropdown-item cl8" id="cl8" href="#"
                                   data-lbcom-rom8      ="Limba și literatura română"
                                   data-lbcom-rom-mag8  ="Limba și literatura română secții maghiare"
                                   data-lbmat-bulgara8  ="Limba şi literatura maternă bulgară"
                                   data-lbmat-ceha8     ="Limba şi literatura maternă cehă"
                                   data-lbmat-croata8   ="Limba şi literatura maternă croată"
                                   data-lbmat-germana8  ="Limba şi literatura maternă germană"
                                   data-lbmat-geringer8 ="Limba şi literatura maternă germană în limba germană"
                                   data-lbmat-italiana8 ="Limba şi literatura maternă italiană"
                                   data-lbmat-maghiara8 ="Limba şi literatura maternă maghiară"
                                   data-lbmat-maginmag8 ="Limba şi literatura maternă maghiară în limba maghiară"
                                   data-lbmat-neogreaca8="Limba şi literatura maternă neogreacă"
                                   data-lbmat-polona8   ="Limba şi literatura maternă polonă"
                                   data-lbmat-rroma8    ="Limba şi literatura maternă rromani"
                                   data-lbmat-rusa8     ="Limba şi literatura maternă rusă"
                                   data-lbmat-sarba8    ="Limba şi literatura maternă sârbă"
                                   data-lbmat-slovaca8  ="Limba şi literatura maternă slovacă"
                                   data-lbmat-turca8    ="Limba şi literatura maternă turcă"
                                   data-lbmat-ucraina8  ="Limba şi literatura maternă ucraineană"
                                   data-lbmod1-engleza8 ="Limbă modernă - engleză"
                                   data-lbmod1-eng-int8 ="Limbă modernă - engleză intensiv"
                                   data-lbmod1-franceza8="Limbă modernă - franceză"
                                   data-lbmod1-fra-int8 ="Limbă modernă - franceză intensiv"
                                   data-lbmod1-italiana8="Limbă modernă - italiană"
                                   data-lbmod1-ita-int8 ="Limbă modernă - italiană intensiv"
                                   data-lbmod1-spaniola8="Limbă modernă - spaniolă"
                                   data-lbmod1-span-int8="Limbă modernă - spaniolă intensiv"
                                   data-lbmod1-ebraica8 ="Limbă modernă - ebraică"
                                   data-lbmod1-germana8 ="Limbă modernă - germană"
                                   data-lbmod1-ger-int8 ="Limbă modernă - germană intensiv"
                                   data-lbmod1-rusa8    ="Limbă modernă - rusă"
                                   data-lbmod1-rus-int8 ="Limbă modernă - rusă intensiv"
                                   data-lbmod1-japoneza8="Limbă modernă - japoneză"
                                   data-lbmod1-jap-int8 ="Limbă modernă - japoneză intensiv"
                                   data-lbmod2-chineza8 ="Limbă modernă - chineză"
                                   data-lbmod2-engleza8 ="Limbă modernă - engleză"
                                   data-lbmod2-franceza8="Limbă modernă - franceză"
                                   data-lbmod2-italiana8="Limbă modernă - italiană"
                                   data-lbmod2-spaniola8="Limbă modernă - spaniolă"
                                   data-lbmod2-turca8   ="Limbă modernă - turcă"
                                   data-lbmod2-germana8 ="Limbă modernă - germană"
                                   data-lbmod2-japoneza8="Limbă modernă - japoneză"
                                   data-lbmod2-rusa8    ="Limbă modernă - rusă"
                                   data-lbmod2-portugheza8="Limbă modernă - portugheză"
                                   data-mat8            ="Matematică"
                                   data-fiz8            ="Fizică"
                                   data-chim8           ="Chimie"
                                   data-bio8            ="Biologie"
                                   data-edusoc8         ="Educație economico-financiară"
                                   data-ist8            ="Istorie"
                                   data-geo8            ="Geografie"
                                   data-rel-advz8       ="Cultul Adventist de Ziua a Şaptea"
                                   data-rel-bapt8       ="Cultul Baptist"
                                   data-rel-crdev8      ="Cultul Creştin după Evanghelie"
                                   data-rel-evca8       ="Cultul Evanghelic CA"
                                   data-rel-grcat8      ="Cultul Greco-Catolic"
                                   data-rel-mus8        ="Cultul Musulman"
                                   data-rel-ort8        ="Cultul Ortodox"
                                   data-rel-ortritv8    ="Cultul Ortodox de Rit Vechi"
                                   data-rel-ortucr8     ="Cultul Ortodox Ucrainean"
                                   data-rel-pen8        ="Cultul Penticostal"
                                   data-rel-ref8        ="Cultul Reformat"
                                   data-rel-refmag8     ="Cultul Reformat în lb. maghiară"
                                   data-rel-romcatro8   ="Cultul Romano-Catolic de limbă română"
                                   data-rel-romcatmg8   ="Cultul Romano-Catolic de limbă maghiară"
                                   data-rel-romcatlbmg8 ="Cultul Romano-Catolic de limbă maghiară în lb. maghiară"
                                   data-rel-unit8       ="Cultul Unitarian"
                                   data-edpl8           ="Educaţie plastică"
                                   data-edmuz8          ="Educaţie muzicală"
                                   data-edmuz-ger8      ="Educaţie muzicală pentru minoritatea germană"
                                   data-edmuz-ita8      ="Educaţie muzicală pentru minoritatea italiană"
                                   data-edmuz-mag8      ="Educaţie muzicală pentru minoritatea maghiară"
                                   data-edmuz-magr8     ="Educaţie muzicală pentru minoritatea maghiară în lb. română"
                                   data-edmuz-pol8      ="Educaţie muzicală pentru minoritatea poloneză"
                                   data-edmuz-rrm8      ="Educaţie muzicală pentru minoritatea rromă"
                                   data-edmuz-srb8      ="Educaţie muzicală pentru minoritatea sârbă"
                                   data-edmuz-slv8      ="Educaţie muzicală pentru minoritatea slovacă"
                                   data-edmuz-tur8      ="Educaţie muzicală pentru minoritatea turcă"
                                   data-edmuz-ucr8      ="Educaţie muzicală pentru minoritatea ucraineană"
                                   data-instr8          ="Instrument principal"
                                   data-tsd8            ="Teorie - Solfegiu - Dicteu"
                                   data-piaux8          ="Pian complementar/instrument auxiliar"
                                   data-dansc8          ="Dans clasic"
                                   data-ritm8           ="Ritmică"
                                   data-desen8          ="Desen"
                                   data-pictr8          ="Pictură"
                                   data-model8          ="Modelaj"
                                   data-fizic8          ="Educaţie fizică şi sport"
                                   data-pfiz-atl8       ="Atletism"
                                   data-pfiz-bad8       ="Badminton"
                                   data-pfiz-bas8       ="Basket"
                                   data-pfiz-bab8       ="Baseball"
                                   data-pfiz-can8       ="Canotaj"
                                   data-pfiz-dns8       ="Dans sportiv"
                                   data-pfiz-fot8       ="Fotbal"
                                   data-pfiz-gif8       ="Gimnastică artistică feminină"
                                   data-pfiz-gim8       ="Gimnastică artistică masculină"
                                   data-pfiz-gir8       ="Gimnastică ritmică"
                                   data-pfiz-hal8       ="Haltere"
                                   data-pfiz-han8       ="Handbal"
                                   data-pfiz-hok8       ="Hochei pe gheaţă"
                                   data-pfiz-hoi8       ="Hochei pe iarbă"
                                   data-pfiz-int8       ="Înot"
                                   data-pfiz-jud8       ="Judo"
                                   data-pfiz-kca8       ="Kaiac-canoe"
                                   data-pfiz-krt8       ="Karate"
                                   data-pfiz-gro8       ="Lupte greco-romane"
                                   data-pfiz-lpl8       ="Lupte libere"
                                   data-pfiz-osp8       ="Orientare sportivă"
                                   data-pfiz-par8       ="Patinaj artistic"
                                   data-pfiz-pav8       ="Patinaj viteză"
                                   data-pfiz-ppa8       ="Polo pe apă"
                                   data-pfiz-rgb8       ="Rugby"
                                   data-pfiz-sne8       ="Sanie"
                                   data-pfiz-sia8       ="Sărituri în apă"
                                   data-pfiz-sap8       ="Schi alpin"
                                   data-pfiz-sbi8       ="Schi biatlon"
                                   data-pfiz-sfd8       ="Schi fond"
                                   data-pfiz-sor8       ="Schi orientare"
                                   data-pfiz-ssr8       ="Schi sărituri"
                                   data-pfiz-scr8       ="Scrimă"
                                   data-pfiz-sfb8       ="Softball"
                                   data-pfiz-sae8       ="Sport aerobic"
                                   data-pfiz-sah8       ="Șah"
                                   data-pfiz-ten8       ="Tenis"
                                   data-pfiz-tem8       ="Tenis de masă"
                                   data-pfiz-vol8       ="Volei"
                                   data-pfiz-yht8       ="Yachting"
                                   data-tec-edtap8      ="Educaţie tehnologică şi aplicaţii practice"
                                   data-tec-info8       ="Informatică şi TIC"
                                   data-tec-ed8         ="Educație tehnologica"
                                   data-cons-ed8        ="Consiliere şi dezvoltare personală"
                                   data-cds-ist8        ="Istorie orală: Istorie trăită-Istorie povestită"
                                   data-cds-lect8       ="Lectura și abilitățile de viață"
                                   data-cds-grne8       ="Limba neoelenă şi civilizația Greciei antice"
                                   data-cds-micr8       ="Mai întâi caracterul"
                                   data-cds-matsc8      ="Matematică și științe în societatea cunoașterii"
                                   data-cds-edvit8      ="Pregătiţi pentru viaţă. Educaţie pentru viaţă şi comunitate"
                                   data-cds-radlt8      ="Rădăcini latine în cultura şi civilizaţia românească"
                                   data-cds-arm8        ="Cultură și tradiții aromâne"
                                   data-cds-fin8        ="Educație financiară"
                                   data-cds-icu8        ="Educație interculturală"
                                   data-cds-eds8        ="Educație pentru sănătate"
                                   data-cds-mag8        ="Limba și literatura maghiară"
                                >Clasa a VIII-a</a>
                            </div>

                            <fieldset>
                                {{!-- Încărcarea DISCIPLINELOR Atenție!!! Numele id-ului trebuie să corespundă câmpului din modelul de date --}}
                                <div id="discipline" style="background-color: whitesmoke;">
                                    {{!-- disciplinele sunt adaugate programatic in functie de clasa selectată --}}
                                </div>
                                {{!-- Încărcarea DISCIPLINELOR END --}}

                                {{!-- Afișarea disciplinelor selectate --}}
                                <div id="disciplineselectate"></div>
                                {{!-- Afișarea disciplinelor selectate END --}}
                            </fieldset>
                        </div>
                    </form>
                </section>
                {{!-- Acesta este selectorul disciplinelor END --}}
            </div>
        </div>
    </div>

    <div id="resursecontainer" class="resurse">
        {{!-- Background video --}}
        <div class="bg-video">
            <video class="bg-video__content" autoplay muted loop>
                {{!-- https://coverr.co/videos/modem-lights-u4MPlcF4EE --}}
                <source src="img/Modem-lights.mp4" type="video/mp4">
                <source src="img/Modem-lights.webm" type="video/webm">
                Browserul tău nu are support pentru caracteristicile web moderne. Actualizează-l!
            </video>
        </div>

        {{!-- Aici va fi injectat butonul de căutare fațetată --}}
        <div id="btnCautaFatetat"></div>

        {{!-- Ultimele resurse afișate --}}
        <div id="primare" class="resurse">
            {{!-- Randează resursele --}}
            {{#each resurse}}
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <a href="/resurse/{{this._id}}">{{this.title}}</a>
                        </h3>
                        <div class="row">
                            <p class="col-sm-6 text-muted">{{this.autori}}</p>
                            <p class="col-sm-6 text-muted">{{this.dataRo}}</p>
                        </div>
                    </div>
                    {{!-- <img class="card-img-top" src="{{this.coperta}}" alt="{{this.title}}"> --}}
                    
                    {{!-- Dacă există copertă, afișeaz-o --}}
                    {{#if this.coperta}}
                        <img src="{{this.coperta}}" class="coperta card-img-top" alt="{{this.title}}">
                        {{else}}
                        <div style="position: relative;">
                            <img src="/img/CREDlogo.jpg" alt="" width="100px" style="position: absolute; top: 5; left: 5">
                            <img data-src="holder.js/100px100&textmode=exact?auto=yes&text=RED" class="card-img-top">
                        </div>
                    {{/if}}

                    <div class="card-body">
                        <p class="card-text">{{this.description}}</p>     
                    </div>
                    
                    <div class="card-footer">
                        {{!-- {{this.date}} --}}
                        {{#each this.etichete}}
                            <a href="/tag/{{this}}">
                                <span class="badge badge-info">{{this}}</span>
                            </a>
                        {{/each}}
                        {{!-- {{this.dataRo}} --}}
                    </div>
                </div>
            {{/each}}
        </div>

        {{!-- Afișarea rezultatelor de căutare --}}
        <div id="searchRes" class="container"></div>
    </div>
    
    <template id="recordRED">

    </template>

    {{!-- Încărcarea modulelor --}}
    {{#each modules}}
        <script type="module" src="{{module}}"></script>
    {{/each}}

    {{#each scripts}}
        <script defer type="application/javascript" src="{{script}}"></script>
    {{/each}}

