{{!< layout}}
{{> nav-resurse}}
{{> messages}}
    <div id="" class="resurse">
        {{!-- Background video --}}
        <div class="bg-video">
            <video class="bg-video__content" autoplay muted loop>
                {{!-- https://coverr.co/videos/modem-lights-u4MPlcF4EE --}}
                <source src="img/Modem-lights.mp4" type="video/mp4">
                <source src="img/Modem-lights.webm" type="video/webm">
                Browserul tău nu are support pentru caracteristicile web moderne. Actualizează-l!
            </video>
        </div>
        {{#each resurse}}
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        <a class="btn btn-dark" href="/resurse/{{this.id}}" class="">{{this.title}}</a>
                    </h5>
                    <h6 class="card-subtitle mb-2">{{this.autori}}</h6>
                    <span class="text-muted">{{this.dataRo}}</span>                                   
                </div>
                <img class="card-img-top" src="{{this.coperta}}" alt="{{this.title}}">
                <div class="card-body">
                    <p class="card-text">{{this.description}}</p>     
                </div>
                <div class="card-footer">
                    {{!-- {{this.date}} --}}
                    {{#each this.etichete}}
                        <a href="/tag/{{this}}">
                            <span class="badge badge-info">{{this}}</span>
                        </a>
                    {{/each}}
                    {{!-- {{this.dataRo}} --}}
                </div>
            </div>
        {{/each}}
    </div>