{{!< layout}}
{{> nav-resurse}}
{{> messages}}

    {{#each scripts}}
        <script src="{{script}}" charset="utf-8"></script>
    {{/each}}

    <h3>Resursele cu care ai contribuit</h3>
    <div id="resurseincred" class="resurse">
        {{#each resurse}}
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        <a class="btn btn-dark" href="/resursepublice/{{this.id}}" class="">{{this.title}}</a>
                    </h5>                                   
                </div>
                <img class="card-img-top" src="{{this.coperta}}" alt="{{this.title}}">
                <div class="card-body">

                    <p class="card-text">{{this.description}}</p>
                    {{!-- <a href="/resursepublice/{{this.id}}" class="btn btn-primary">Afișează</a>    --}}
                </div>
                <div class="card-footer text-muted">
                    {{!-- {{this.date}} --}}
                    {{this.dataRo}}
                </div>
            </div>
        {{/each}}
    </div>