{{!< layout}}
{{> nav-resurse}}
<input type="hidden" name="_csrf" value="{{this.csrfToken}}">

    <template id="paginator">
        <nav aria-label="Căutare">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Anterior</a>
                </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                    <a class="page-link" href="#">Următoarele</a>
                </li>
            </ul>
        </nav>
    </template>

    <template id="searchresult">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    <a id="restitlelnk" class="btn btn-dark" role="button" title="Caută resurse (maxim 250 de caractere)" class=""></a>
                </h5>                                
            </div>
            <div class="card-body">
                <p id="cardtext" class="card-text"></p>     
            </div>
        </div>
    </template>

    <div class="searchFrm container">
        <form id="searchResInCRED">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="resursaCred">Căută resurse: </span>
                </div>
                <input type="text" id="fragSearchDocs" class="form-control" placeholder="introdu un cuvânt cheie, o sintagmă" aria-label="resursaCred" aria-describedby="resursaCred">
                <div class="input-group-append">
                    <button id="searchResIntBtn" data-idx="{{this.resIdx}}" class="btn btn-outline-secondary" type="button">Caută</button>
                </div>
            </div>
        </form>
    </div>

    <div id="resursecontainer" class="resurse">
        {{!-- Background video --}}
        <div class="bg-video">
            <video class="bg-video__content" autoplay muted loop>
                {{!-- https://coverr.co/videos/modem-lights-u4MPlcF4EE --}}
                <source src="img/Modem-lights.mp4" type="video/mp4">
                <source src="img/Modem-lights.webm" type="video/webm">
                Browserul tău nu are support pentru caracteristicile web moderne. Actualizează-l!
            </video>
        </div>

        <div class="fatete">
            <h4>Filtrare</h4>
            <section id="selector">
                <form>
                    <div class="input-group-prepend"
                        data-lbcom-rom0      ="Comunicare în limba română" 
                        data-lbcom-germana0  ="Comunicare în limba română pentru școlile și secțiile cu predare în limba germană" 
                        data-lbcom-maghiara0 ="Comunicare în limba română pentru școlile și secțiile cu predare în limba maghiară" 
                        data-lbcom-rroma0    ="Comunicare în limba română pentru școlile și secțiile cu predare în limba rromani" 
                        data-lbcom-sarba0    ="Comunicare în limba română pentru școlile și secțiile cu predare în limba sârbă" 
                        data-lbcom-slovaca0  ="Comunicare în limba română pentru școlile și secțiile cu predare în limba slovacă" 
                        data-lbmat-bulgara0  ="Comunicare în limba maternă bulgară" 
                        data-lbmat-ceha0     ="Comunicare în limba maternă cehă" 
                        data-lbmat-croata0   ="Comunicare în limba maternă croată" 
                        data-lbmat-germana0  ="Comunicare în limba maternă germană" 
                        data-lbmat-gerinrom0 ="Comunicare în limba maternă germană în limba română" 
                        data-lbmat-italiana0 ="Comunicare în limba maternă italiană" 
                        data-lbmat-maghiara0 ="Comunicare în limba maternă maghiară" 
                        data-lbmat-maginrom0 ="Comunicare în limba maternă maghiară în limba română"
                        data-lbmat-minlbmag0 ="Comunicare în limba maternă maghiară pentru școlile sau clasele cu elevi aparținând minorității naționale maghiare care studiază în limba română (mag)"  
                        data-lbmat-minlbrom0 ="Comunicare în limba maternă maghiară pentru școlile sau clasele cu elevi aparținând minorității naționale maghiare care studiază în limba română (rom)"  
                        data-lbmat-neogreaca0="Comunicare în limba maternă neogreacă" 
                        data-lbmat-polona0   ="Comunicare în limba maternă polonă"
                        data-lbmat-rroma0    ="Comunicare în limba maternă rromani" 
                        data-lbmat-rusa0     ="Comunicare în limba maternă rusă"
                        data-lbmat-sarba0    ="Comunicare în limba maternă sârbă"
                        data-lbmat-slovaca0  ="Comunicare în limba maternă slovacă" 
                        data-lbmat-slolbcl0  ="Comunicare în limba maternă slovacă în limba slovacă" 
                        data-lbmat-turca0    ="Comunicare în limba maternă turcă" 
                        data-lbmat-ucraina0  ="Comunicare în limba maternă ucraineană" 
                        data-lbmat-ucrarom0  ="Comunicare în limba maternă ucraineană în limba română" 
                        data-lbmod0          ="Comunicarea în limba modernă" 
                        data-mate-med0       ="Matematică și explorarea mediului" 
                        data-rel-adv0        ="Religie Cultul Adventist" 
                        data-rel-bapt0       ="Religie Cultul Baptist" 
                        data-rel-evca0       ="Religie Cultul Evanghelic" 
                        data-rel-crdev0      ="Cultul Creştin după Evanghelie" 
                        data-rel-grcat0      ="Religie Cultul Greco-Catolic" 
                        data-rel-ort0        ="Religie cultul ortodox" 
                        data-rel-ortucr0     ="Religie Cultul Ortodox Ucrainean" 
                        data-rel-pen0        ="Religie Cultul Penticostal" 
                        data-rel-ref0        ="Religie Cultul Reformat" 
                        data-rel-romcatmg0   ="Religie Cultul Romano-Catolic de limbă maghiară" 
                        data-rel-romcatro0   ="Religie Cultul Romano-Catolic de limba română" 
                        data-rel-unit0       ="Religie Cultul Unitarian" 
                        data-rel-ortritv0    ="Cultul Ortodox de Rit Vechi" 
                        data-rel-mus0        ="Cultul Musulman" 
                        data-fizic0          ="Educație fizică" 
                        data-muzmi0          ="Muzică și mișcare" 
                        data-muzmi-bg0       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă bulgară" 
                        data-muzmi-ch0       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă cehă" 
                        data-muzmi-hr0       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă croată" 
                        data-muzmi-de0       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă germană" 
                        data-muzmi-dero0     ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă germană (rom)" 
                        data-muzmi-it0       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă italiană" 
                        data-muzmi-mg0       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă maghiară" 
                        data-muzmi-mgro0     ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă maghiară (rom)" 
                        data-muzmi-gr0       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă neogreacă" 
                        data-muzmi-rr0       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă rromani" 
                        data-muzmi-sr0       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă sârbă"  
                        data-muzmi-sl0       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă slovacă" 
                        data-muzmi-tr0       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă turcă" 
                        data-muzmi-ua0       ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă ucraineană" 
                        data-muzmi-uaro0     ="Muzică și mișcare – pentru școlile și secțiile cu predare în limba maternă ucraineană (rom)" 
                        data-art-viz0        ="Arte vizuale și abilități practice" 
                        data-dezv-pers0      ="Dezvoltare personală" 
                        data-opt-eds0        ="Educație pentru sănătate" 
                        data-opt-tra0        ="Activități transdisciplinare"                     
                    >
                        <button type="button" class="btn btn-outline-secondary">
                            Clasa 0
                        </button>
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>

                    {{!-- Selectarea claselor --}}
                    {{!-- <div class="form-group">
                        <label for="clasaFateta">Alege clasa(ele)</label>
                        <select name="clasaF" multiple class="form-control" id="clasaFateta" size="2">
                            <option>Clasa 0</option>
                            <option>Clasa I</option>
                            <option>Clasa a II-a</option>
                            <option>Clasa a III-a</option>
                            <option>Clasa a IV-a</option>
                            <option>Clasa a V-a</option>
                            <option>Clasa a VI-a</option>
                            <option>Clasa a VII-a</option>
                            <option>Clasa a VIII-a</option>
                        </select>
                    </div> --}}

                </form>
            </section>
            <section id="selections">

            </section>
        </div>

        <div id="primare" class="resurse">
            {{#each resurse}}
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">
                            <a class="btn btn-dark" href="/resurse/{{this._id}}">{{this.title}}</a>
                        </h5>
                        <h6 class="card-subtitle mb-2">{{this.autori}}</h6>
                        <span class="text-muted">{{this.dataRo}}</span>                                   
                    </div>
                    {{!-- <img class="card-img-top" src="{{this.coperta}}" alt="{{this.title}}"> --}}
                    
                    {{!-- Dacă există copertă, afișeaz-o --}}
                    {{#if this.coperta}}
                        <img src="{{this.coperta}}" class="coperta card-img-top" alt="{{this.title}}">
                        {{else}}
                        <div style="position: relative;">
                            <img src="/img/CREDlogo.jpg" alt="" width="100px" style="position: absolute; top: 5; left: 5">
                            <img data-src="holder.js/100px100&textmode=exact?auto=yes&text=RED" class="card-img-top">
                        </div>
                    {{/if}}

                    <div class="card-body">
                        <p class="card-text">{{this.description}}</p>     
                    </div>
                    <div class="card-footer">
                        {{!-- {{this.date}} --}}
                        {{#each this.etichete}}
                            <a href="/tag/{{this}}">
                                <span class="badge badge-info">{{this}}</span>
                            </a>
                        {{/each}}
                        {{!-- {{this.dataRo}} --}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

    {{#each scripts}}
        <script type="application/javascript" src="{{script}}"></script>
    {{/each}}

