{{!< editare-res}}
{{> nav-resurse}}
{{> messages}}
<input type="hidden" name="_csrf" value="{{this.csrfToken}}">
<div id="resursaincredadm" class="resurse">
    <div data-id="{{resursa._id}}" data-contribuitor="{{resursa.idContributor}}" data-content="{{json resursa}}" id="{{resursa._id}}" class="resursa">
        {{!-- Dacă există copertă, afișeaz-o --}}
        {{#if resursa.coperta}}
            <img src="{{resursa.coperta}}" class="coperta card-img-top" alt="{{resursa.title}}">
            {{else}}
            <div style="position: relative;">
                <img src="/img/CREDlogo.jpg" alt="" width="100px" style="position: absolute; top: 5; left: 5">
                <img data-src="holder.js/100px100&textmode=exact?auto=yes&text=RED" class="coperta card-img-top" alt="{{resursa.title}}">
            </div>
        {{/if}}

        {{!-- Datele sunt injectate prin helperul Handlebars --}}
        <div class="container redcontent">
            <div class="card-title">
                <h5>Titlul resursei: {{resursa.title}}</h5>
                <aside>
                    <strong>Verificată: {{{resursa.validate}}}</strong>
                </aside>
            </div>
            {{#if resursa.titleI18n}}
                <h5>Titluri alternative:</h5>
                {{#each resursa.titleI18n}}
                    {{#each this}}
                        <strong>{{@key}}: {{.}}</strong>
                    {{/each}}
                {{/each}}
            {{/if}}              
            {{!-- <button id="resedadm" type="button" class="btn btn-warning">Editează resursa</button> --}}
            <h5>Data introducerii resursei</h5>
            <p>{{resursa.dataRo}}</p>
            <h5>Autori:</h5>
            <p>{{resursa.autori}}</p>
            <h5>Contribuitor:</h5>
            <p>{{resursa.idContributor}}</p>
            <h5>Descrierea resursei:</h5>
            <p class="card-text">{{resursa.description}}</p>
            <h5>Arie curriculară:</h5>
            <ul>
                {{#each resursa.arieCurriculara}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
            <h5>Clasa:</h5>
            <ul>
                {{#each resursa.level}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
            <h5>Discipline:</h5>
            <ul>
                {{#each resursa.discipline}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
            <h5>Competențe generale:</h5>
            <ul>
                {{#each resursa.competenteGen}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
            <h5>Competențe specifice:</h5>
            <ul>
                {{#each resursa.competenteS}}
                    <li>
                        {{#this}}
                            {{nume}}
                        {{/this}}
                    </li>
                {{/each}}
            </ul>
            <h5>Activități:</h5>
            <ul>
                {{#each resursa.activitati}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
            <h5>Grup țintă:</h5>
            <ul>
                {{#each resursa.grupuri}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
            <h5>Domeniul căruia i se adresează resursa:</h5>
            <ul>
                {{#each resursa.domeniu}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
            <h5>Resursa vizează:</h5>
            <ul>
                {{#each resursa.functii}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
            <h5>Tipul de demers / raționament utilizat în realizarea resursei:</h5>
            <ul>
                {{#each resursa.demersuri}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
            <h5>Activitatea se desfășoară:</h5>
            <ul>
                {{#each resursa.spatii}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
            <h5>Modul în care se produce învățarea se face prin:</h5>
            <ul>
                {{#each resursa.invatarea}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
            <h5>Mijloace / materiale didactice necesare</h5> 
            <p>{{resursa.dependinte}}</p>
            <h5>Licența:</h5>
            <p>{{resursa.licenta}}</p>
            {{#if resursa.bibliografie}}
                <h5>Bibliografie</h5>
                <p>{{resursa.bibliografie}}</p>
            {{/if}}
            <h5>Etichete</h5>
            <div>
                {{#each resursa.etichete}}
                    <a href="#" class="badge badge-success">{{this}}</a>
                {{/each}}
            </div>
            <h5>Conținut</h5>
            {{!-- <div class="content">
                <!-- AFIȘAREA CONȚINUTULUI este de fapt o transformare în html a obiectului content. Vezi resincredid.ctrl.js -->
                {{{this.content}}}
            </div> --}}

            {{!-- EDITOR --}}
            <div id="edi"></div>
        </div>
    </div>
</div>

{{#each scripts}}
    <script type="application/javascript" src="{{script}}"></script>
{{/each}}
