{{!< layout}}
{{> nav-resurse}}
{{> messages}}
<div id="resursaincredadm" class="resurse">
    {{#each resursa}}
        <div data-id="{{this._id}}" data-contribuitor="{{this.idContributor}}" id="{{this._id}}" class="resursa">
            <img class="coperta" src="{{this.coperta}}" class="card-img-top" alt="{{this.title}}" style="width: 18rem;">
            <div class="">
                <button id="resdeladm" type="button" class="btn btn-danger" data-toggle="modal" data-target="#delModal">Șterge resursa</button>
                <button id="resedadm" type="button" class="btn btn-warning">Editează resursa</button>
                <h5>Data introducerii resursei</h5>
                <p>{{this.dataRo}}</p>
                <h5>Verificată:</h5>
                <p>{{this.expertCheck}}</p>
                <h5 class="card-title">Titlul resursei: {{this.title}}</h5>
                <h5>Titluri alternative:</h5>
                {{#each this.titleI18n}}
                    {{#each this}}
                        <strong>{{@key}}: {{.}}</strong>
                    {{/each}}
                {{/each}}
                <h5>Autori:</h5>
                <p>{{this.autori}}</p>
                <h5>Contribuitor:</h5>
                <p>{{this.idContributor}}</p>
                <h5>Descrierea resursei:</h5>
                <p class="card-text">{{this.description}}</p>
                <h5>Arie curriculară:</h5>
                <ul>
                    {{#each this.arieCurriculara}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                <h5>Clasa:</h5>
                <ul>
                    {{#each this.level}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                <h5>Discipline:</h5>
                <ul>
                    {{#each this.discipline}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                <h5>Competențe generale:</h5>
                <ul>
                    {{#each this.competenteGen}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                <h5>Competențe specifice:</h5>
                <ul>
                    {{#each this.competenteS}}
                        <li>
                            {{#this}}
                                {{nume}}
                            {{/this}}
                        </li>
                    {{/each}}
                </ul>
                <h5>Activități:</h5>
                <ul>
                    {{#each this.activitati}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                <h5>Grup țintă:</h5>
                <ul>
                    {{#each this.grupuri}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                <h5>Domeniul căruia i se adresează resursa:</h5>
                <ul>
                    {{#each this.domeniu}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                <h5>Resursa vizează:</h5>
                <ul>
                    {{#each this.functii}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                <h5>Tipul de demers / raționament utilizat în realizarea resursei:</h5>
                <ul>
                    {{#each this.demersuri}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                <h5>Activitatea se desfășoară:</h5>
                <ul>
                    {{#each this.spatii}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                <h5>Modul în care se produce învățarea se face prin:</h5>
                <ul>
                    {{#each this.invatarea}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
                <h5>Mijloace / materiale didactice necesare</h5> 
                <p>{{this.dependinte}}</p>
                <h5>Licența:</h5>
                <p>{{this.licenta}}</p>
                <h5>Bibliografie</h5>
                <p>{{this.bibliografie}}</p>
                <h5>Etichete</h5>
                <div>
                    {{#each this.etichete}}
                        <a href="#" class="badge badge-success">{{this}}</a>
                    {{/each}}
                </div>
                <h5>Conținut</h5>
                <div class="content">
                    {{!-- AFIȘAREA CONȚINUTULUI este de fapt o transformare în html a obiectului content. Vezi resincredid.ctrl.js --}}
                    {{{this.content}}}
                </div>
                {{!-- Integrarea editorului de text --}}
                {{!-- <div id="codex-editor"></div> --}}
                {{!-- Încarcă aici scripturile pentru a evita oul înaintea găinii! :D --}}
                {{#each scripts}}
                    <script src="{{script}}"></script>
                {{/each}}
            </div>
        </div>
    {{/each}}
    <!-- Modal -->
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="delModalLabel">ȘTERGE</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
        </div>
        <div class="modal-body"> Atenție, chiar vrei să ștergi resursa? </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">NU</button>
            <a href="#delete" id="delete" class="btn btn-primary" onclick="deleteRes()">DA</a> </div>
        </div>
    </div>
    </div>
</div>
{{#each scripts}}
    <script src="{{script}}"  charset="utf-8"></script>
{{/each}}
