{{!< editare-res}}
{{> nav-resurse}}
{{> messages}}
<input type="hidden" name="_csrf" value="{{this.csrfToken}}">

<div id="resursaincredadm" class="resurse">
    <div data-id="{{resursa._id}}" data-contribuitor="{{resursa.idContributor}}" data-content="{{json resursa}}" data-uuid="{{resursa.uuid}}" id="{{resursa._id}}" class="resursa">
        {{!-- Datele sunt injectate prin helperul Handlebars --}}
        <div class="container redcontent">

            {{!-- Dacă există copertă, afișeaz-o --}}
            {{#if resursa.coperta}}
                <img src="{{resursa.coperta}}" class="coperta card-img-top" alt="{{resursa.title}}">
            {{/if}}
            
            {{!-- Afișează titlul și descrierea --}}
            <div class="card-title jumbotron">
                <h1 class="display-4" itemprop="name" contenteditable="true">{{resursa.title}}</h1>
                <p itemprop="description" class="lead" contenteditable="true">{{resursa.description}}</p>
                <aside>
                    <strong>Verificată: {{{resursa.validate}}}</strong>
                    <strong>Publică: {{{resursa.genPub}}}</strong>
                </aside>
            </div>

            {{!-- Dacă există titluri alternative, afișează-le --}}
            {{#if resursa.titleI18n}}
                <div class="titlaltres">
                    <h5>Titluri alternative</h5>
                    {{#each resursa.titleI18n}}
                        {{#each this}}
                            <strong itemprop="alternativeHeadline" contenteditable="true">{{@key}}: {{.}}</strong>
                        {{/each}}
                    {{/each}}
                </div>
            {{/if}}

            {{!-- Data elaborării resursei și cine a propus-o --}}
            <div class="descrres">
                <p data-toggle="tooltip" data-placement="bottom" title="Data introducerii resursei">
                    <meta itemprop="datePublished" content="{{resursa.dataRo}}">
                    {{resursa.dataRo}}
                </p>
                <p itemprop="creator">
                    <a href="/user/{{resursa.idContributor}}" itemprop="accountablePerson" data-toggle="tooltip" data-placement="top" title="Este cel care a introdus resursa.">
                        <i class="fas fa-user-circle"></i>
                    </a> <span id="autorii" contenteditable="true">{{resursa.autori}}</span>
                </p>
            </div>
            
            {{!-- Menționarea nivelului competențelor digitale necesare [NEW] --}}
            {{#if resursa.abilitati}}
                <div class="abildigrespub">
                    <h5>RED-ul necesită competențe digitale de nivelul</h5>
                    <button id="titluLangAdd" class="btn btn-outline-secondary m-2" type="button" onclick="showCompDig()">
                        <i class="fas fa-plus-circle"></i>
                    </button>
                    <button type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Competențe digitale">
                        {{resursa.abilitati}}
                    </button>
                </div>
            {{/if}}
            {{!-- NIVELURI --}}
            <div id="compdig" class="form-group" hidden>
            <h4>Competențe digitale necesare</h4>
            <label for="valid-level">RED-ul necesită competențe digitale de nivelul:</label>
            <select class="form-control" id="valid-abil">
                <option value="minim">minim</option>
                <option value="mediu">mediu</option>
                <option value="avansat">avansat</option>
            </select>
            </div>
            {{!-- NIVELURI END--}}

            {{!-- Afișarea ariei curriculare --}}
            <div class="comprespub">
                <h5>Arie curriculară</h5>
                {{!-- Buton de adăugare a unei arii curriculare suplimentare --}}
                <button id="titluLangAdd" class="btn btn-outline-secondary m-2" type="button" onclick="showArii()">
                    <i class="fas fa-plus-circle"></i>
                </button>
                {{#each resursa.arieCurriculara}}
                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="{{this}}">
                        {{this}}
                    </button>
                {{/each}}
                <div id="ariiNoi">
                    {{!-- AICI APARE SELECTORUL DE ARII --}}
                    <select id="arii-curr" class="form-control custom-select" size="8" multiple hidden>
                        <option data-lbcom   ="lbcom"    value="Limbă și comunicare" onclick="adaugArie()">Limbă și comunicare</option>
                        <option data-matstnat="matstnat" value="Matematică și științe ale naturii">Matematică și științe ale naturii</option>
                        <option data-omsoc   ="omsoc"    value="Om și societate">Om și societate</option>
                        <option data-edfizsp ="edfizsp"  value="Educație fizică și sport">Educație fizică și sport</option>
                        <option data-arte    ="arte"     value="Arte">Arte</option>
                        <option data-teh     ="teh"      value="Tehnologii">Tehnologii</option>
                        <option data-consor  ="consor"   value="Consiliere și orientare">Consiliere și orientare</option>
                        <option data-currsc  ="currsc"   value="Curriculum la decizia școlii">Curriculum la decizia școlii</option>
                    </select>
                </div>
            </div>

            {{!-- Afișarea clasei(lor) pentru care a fost elaborată resursa --}}
            <div class="comprespub">
                <h5 itemprop="alignmentType">Clasa</h5>
                {{#each resursa.level}}
                    <a class="btn btn-outline-dark" href="#" role="button">{{this}}</a>
                {{/each}}
            </div>

            {{!-- Disciplinele pentru care a fost elaborată resursa --}}
            {{#if resursa.discipline}}
                <div class="comprespub discsrespub">
                    <h5>Discipline</h5>
                    {{#each resursa.discipline}}
                        <button type="button" class="btn btn-primary btn-sm">
                            <i class="fas fa-book-open"></i> {{this}}
                        </button>
                    {{/each}}
                </div>
            {{/if}}

            {{!-- Afișarea competențelor generale --}}
            {{#if resursa.competenteGen}}
                <div class="comprespub">
                    <h5>Competențe generale</h5>
                    {{#each resursa.competenteGen}}
                        <em>{{this}}</em>
                    {{/each}}
                </div>
            {{/if}}

            {{!-- Afișarea competențelor specifice --}}
            {{#if resursa.competenteS}}
                <div class="compspecrespub">
                    <h5>Competențe specifice</h5>            
                    {{#each resursa.competenteS}}
                        <a class="btn btn-primary" href="/competentas/{{this._id}}" role="button" data-toggle="tooltip" data-placement="top" title="Face parte din competența generală: {{this.parteA}}">
                            {{this.nume}} <span class="badge badge-light">{{this.nivel}}</span>
                        </a>                
                    {{/each}}
                </div>
            {{/if}}

            {{!-- Afișarea activităților selectare pentru fiecare competență specifică --}}
            {{#if resursa.activitati}}
                <div class="activsrespub">
                    <h5>Activități</h5>
                    <ul>
                        {{#each resursa.activitati}}
                            <li>
                                {{{this}}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}

            {{!-- Competențe digitale necesare ca nivel [LEGACY] --}}
            {{#if resursa.grupuri}}
                <div class="compsdigrespub">
                    <h5> RED-ul se adresează în mod direct</h5>
                    <ul itemprop="audience" itemscope itemtype="http://schema.org/EducationalAudience">
                        {{#each resursa.grupuri}}
                            <li itemprop="educationalRole">
                                {{this}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}

            {{!-- Activități de învățare susținute [NEW] --}}
            {{#if resursa.rol}}
                <div class="rolrespub">
                    <h5>Activități de învățare susținute</h5>
                    <p>{{resursa.rol}}</p>
                </div>
            {{/if}}

            {{!-- Resursele necesare pentru utilizarea RED-ului [NEW] --}}
            {{#if resursa.materiale}}
                <div class="domeniuadrrespub">
                    <h5>Domeniul căruia i se adresează resursa</h5>
                    <ul>
                        {{#each resursa.materiale}}
                            <li>
                                {{this}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}

            {{!-- Demeniul căreia i se adresează resursa [LEGACY] --}}
            {{#if resursa.domeniu}}
                <div class="domeniuadrrespub">
                    <h5>Domeniul căruia i se adresează resursa</h5>
                    <ul>
                        {{#each resursa.domeniu}}
                            <li>
                                {{this}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}

            {{!-- Care sunt funcțiile pe care resursa le vizează [LEGACY] --}}
            {{#if resursa.functii}}
                <div class="funcsrespub">
                    <h5>Resursa vizează:</h5>
                    <ul>
                        {{#each resursa.functii}}
                            <li itemprop="learningResourceType">
                                {{this}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}

            {{!-- Afișează tipurile de demersuri / raționamente utilizate în realizarea funcției [LEGACY] --}}
            {{#if resursa.demersuri}}
                <div class="demersrespub">
                    <h5>Tipul de demers / raționament utilizat în realizarea resursei</h5>
                    <ul>
                        {{#each resursa.demersuri}}
                            <li>
                                {{this}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}

            {{!-- Cum se desfășoară activitatea [LEGACY] --}}
            {{#if resursa.spatii}}
                <div class="atsdesrespub">
                    <h5>Activitatea se desfășoară:</h5>
                    <ul>
                        {{#each resursa.spatii}}
                            <li itemprop="educationalUse">
                                {{this}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}

            {{!-- Afișează cum se produce învățarea [LEGACY] --}}
            {{#if resursa.invatarea}}
                <div class="mijsrespub">
                    <h5>Modul în care se produce învățarea se face prin</h5>
                    <ul>
                        {{#each resursa.invatarea}}
                            <li>
                                {{this}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}

            {{!-- Afișează Mijloace / materiale didactice necesare [LEGACY] --}}
            {{#if resursa.invatarea}}
                <div class="depssrespub">
                    <h5>Mijloace / materiale didactice necesare</h5> 
                    <p>{{resursa.dependinte}}</p>
                </div>
            {{/if}}

            {{!-- Afișarea licenței sub care stă opera --}}
            <div class="licrespub">
                <h5>Licența</h5>
                <p itemprop="license">{{resursa.licenta}}</p>
            </div>

            {{!-- Dependințe --}}
            {{#if resursa.dependinte}}
                <div class="depsrespub">
                    <h5>Alte resurse necesare:</h5>
                    <p>{{resursa.dependinte}}</p>
                </div>
            {{/if}}

            {{!-- Intrumente folosite în elaborarea RED-ului [NEW] --}}
            {{#if resursa.relatedTo}}
                <div class="mijsrespub">
                    <h5>Intrumente folosite în elaborarea RED-ului</h5>
                    <ul>
                        {{#each resursa.relatedTo}}
                            <li>
                                {{this}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}

            {{!-- Afișarea bibliografiei --}}
            {{#if resursa.bibliografie}}
                <div class="bibsrespub">
                    <h5>Bibliografie</h5>
                    <p>{{resursa.bibliografie}}</p>
                </div>
            {{/if}}

            {{!-- Afișarea etichetelor atașare resursei --}}
            <div class="tagsrespub">
                <h5>Etichete</h5>
                {{#each resursa.etichete}}
                    <a itemprop="keywords" href="/tag/{{this}}" class="badge badge-success">{{this}}</a>
                {{/each}}
            </div>

            <h5>Conținut</h5>
            {{!-- EDITOR --}}
            <div id="edi"></div>        

            {{!-- Selector de imagine pentru coperta resursei --}}
            <fieldset>
                <legend>Selectează imaginea care va fi coperta resursei</legend>
                <div id="imgSelector"></div>
            </fieldset>

            {{!-- BUTON ȘTERGE RESURSA --}}
            <button type="button" class="btn btn-danger" onclick="deleteRes()">Șterge resursa</button>
            {{!-- data-toggle="modal" data-target="#delModal"  --}}
        </div>
    </div>
</div>

{{!-- Modal --}}
<div class="modal" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delModalLabel">ȘTERGE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Închide">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">Atenție, chiar vrei să ștergi resursa?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">NU</button>
                <a href="" id="delete" class="btn btn-primary" onclick="deleteRes()">DA</a>
            </div>
        </div>
    </div>
</div>

{{#each scripts}}
    <script src="{{script}}"  charset="utf-8"></script>
{{/each}}
