<!DOCTYPE html>
<html lang="ro">
    <head prefix="dc: http://purl.org/dc/elements/1.1 dcterms: http://purl.org/dc/terms">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta name="keywords"    content="{{brandname}}">
        <meta name="description" content="{{description}}">
        <meta name="generator"   content="{{brandname}}">
        <meta name="creator"     content="{{creator}}">
        <meta name="author"      content="{{author}}">
        <meta name="publisher"   content="{{publisher}}">
        
        <meta property="dc:title"       content="{{brandname}}">
        <meta property="dc:description" content="{{description}}">
        <meta property="dc:identifier"  content="{{data.uuid}}">
        <meta property="dc:publisher"   content="{{data.publisher}}">
        
        <meta itemprop="name"           content="{{brandname}}">
        <meta itemprop="description"    content="{{description}}">

        <meta property="uuid"           content="{{data.uuid}}">

        <meta name="csrf-token" content="{{csrfToken}}">
        
        {{!-- SOCKET --}}
        {{!-- <script src="https://cdn.socket.io/3.1.1/socket.io.min.js" integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO" crossorigin="anonymous"></script> --}}
        {{!-- <script type="application/javascript" src="/socket.io/socket.io.js" charset="utf-8" crossorigin="anonymous"></script> --}}
        {{!-- <script type="text/html" src="/socket.io/socket.io.js" charset="utf-8" crossorigin="anonymous"></script> --}}
        {{!-- <script type="application/javascript" src="/socket.io/socket.io.js" charset="utf-8" crossorigin="anonymous"></script> --}}
        {{!-- În cazul în care sunt probleme cu browserele, activează încărcarea scriptului în mod direct --}}
        <script type="application/javascript" src="/{{template}}/lib/npm/socket.io.min.js"></script>
        
        {{!-- ES6 SHIM --}}
        <script type="application/javascript" src="/{{template}}/lib/es6-shim/es6-shim.min.js"></script>

        {{!-- JQUERY --}}
        <script type="application/javascript" src="/jquery/dist/jquery.min.js"></script>

        {{!-- JQUERY TOAST --}}
        <script type="application/javascript" src="/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/jquery-toast-plugin/dist/jquery.toast.min.css">

        {{!-- BOOTSTRAP 5 --}}
        <script type="application/javascript" src="/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap-utilities.min.css">
        <link rel="stylesheet" type="text/css" href="/bootstrap-icons/font/bootstrap-icons.css">

        {{!-- MAIN --}}
        <link rel="stylesheet" type="text/css" href="/{{template}}/css/main.css">

        {{!-- Încărcarea foilor de stil din module --}}
        {{#each styles}}  
            <link rel="stylesheet" type="text/css" href="{{this.style}}">
        {{/each}}

        {{!-- Preîncărcarea modulelor --}}
        {{#each modules}}
            <link rel="modulepreload" href="/{{this.module}}"></script>
        {{/each}}

        {{!-- Încărcarea modulelor --}}
        {{#each modules}}
            <script type="module" src="/{{this.module}}"></script>
        {{/each}}

        <title>{{title}}</title>
    </head>
    <body data-spy="scroll" data-target="#navbarResponsive" class="landing-page {{template}}">

        {{{body}}}

        <footer class="py-4 bg-light">
            {{> footer_k1}}
        </footer>

        <!-- Optional JavaScript -->
        
        {{!-- Încărcarea scripturilor --}}
        {{#each scripts}}
            <script defer type="application/javascript" src="/{{template}}{{script}}"></script>
        {{/each}}
    </body>
</html>